In [55]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine
from dateutil.relativedelta import relativedelta
from pricing.service.scoring.lscore import LScoring
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

-  Avaliar meses em que o faturamento foi zero (antes dos ultimos 6 meses)
-  Avaliar o periodo em que o faturamento ficou  x% abaixo da media
-   Avaliar a amplitude do faturamento

#### Qual a probabilidade de se observar faturamento nulo nos ultimos 12 meses?

In [85]:
lista_teste = ['26998230000185', '17160880000166', '13.919.916/0001-91']

In [86]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
con = engine.connect()
df = pd.read_sql("select * from tb_Fluxo where cnpj in {}".format(tuple(lista_teste)), con)
con.close()

In [87]:
df = df[['cnpj', 'dataFluxo', 'valorFluxo']]

In [88]:
df.columns = ['cnpj', 'data', 'valor']

In [15]:
dt = df[df['cnpj']=='26998230000185']

In [89]:
dt['data'] = dt.apply(lambda x : x['data'] + relativedelta(months=5), axis=1)

In [21]:
dt

              cnpj        data     valor
8   26998230000185  2018-04-01      1.00
9   26998230000185  2018-05-01    941.29
10  26998230000185  2018-06-01  14411.86
11  26998230000185  2018-07-01      1.00
12  26998230000185  2018-08-01  14504.11
13  26998230000185  2018-09-01  37715.25
14  26998230000185  2018-10-01   7613.16
15  26998230000185  2018-11-01  13119.30
16  26998230000185  2018-12-01  20756.57
17  26998230000185  2019-01-01  15183.44
18  26998230000185  2019-02-01  12967.61

In [22]:
body = {'dados' : dt[['data', 'valor']].to_dict("records"), 'id_produto' : 'tomatico'}
ls = LScoring(body)
ls.calcula()

{'score': 607}

In [13]:
trace = go.Scatter(
    x  = dt['data'],
    y = dt['valor'],
)
layout = go.Layout(title='faturamento')
fig = go.Figure(data = [trace], layout = layout)
iplot(fig)

In [23]:
dt = df[df['cnpj']=='17160880000166']

In [26]:
body = {'dados' : dt[['data', 'valor']].to_dict("records"), 'id_produto' : 'tomatico'}

In [27]:
ls = LScoring(body)
ls.calcula()

{'score': 771}

In [25]:
trace = go.Scatter(
    x  = dt['data'],
    y = dt['valor'],
)
layout = go.Layout(title='faturamento')
fig = go.Figure(data = [trace], layout = layout)
iplot(fig)

In [30]:
_df = df[df['cnpj']=='26998230000185']

In [32]:
_df['valor'].mean()

12474.053636363638

In [39]:
abs( - 0) < 0.1

True

In [40]:
_df['valor'].min()/_df['valor'].mean()

8.016640212968605e-05

In [42]:
_df['low'] = _df['valor']/_df['valor'].mean()

In [44]:
_df['low'].max()/_df['low'].min()

37715.25

In [45]:
_df['valor'].max()/_df['valor'].min()

37715.25

In [48]:
_df[_df['low']< 1]['low'].mean()

0.17148495287563806

In [51]:
len(_df[_df['low']< 1])/len(_df)

0.36363636363636365

In [52]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select * from fluxo_pv", con)
con.close()

In [58]:
df['data'].iloc[10]

datetime.date(2018, 8, 1)

In [61]:
df.drop(index=0, inplace=True)

In [63]:
df = df[df['data']>datetime(2018,2,1).date()]

In [66]:
df = df[df['cpf_cnpj']!='00.000.000/0001-91']

In [69]:
df.groupby('cpf_cnpj').count().max()

email             12
data_cadastro     12
flag_cnpj         12
data              12
valor             12
prop_boleto       12
flag_aprovacao    12
data_posicao      12
dtype: int64

In [71]:
df['zeros'] = df.apply(lambda x : int(x['valor'] == 0), axis=1)

In [74]:
df_zeros = df.groupby('cpf_cnpj').sum().reset_index()[['cpf_cnpj', 'zeros']]

In [76]:
df_zeros[df_zeros['zeros']>0]

                cpf_cnpj  zeros
799       075.700.026-60      1
898       081.862.799-97      2
1163  11.176.668/0001-00      3
1374  13.919.916/0001-91      2
2646      327.408.428-05      2
2851      423.316.708-46      1

In [83]:
dt = df[df['cpf_cnpj']=='13.919.916/0001-91'][['cpf_cnpj', 'data', 'valor']]

In [91]:
dt['cpf_cnpj'] = dt.apply(lambda x : x['cpf_cnpj'].replace(".", "").replace("/", "").replace("-", ""), axis=1)

In [93]:
dt.columns = ['cnpj', 'data', 'valor']

In [95]:
df = pd.concat([df, dt])

In [97]:
df.to_excel("base_zeros.xlsx")

In [2]:
from datetime import datetime

In [3]:
datetime.now().date().replace(day=1)

datetime.date(2019, 3, 1)