In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
con = engine.connect()
df1 = pd.read_sql("select * from tb_Fluxo", con)

In [3]:
df1 = df1.groupby(['cnpj', 'dataFluxo']).sum().reset_index()[['cnpj', 'dataFluxo', 'valorFluxo']]

In [4]:
df1.columns = ['cnpj', 'data', 'valor']

In [5]:
df1.index = pd.to_datetime(df1.data)

In [6]:
df1 = df1.groupby('cnpj').resample('MS').sum().reset_index()

In [7]:
df1['produto'] = 'tomatico'

In [8]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df2 = pd.read_sql("select * from fluxo_moip", con)
con.close()

In [9]:
df2 = df2[['cpf_cnpj', 'data', 'pgto_liquido']]

In [10]:
df2 = df2[df2['cpf_cnpj']!='00.000.000/0001-91'].iloc[1:, :]

In [11]:
df2.columns = ['cnpj', 'data', 'valor']

In [12]:
df2['produto'] = 'moip'

In [13]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df3 = pd.read_sql("select * from fluxo_pv", con)
con.close()

In [14]:
df3 = df3[['cpf_cnpj', 'data', 'valor']]

In [15]:
df3 = df3[df3['cpf_cnpj']!='00.000.000/0001-91']

In [16]:
df3.columns = ['cnpj', 'data', 'valor']

In [17]:
df3['produto'] = 'pv'

In [18]:
final = pd.concat([df1, df2, df3])

In [19]:
final.shape

(107494, 4)

In [20]:
final.to_excel('../tabelas/faturamento_201904.xlsx')