In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_dividas = pd.read_excel("../tabelas/base_dividas_201904.xlsx")

In [4]:
df_dividas.columns

Index(['cnpj', 'data_ocorrencia', 'descricao_natureza', 'modalidade_natureza',
       'natureza', 'tipo', 'uf', 'valor'],
      dtype='object')

In [11]:
df_dividas[df_dividas["cnpj"]==19008188000142]

,cnpj,data_ocorrencia,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor
0,19008188000142,21/05/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53"
1,19008188000142,22/03/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,00"
2,19008188000142,15/03/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,80"
3,19008188000142,01/03/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50"
4,19008188000142,22/02/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50"
5,19008188000142,11/07/2017,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 421,44"
6,19008188000142,21/11/2016,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 769,65"
7,19008188000142,04/11/2016,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 769,65"
8,19008188000142,31/10/2016,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 681,50"
9,19008188000142,30/04/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 10880,22"
10,19008188000142,31/03/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 6184,94"
11,19008188000142,28/02/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 8332,48"
12,19008188000142,07/11/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 7019,17"
13,19008188000142,22/10/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 7019,17"
14,19008188000142,24/09/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 8381,92"
15,19008188000142,08/10/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 7019,17"
16,19008188000142,01/07/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 1165,50"
17,19008188000142,31/07/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 1165,50"
18,19008188000142,30/07/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 6492,76"
19,19008188000142,19/07/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 12123,28"
20,19008188000142,19/07/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 6492,78"
21,19008188000142,19/06/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 12129,45"
0,19008188000142,31/01/2015,NaN,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,NaN,"R$ 25397,64"

In [12]:
df = df_dividas[['cnpj', 'uf']]

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df['cnpj'] = df.apply(lambda x : str(x['cnpj']), axis=1)

In [16]:
df.head()

             cnpj   uf
0  19008188000142   SP
0  19008188000142  NaN
0    748390000182   SP
0    748390000182  NaN
3    748390000182   BA

In [17]:
df['cnpj'] = df.apply(lambda x : "0" + x['cnpj'] if len(x['cnpj'])==13 else
                      ("00" + x["cnpj"] if len(x["cnpj"])==12 else x["cnpj"]), axis=1)

In [18]:
df['cnpj'].unique().tolist().__len__()

717

In [19]:
df.dropna(inplace=True)

In [20]:
df = df[df['uf']!='  ']

In [21]:
df.groupby("cnpj").count().sort_values("uf", ascending=False).head()

                uf
cnpj
191             16
60701190000104  14
60889128000180  13
14168536000125   7
71673990000177   7

In [22]:
df_end = pd.read_excel('../tabelas/tb_endereco_cnpj.xlsx')

In [23]:
df_end['cnpj'] = df_end.apply(lambda x : str(x["doc"]), axis=1)

In [24]:
df_end['cnpj'] = df_end.apply(lambda x : "0" + x['cnpj'] if len(x['cnpj'])==13 else
                      ("00" + x["cnpj"] if len(x["cnpj"])==12 else x["cnpj"]), axis=1)

In [25]:
df_end.rename(columns={'uf' : 'uf_cnpj'}, inplace=True)

In [26]:
df.shape

(587, 2)

In [27]:
df = df.merge(df_end[['cnpj', 'uf_cnpj']], left_on='cnpj', right_on='cnpj', how='left')

In [28]:
df.to_excel("../tabelas/dataset_geo_analise_201904.xlsx")

In [29]:
df[df['cnpj']=='71673990000177']

               cnpj  uf uf_cnpj
455  71673990000177  SP      SP
456  71673990000177  DF      SP
457  71673990000177  RJ      SP
458  71673990000177  RO      SP
459  71673990000177  PE      SP
460  71673990000177  PR      SP
461  71673990000177  AM      SP

In [32]:
Paraná (PR) = Curitiba
25 - Rio Grande do Sul (RS) = Porto Alegre
26 - Santa Catarina (SC) = Florianópolis

0.2692307692307692

In [30]:
regioes = {"norte" : ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC'],
           "nordeste" : ['MA', 'PI', 'CE', 'RN', 'PE', 'PB', 'SE', 'AL', 'BA'],
           "centro_oeste" : ['MT', 'MS', 'GO'],
           "sudeste" : ['SP', 'RJ', 'ES', 'MG'],
            "sul" : ['PR', 'RS', 'SC']
          }

In [31]:
df_regioes = pd.DataFrame({'uf' : regioes.get('norte') + regioes.get('nordeste') + regioes.get('centro_oeste') +
                         regioes.get('sudeste') + regioes.get("sul")})

In [32]:
df_regioes["regiao"] = df_regioes.apply(lambda x : "norte" if x["uf"] in regioes.get("norte") else
                                        ("nordeste" if x["uf"] in regioes.get("nordeste") else
                                        ("centro_oeste" if x["uf"] in regioes.get("centro_oeste") else
                                        "sudeste" if x["uf"] in regioes.get("sudeste") else "sul")), axis=1)

In [33]:
df_regioes.head()

   uf regiao
0  AM  norte
1  RR  norte
2  AP  norte
3  PA  norte
4  TO  norte

In [34]:
df.shape

(587, 3)

In [35]:
df = df.merge(df_regioes, left_on='uf', right_on='uf', how='left')

In [36]:
df.fillna("centro_oeste", inplace=True)

In [37]:
df.rename(columns={'regiao' : 'regiao_divida'}, inplace=True)

In [38]:
df = df.merge(df_regioes, left_on='uf_cnpj', right_on='uf', how='left')

In [39]:
df.rename(columns={'uf_x' : 'uf', 'regiao' : 'regiao_cnpj'}, inplace=True)

In [40]:
df.drop(columns=['uf_y'], axis=1, inplace=True)

In [41]:
df[df['cnpj']=='71673990000177']

               cnpj  uf uf_cnpj regiao_divida regiao_cnpj
455  71673990000177  SP      SP       sudeste     sudeste
456  71673990000177  DF      SP  centro_oeste     sudeste
457  71673990000177  RJ      SP       sudeste     sudeste
458  71673990000177  RO      SP         norte     sudeste
459  71673990000177  PE      SP      nordeste     sudeste
460  71673990000177  PR      SP           sul     sudeste
461  71673990000177  AM      SP         norte     sudeste

In [42]:
# bamco do brasil
df = df[df['cnpj']!="191"]

In [43]:
# itau
df = df[df['cnpj']!='60701190000104']

In [44]:
df = df[df['cnpj']!='60889128000180']

In [45]:
ret = list()
for el in df['cnpj'].unique().tolist():
    dt = df[df['cnpj']==el]
    lista_divida = dt["regiao_divida"].unique().tolist()
    reg_cnpj = dt['regiao_cnpj'].iloc[0]
    lista_divida = [el for el in lista_divida if el != reg_cnpj]
    dispersao = len(lista_divida)/4
    ret.append(pd.DataFrame({'cnpj' : [el], 'dispersao' : [dispersao]}))

In [46]:
df_dispersao = pd.concat(ret)

In [47]:
df_dispersao.sort_values("dispersao", ascending=False).head()

             cnpj  dispersao
0  71673990000177       1.00
0  14168536000125       0.75
0  43708379000100       0.75
0  16945787000102       0.50
0  03317210000104       0.50

In [48]:
df_dispersao.groupby('dispersao').count()

           cnpj
dispersao
0.00        407
0.25         70
0.50          2
0.75          2
1.00          1

In [49]:
df[df['cnpj']=='19256652000110']

              cnpj  uf uf_cnpj regiao_divida regiao_cnpj
34  19256652000110  SP      SP       sudeste     sudeste

In [50]:
df_dispersao.to_excel("../tabelas/metrica_dispersao_201904.xlsx")