In [8]:
import pandas as pd
from conector.mssql import mssql_engine
mssql = mssql_engine("Captalys_OP")

In [19]:
def pegar_movimentacoes_cotista(mssql):
    q = """select * from Captalys_OP.cotista.tb_MovimentacaoFundo as movFundo
       inner join Captalys_OP.cotista.tb_Cotista as cot on movFundo.idCotista = cot.idCotista
       inner join Captalys_OP.cotista.tb_tipoOperacao as tpOp on movFundo.tipoOperacao = tpOp.idTipoOperacao
       where tpOp.idTipoOperacao =  1"""
    df = pd.read_sql(q, mssql)

    return df

In [20]:
df = pegar_movimentacoes_cotista(mssql)

In [21]:
df.shape

(2433, 70)

In [22]:
df.columns

Index(['idOperacao', 'idCotista', 'codigoInterface', 'idCarteira', 'nomeFundo',
       'dataOperacao', 'dataConversao', 'dataLiquidacao', 'dataAgendamento',
       'tipoOperacao', 'tipoResgate', 'idPosicaoResgatada',
       'idFormaLiquidacao', 'quantidade', 'cotaOperacao', 'valorBruto',
       'valorLiquido', 'valorIR', 'valorIOF', 'valorCPMF', 'valorPerformance',
       'prejuizoUsado', 'rendimentoResgate', 'variacaoResgate',
       'cpfCnpjCarteira', 'cpfCnpjCotista', 'fonte', 'idConta',
       'cotaInformada', 'idAgenda', 'idOperacaoResgatada', 'codigoAnbima',
       'idCotista', 'nomeRazaoSocial', 'cpfCnpj', 'distribuidora', 'email',
       'convidado', 'idTipoCotista', 'isentoIR', 'isentoIOF', 'tipo',
       'statusAtivo', 'RegimeEspecialTributacao', 'tipoCotistaCVM',
       'CodigoInterface', 'telefone', 'estadoCivil', 'documentos', 'sexo',
       'dataNascimento', 'cotitular', 'idTitular', 'dataAtualizacaoCadastro',
       'dataVigenciaSuitability', 'perfilCotista', 'nomePai', 'nomeMae',
       'pessoaPoliticamenteExposta', 'dadoBancarios', 'profissao', 'apelido',
       'idAgenteDistribuidor', 'nomeDistribuidor', 'cadastroComplementar',
       'tipoEnderecoCorrespondecia', 'agenteAutonomoInvestimento',
       'dataVencimentoCadastro', 'idTipoOperacao', 'tipoOperacao'],
      dtype='object')

In [25]:
df.to_excel("dataset_outliers.xlsx")