In [18]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

class CriteriosElegibilidade(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.elegibilidade_dividas=1.5
        self.elegibilidade_transacoes = 12
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    
    def mensaliza(self, df):
        df.index = pd.to_datetime(df.data)
        if self.produto=='pagueveloz':
            df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        else:
            df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        if self.produto == 'pagueveloz':
            df = self.dados[["data", "valor", "valor_boleto"]]
        else:
            df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        if self.produto != 'tomatico':
            try:
                df = self.dados[["data", "numero_transacoes"]]
                df.index = pd.to_datetime(df.data)
                df.resample('MS').sum().reset_index()
                df = df.iloc[:12, :]
                media_transacoes = df["numero_transacoes"].mean()
                flag_transacoes = int(media_transacoes > self.elegibilidade_transacoes)
                self.flag_transacoes = flag_transacoes
            except:
                self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=self.elegibilidade_dividas)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return 

# if __name__ == '__main__':
#     ce = CriteriosElegibilidade(cnpj='2207280900016', produto='pagueveloz')
#     print(ce.analisa())

In [19]:
ce = CriteriosElegibilidade(cnpj='22072809000161', produto='pagueveloz')

In [20]:
ce.analisa()

In [21]:
ce.flag_faturamento

1

In [13]:
ce.dados["numero_transacoes"].mean()

2.8636363636363638

In [22]:
ce.flag_transacoes

0

In [17]:
df = ce.dados[["data", "numero_transacoes"]]
df.index = pd.to_datetime(df.data)
df.resample('MS').sum().reset_index()

         data  numero_transacoes
0  2017-08-01                  3
1  2017-09-01                  1
2  2017-10-01                  2
3  2017-11-01                  4
4  2017-12-01                  3
5  2018-01-01                  5
6  2018-02-01                  4
7  2018-03-01                  2
8  2018-04-01                  0
9  2018-05-01                  2
10 2018-06-01                  2
11 2018-07-01                  1
12 2018-08-01                  3
13 2018-09-01                  2
14 2018-10-01                  4
15 2018-11-01                  4
16 2018-12-01                  2
17 2019-01-01                  2
18 2019-02-01                  3
19 2019-03-01                  2
20 2019-04-01                  7
21 2019-05-01                  1
22 2019-06-01                  4

In [15]:
df = ce.dados[["data", "numero_transacoes"]]
df.resample('MS').sum().reset_index()
# df = ce.mensaliza(df)
df = df.iloc[:12, :]
media_transacoes = df["numero_transacoes"].mean()
flag_transacoes = int(media_transacoes > ce.elegibilidade_transacoes)

KeyError: "['valor' 'valor_boleto'] not in index"