In [58]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [59]:
df = pd.read_excel("amostra_analise_au5.xlsx")

In [60]:
df["cnpj"].iloc[0]

8710435000131

In [61]:
df["cnpj"] = df["cnpj"].astype(str)

In [62]:
df["cnpj"] = df.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                      ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [63]:
df.head()

             cnpj  proposta_max  index  teste
0  08710435000131         95500      1   True
1  04649002000167         93500      3   True
2  26931451000136         93500      5   True
3  56599202000156         92500      7   True
4  04137258000195         91000      9   True

In [64]:
lista_cnpj = df["cnpj"].tolist()

In [65]:
lista_cnpj.__len__()

204

In [66]:
l = ["05389492000172", "09526806000192", "22941478000159", "05126521000103"]

In [67]:
lista_cnpj = lista_cnpj + l

In [68]:
lista_cnpj.__len__()

208

In [69]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

class CriteriosElegibilidade(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.elegibilidade_dividas=1.5
        self.elegibilidade_transacoes = 12
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        query_au5 = "select cnpj, data, valor, numero_transacoes from fluxo_au5 where cnpj='{}'".format(self.cnpj)
        query_kred = "select cnpj, data, valor from fluxo_kred where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa,
                    "au5" : query_au5,
                    "kred" : query_kred
                }
        
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    
    def mensaliza(self, df):
        df.index = pd.to_datetime(df.data)
        if self.produto=='pagueveloz':
            df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        else:
            df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        if self.produto == 'pagueveloz':
            df = self.dados[["data", "valor", "valor_boleto"]]
        else:
            df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        if self.produto != 'tomatico':
            try:
                df = self.dados[["data", "numero_transacoes"]]
                df.index = pd.to_datetime(df.data)
                df.resample('MS').sum().reset_index()
                df = df.iloc[:12, :]
                media_transacoes = df["numero_transacoes"].mean()
                flag_transacoes = int(media_transacoes > self.elegibilidade_transacoes)
                self.flag_transacoes = flag_transacoes
            except:
                self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=self.elegibilidade_dividas)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        
        self.check_faturamento()
#         self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [70]:
from tqdm import tqdm_notebook

In [14]:
el = lista_cnpj[0]

In [71]:
el = '05389492000172'

In [72]:
pa = CriteriosElegibilidade(cnpj=el, produto='au5')

In [73]:
pa.get_dados()

In [74]:
pa.dados

          data     valor
0   2017-02-01  440228.0
1   2017-03-01  438006.0
2   2017-04-01  433978.0
3   2017-05-01  390536.0
4   2017-06-01  345168.0
5   2017-07-01  365389.0
6   2017-08-01  435798.0
7   2017-09-01  354512.0
8   2017-10-01  425874.0
9   2017-11-01  433707.0
10  2017-12-01  582584.0
11  2018-01-01  421770.0
12  2018-02-01  411627.0
13  2018-03-01  431724.0
14  2018-04-01  399419.0
15  2018-05-01  626371.0
16  2018-06-01  415306.0
17  2018-07-01  426803.0
18  2018-08-01  322162.0
19  2018-09-01  373983.0
20  2018-10-01  335812.0
21  2018-11-01  300805.0
22  2018-12-01  358642.0
23  2019-01-01  323453.0
24  2019-02-01  313475.0
25  2019-03-01  521578.0
26  2019-04-01  511582.0
27  2019-05-01  456031.0
28  2019-06-01     588.5

In [75]:
pa = CriteriosElegibilidade(cnpj=el, produto='au5')
pa.analisa()
_df = pd.DataFrame()
_df["cnpj"] = [el]
_df["flag_faturamento"] = [pa.flag_faturamento]
# _df["flag_transacoes"] = [pa.flag_transacoes]
_df["flag_cheques"] = [pa.flag_cheques]
_df["flag_dividas"] = [pa.flag_dividas]
_df["historico"] = [len(pa.dados)]
# _df["prop_boleto"] = [pa.prop_boleto]
_df["data_consulta"] = [pa.data_consulta]

In [76]:
_df

,cnpj,flag_faturamento,flag_cheques,flag_dividas,historico,data_consulta
0,05389492000172,1,1,1,29,2019-07-26 11:28:39

In [77]:
lista_cnpj.__len__()

208

In [78]:
resp = []
err = []
for el in tqdm_notebook(lista_cnpj):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='au5')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
#         _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
#         _df["historico"] = [len(pa.dados)]
#         _df["prop_boleto"] = [pa.prop_boleto]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        print('ERROR')
        err.append(el)

HBox(children=(IntProgress(value=0, max=208), HTML(value='')))

In [79]:
resp.__len__()

208

In [80]:
dfamostra = pd.concat(resp)

In [81]:
dfamostra.shape

(208, 5)

In [82]:
dfamostra["flag_aprovacao"] = dfamostra["flag_faturamento"]*dfamostra["flag_cheques"]*dfamostra["flag_dividas"]

In [83]:
dfamostra.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta
flag_aprovacao,,,,,
0,15,15,15,15,15
1,193,193,193,193,193

In [84]:
dfamostra["data_atualizacao"] = datetime.now().date()

In [85]:
dfamostra["produto"] = "au5"

In [86]:
dfamostra["flag_transacoes"] = None

In [87]:
dfamostra['flag_proposta'] = 1

In [88]:
dfamostra

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_aprovacao,data_atualizacao,produto,flag_transacoes,flag_proposta
0,08710435000131,1,1,1,2019-07-25 16:10:07,1,2019-07-26,au5,None,1
0,04649002000167,1,1,1,2019-07-25 16:14:24,1,2019-07-26,au5,None,1
0,26931451000136,1,1,1,2019-07-25 16:16:25,1,2019-07-26,au5,None,1
0,56599202000156,1,1,1,2019-07-25 16:21:21,1,2019-07-26,au5,None,1
0,04137258000195,1,1,1,2019-07-25 16:22:55,1,2019-07-26,au5,None,1
0,15124897000132,1,1,1,2019-07-25 16:28:12,1,2019-07-26,au5,None,1
0,28421432000195,1,1,1,2019-07-25 16:29:45,1,2019-07-26,au5,None,1
0,00515464000130,1,1,1,2019-07-25 16:33:20,1,2019-07-26,au5,None,1
0,07863876000100,1,1,1,2019-07-25 16:36:59,1,2019-07-26,au5,None,1
0,13638651000153,1,1,1,2019-07-25 16:39:01,1,2019-07-26,au5,None,1
0,91413203000165,1,1,1,2019-07-25 16:42:04,1,2019-07-26,au5,None,1
0,23970012000144,1,1,1,2019-07-25 16:43:42,1,2019-07-26,au5,None,1
0,14653937000170,1,1,1,2019-07-25 16:47:43,1,2019-07-26,au5,None,1
0,17374102000170,1,1,1,2019-07-25 16:51:25,1,2019-07-26,au5,None,1
0,08734462000144,1,1,1,2019-07-25 16:53:45,1,2019-07-26,au5,None,1
0,03155146000102,1,1,1,2019-07-25 16:56:18,1,2019-07-26,au5,None,1
0,15613283000114,1,1,1,2019-07-25 16:58:58,1,2019-07-26,au5,None,1
0,08061883000151,1,1,1,2019-07-25 17:00:48,1,2019-07-26,au5,None,1
0,89310700000196,1,1,1,2019-07-25 17:04:40,1,2019-07-26,au5,None,1
0,07443031000166,1,1,1,2019-07-25 17:07:37,1,2019-07-26,au5,None,1
0,17190302000172,1,1,1,2019-07-25 17:11:05,1,2019-07-26,au5,None,1
0,31939084000157,1,1,1,2019-07-25 17:16:08,1,2019-07-26,au5,None,1
0,05203942000190,1,1,1,2019-07-25 17:18:21,1,2019-07-26,au5,None,1
0,13263188000102,1,1,1,2019-07-25 17:20:28,1,2019-07-26,au5,None,1
0,52422649000102,1,1,1,2019-07-25 17:22:17,1,2019-07-26,au5,None,1
0,13205985000133,1,1,1,2019-07-25 17:25:01,1,2019-07-26,au5,None,1
0,21437285000100,1,1,1,2019-07-25 17:26:42,1,2019-07-26,au5,None,1
0,07638466000166,1,1,1,2019-07-25 17:28:07,1,2019-07-26,au5,None,1
0,09296129000163,1,1,1,2019-07-25 17:29:35,1,2019-07-26,au5,None,1
0,00407831000182,1,1,1,2019-07-25 17:31:26,1,2019-07-26,au5,None,1
...,...,...,...,...,...,...,...,...,...,...
0,09050589000107,1,1,1,2019-07-25 23:59:51,1,2019-07-26,au5,None,1
0,13410981000197,1,1,1,2019-07-26 00:02:02,1,2019-07-26,au5,None,1
0,22052042000109,1,1,1,2019-07-26 00:03:53,1,2019-07-26,au5,None,1
0,25055873000122,1,1,1,2019-07-26 00:05:36,1,2019-07-26,au5,None,1
0,26227950000147,1,1,1,2019-07-26 00:07:48,1,2019-07-26,au5,None,1
0,28540007000115,1,1,1,2019-07-26 00:10:02,1,2019-07-26,au5,None,1
0,25142403000104,1,0,1,2019-07-26 00:12:24,0,2019-07-26,au5,None,1
0,31405366000174,1,1,1,2019-07-26 00:14:45,1,2019-07-26,au5,None,1
0,04422749000188,1,1,1,2019-07-26 00:17:00,1,2019-07-26,au5,None,1
0,08199177000170,1,1,1,2019-07-26 00:19:49,1,2019-07-26,au5,None,1
0,08933164000183,1,1,1,2019-07-26 00:23:58,1,2019-07-26,au5,None,1
0,14324381000179,1,1,1,2019-07-26 00:26:03,1,2019-07-26,au5,None,1
0,22024312000178,1,1,1,2019-07-26 00:27:55,1,2019-07-26,au5,None,1
0,27417996000191,1,1,1,2019-07-26 00:31:49,1,2019-07-26,au5,None,1
0,81671661000140,1,1,1,2019-07-26 00:33:38,1,2019-07-26,au5,None,1
0,05443077000150,1,1,1,2019-07-26 00:35:35,1,2019-07-26,au5,None,1
0,08287403000175,1,1,1,2019-07-26 00:37:43,1,2019-07-26,au5,None,1
0,11075364000157,1,1,1,2019-07-26 00:39:55,1,2019-07-26,au5,None,1
0,21314755000130,1,1,1,2019-07-26 00:41:25,1,2019-07-26,au5,None,1
0,67513069000190,1,1,1,2019-07-26 00:43:47,1,2019-07-26,au5,None,1
0,00818504000113,1,1,1,2019-07-26 00:45:41,1,2019-07-26,au5,None,1
0,07470392000100,1,1,0,2019-07-26 00:47:14,0,2019-07-26,au5,None,1
0,09105254000149,1,1,1,2019-07-26 00:48:53,1,2019-07-26,au5,None,1
0,12052722000179,1,1,1,2019-07-26 00:58:01,1,2019-07-26,au5,None,1
0,05599918000112,1,1,1,2019-07-26 01:01:26,1,2019-07-26,au5,None,1
0,09041189000135,1,1,1,2019-07-26 01:03:14,1,2019-07-26,au5,None,1
0,05389492000172,1,1,1,2019-07-26 11:28:39,1,2019-07-26,au5,None,1
0,09526806000192,1,1,1,2019-07-26 11:31:36,1,2019-07-26,au5,None,1
0,22941478000159,1,1,1,2019-07-26 11:34:29,1,2019-07-26,au5,None,1
0,05126521000103,1,1,1,2019-07-26 11:37:27,1,2019-07-26,au5,None,1

In [89]:
dfamostra["data_consulta"] = dfamostra.apply(lambda x : x["data_consulta"].date(), axis=1)

In [91]:
dfamostra.head()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_aprovacao,data_atualizacao,produto,flag_transacoes,flag_proposta
0,08710435000131,1,1,1,2019-07-25,1,2019-07-26,au5,None,1
0,04649002000167,1,1,1,2019-07-25,1,2019-07-26,au5,None,1
0,26931451000136,1,1,1,2019-07-25,1,2019-07-26,au5,None,1
0,56599202000156,1,1,1,2019-07-25,1,2019-07-26,au5,None,1
0,04137258000195,1,1,1,2019-07-25,1,2019-07-26,au5,None,1

In [93]:
l

['05389492000172', '09526806000192', '22941478000159', '05126521000103']

In [94]:
dfamostra[dfamostra["cnpj"].isin(l)]

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_aprovacao,data_atualizacao,produto,flag_transacoes,flag_proposta
0,05389492000172,1,1,1,2019-07-26,1,2019-07-26,au5,None,1
0,09526806000192,1,1,1,2019-07-26,1,2019-07-26,au5,None,1
0,22941478000159,1,1,1,2019-07-26,1,2019-07-26,au5,None,1
0,05126521000103,1,1,1,2019-07-26,1,2019-07-26,au5,None,1

In [97]:
dfp1 = pd.read_excel("pre_analise_au5_geral_20190711.xlsx", sheet_name='base1')

In [98]:
dfp2 = pd.read_excel("pre_analise_au5_geral_20190711.xlsx", sheet_name='base2')

In [99]:
dfp = pd.concat([dfp1, dfp2])

In [100]:
dfp.head()

           cnpj  proposta_max   data_ref
0  108285000189         38500 2019-06-25
1  124654000127          9000 2019-06-25
2  227969000108          6500 2019-06-25
3  228124000129         23000 2019-06-25
4  246419000128         14000 2019-06-25

In [102]:
dfp["cnpj"].iloc[0]

108285000189

In [103]:
dfp["cnpj"] = dfp['cnpj'].astype(str)

In [105]:
dfp['cnpj'] = dfp.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                        ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [107]:
dfamostra.merge(dfp[['cnpj', 'proposta_max']], left_on='cnpj', right_on='cnpj', how='left').to_excel("analise_completa_amostra_20190726.xlsx")

In [28]:
err.__len__()

0

In [29]:
err

[]

In [26]:
formata_cnpj('06057209000178')

'06.057.209/0001-78'

In [27]:
err = [el.replace(',', '').replace('\\', '') for el in err]

In [28]:
err

['03321089000186',
 '06057209000178',
 '07873869000190',
 '09261663000134',
 '10245492000139',
 '26702316000119',
 '61353025000163',
 '78275211000124']

In [29]:
err2 = []
for el in err:
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='pagueveloz')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el.replace('.', '').replace('-', '').replace('/', '')]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df['prop_boleto'] = [pa.prop_boleto]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err2.append(el)

In [30]:
err2

['06057209000178', '10245492000139', '78275211000124']

In [58]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in err2:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(el))
con.close()

In [59]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in err2:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(el))
con.close()

In [30]:
final = pd.concat(resp)

In [31]:
final.shape

(8437, 2)

In [32]:
final.head()

             cnpj  flag_faturamento
0  00132140000113                 0
0  00132294000105                 0
0  00144512000121                 0
0  00147211000151                 0
0  00157561000107                 0

In [33]:
final.groupby("flag_faturamento").count()

                  cnpj
flag_faturamento
0                 7036
1                 1401

In [34]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [35]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [36]:
final[(final["flag_consulta"]==1)]["flag_faturamento"].unique().tolist()

[0]

In [66]:
final[(final['flag_consulta']==1) & (final["flag_faturamento"]==1)].to_excel('atualizar_divida_pv.xlsx')

In [37]:
final[(final['flag_consulta']==1) & (final["flag_faturamento"]==1)]

Empty DataFrame
Columns: [cnpj, flag_faturamento, flag_transacoes, flag_cheques, flag_dividas, historico, prop_boleto, data_consulta, flag_consulta]
Index: []

In [38]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0]

In [69]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]["cnpj"].unique().tolist()

[]

In [39]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta
0,00020674000158,0,0,1,1,22,0.0,2019-01-17,0
0,00066987000147,1,1,1,1,22,0.0,2019-04-04,0
0,00092324000105,0,1,1,1,5,0.0,None,1
0,00107079000154,0,1,1,1,2,1.0,None,1
0,00133584000173,0,1,1,1,2,0.0,None,1

In [71]:
final['flag_transacoes'].unique().tolist()

[0, 1]

In [72]:
final["flag_cheques"].unique().tolist()

[1, 0]

In [76]:
final.groupby("flag_transacoes").count()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta,flag_aprovacao
flag_transacoes,,,,,,,,,
0,1289,1289,1289,1289,1289,1287,517,1289,1289
1,1244,1244,1244,1244,1244,1244,781,1244,1244

In [40]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_transacoes"]*final["flag_cheques"]*final["flag_dividas"]

In [34]:
final["flag_aprovacao"] = final["flag_faturamento"]

In [35]:
final.groupby("flag_aprovacao").count()

                cnpj  flag_faturamento
flag_aprovacao
0               7036              7036
1               1401              1401

In [36]:
final.shape

(8437, 3)

In [37]:
final.head()

             cnpj  flag_faturamento  flag_aprovacao
0  00132140000113                 0               0
0  00132294000105                 0               0
0  00144512000121                 0               0
0  00147211000151                 0               0
0  00157561000107                 0               0

In [80]:
final[final['flag_transacoes']==0].shape

(1289, 10)

In [44]:
final["doc"] = final.apply(lambda x : formata_cnpj(x["cnpj"]), axis=1)

In [45]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta,flag_aprovacao,doc
0,00020674000158,0,0,1,1,22,0.0,2019-01-17,0,0,00.020.674/0001-58
0,00066987000147,1,1,1,1,22,0.0,2019-04-04,0,1,00.066.987/0001-47
0,00092324000105,0,1,1,1,5,0.0,None,1,0,00.092.324/0001-05
0,00107079000154,0,1,1,1,2,1.0,None,1,0,00.107.079/0001-54
0,00133584000173,0,1,1,1,2,0.0,None,1,0,00.133.584/0001-73

In [38]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_au5 set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [39]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_au5 set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [44]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"].tolist()

In [45]:
lista_pricing.__len__()

1401

In [46]:
lista_pricing.__len__()

1401

In [47]:
from tqdm import tqdm_notebook
import requests

In [48]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "padrao"}

fr = []
err = []
for el in tqdm_notebook(lista_pricing):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='au5')
        pa.get_dados()
        dff = pa.dados

        dff['adquirentes'] = "bin"
        fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
        dff.dropna(inplace=True)

        fluxos = dict()
        for adq in dff['adquirentes'].unique().tolist():
            dt = dff[dff['adquirentes']==adq]
            dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
            fluxos[adq] = dt[['data', 'valor']].to_dict("records")


        body = {
        "fluxos" : fluxos,
        "cnpj" : formata_cnpj(el),
        "cnae" : "4744-0",
        "volume_escolhido" : 0.5*fat_medio
        }

        req = requests.post(url, headers=header, json=body)

        js = req.json()
        if len(js) == 0:
            vol_max = 0
        else:
            vol_max = js.get("valor_maximo")
        fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))
    except:
        print("error")
        err.append(el)

HBox(children=(IntProgress(value=0, max=1401), HTML(value='')))

In [49]:
err.__len__()

0

In [50]:
dfp = pd.concat(fr)

In [51]:
dfp.shape

(1401, 2)

In [52]:
dfp.sort_values('vol_max').head()

             cnpj  vol_max
0  00190079000160      0.0
0  20118574000176      0.0
0  20139550000101      0.0
0  20267531000152      0.0
0  20277057000140      0.0

In [54]:
dfp.head()

             cnpj  vol_max
0  00190079000160      0.0
0  00268891000161   9500.0
0  00344595000100   7500.0
0  00358489000178      0.0
0  00547451000143   7000.0

In [16]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "pague-veloz"}

err2 = []
for el in tqdm_notebook(err):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='pagueveloz')
        pa.get_dados()
        dff = pa.dados

        dff['adquirentes'] = "pagueveloz"
        fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
        dff.dropna(inplace=True)

        fluxos = dict()
        for adq in dff['adquirentes'].unique().tolist():
            dt = dff[dff['adquirentes']==adq]
            dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
            fluxos[adq] = dt[['data', 'valor']].to_dict("records")


        body = {
        "fluxos" : fluxos,
        "cnpj" : formata_cnpj(el),
        "cnae" : "4744-0",
        "volume_escolhido" : 0.5*fat_medio
        }

        req = requests.post(url, headers=header, json=body)

        js = req.json()
        if len(js) == 0:
            vol_max = 0
        else:
            vol_max = js.get("valor_maximo")
        fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))
    except:
        print("error")
        err2.append(el)

HBox(children=(IntProgress(value=0, max=18), HTML(value='')))

In [60]:
err2

['06057209000178', '10245492000139', '78275211000124']

In [61]:
dfp.shape

(501, 2)

In [63]:
dfp.head()

             cnpj  vol_max
0  00066987000147      0.0
0  00225356000123   7500.0
0  00354700000184  59500.0
0  00549449000103  16000.0
0  00575851000162  60000.0

In [22]:
dfp = pd.concat(fr)

In [55]:
dfp.sort_values("vol_max")

              cnpj   vol_max
0   00190079000160       0.0
0   20118574000176       0.0
0   20139550000101       0.0
0   20267531000152       0.0
0   20277057000140       0.0
0   20289152000163       0.0
0   20430239000109       0.0
0   20439362000190       0.0
0   20456123000149       0.0
0   20470794000164       0.0
0   20691183000146       0.0
0   20699907000106       0.0
0   20096584000158       0.0
0   20719502000184       0.0
0   20872439000111       0.0
0   20873317000140       0.0
0   20954411000123       0.0
0   20987680000196       0.0
0   20989092000191       0.0
0   20993253000110       0.0
0   21054746000158       0.0
0   21078174000147       0.0
0   21102467000112       0.0
0   21113895000140       0.0
0   21143179000106       0.0
0   20737184000184       0.0
0   21202477000120       0.0
0   20086721000173       0.0
0   20038114000138       0.0
0   19140963000119       0.0
..             ...       ...
0   13861787000128   43000.0
0   27783076000197   44500.0
0   13886581000152   45000.0
0   05140745000170   45500.0
0   31422635000100   47000.0
0   12251541000171   47500.0
0   18553311000143   48000.0
0   02118957000162   51000.0
0   11621313000183   51500.0
0   20023536000130   52500.0
0   01423084000139   53000.0
0   30977650000152   54000.0
0   01774687000185   54500.0
0   69253912000171   55000.0
0   07025121000218   56000.0
0   02956815000174   57500.0
0   21409474000161   60000.0
0   85065613000160   69500.0
0   65828626000136   73000.0
0   13858136000189   74000.0
0   03352637000135   79500.0
0   48468052000113   81000.0
0   01078580000100   84500.0
0   14210899000181  132000.0
0   57576134000172  137000.0
0   27241895000102  155500.0
0   05389492000172  334000.0
0   13766218000101       NaN
0   14178863000168       NaN
0   27045717000106       NaN

[1401 rows x 2 columns]

In [56]:
lista_extra = ['13766218000101', '14178863000168', '27045717000106']

In [58]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "padrao"}

fr2 = []
for el in tqdm_notebook(lista_extra):
    print(el)
    pa = CriteriosElegibilidade(cnpj=el, produto='au5')
    pa.get_dados()
    dff = pa.dados

    dff['adquirentes'] = "bin"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : formata_cnpj(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr2.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

13766218000101
14178863000168
27045717000106

In [59]:
dfp2 = pd.concat(fr2)

In [60]:
dfp = dfp.dropna()

In [61]:
df_pricing = pd.concat([dfp, dfp2])

In [62]:
df_pricing.shape

(1401, 2)

In [27]:
df_pricing = dfp.dropna()

In [28]:
reprovados_pricing = df_pricing[df_pricing["vol_max"] ==0]

In [29]:
reprovados_pricing.head()

             cnpj  vol_max
0  00066987000147      0.0
0  02331820000191      0.0
0  08722896000124      0.0
0  08890156000105      0.0
0  08917146000108      0.0

In [64]:
df_pricing = dfp.copy()

In [66]:
df_pricing.head()

             cnpj  vol_max
0  00066987000147      0.0
0  00225356000123   7500.0
0  00354700000184  59500.0
0  00549449000103  16000.0
0  00575851000162  60000.0

In [63]:
sem_proposta = df_pricing[df_pricing["vol_max"]==0]["cnpj"].tolist()

In [64]:
sem_proposta.__len__()

648

In [65]:
final["flag_proposta"] = final.apply(lambda x : int(x["cnpj"] not in sem_proposta), axis=1)

In [66]:
final.head()

             cnpj  flag_faturamento  flag_aprovacao  flag_proposta
0  00132140000113                 0               0              1
0  00132294000105                 0               0              1
0  00144512000121                 0               0              1
0  00147211000151                 0               0              1
0  00157561000107                 0               0              1

In [67]:
final["data_atualizacao"] = datetime.now().date()

In [69]:
final["flag_aprovacao"] = final["flag_proposta"]*final["flag_faturamento"]

In [70]:
final["produto"] = "au5_2"

In [82]:
final.drop(columns=['doc'], axis=1, inplace=True)

In [84]:
final.drop(columns=['flag_cnpj'], axis=1, inplace=True)

In [71]:
final.drop_duplicates(inplace=True)

In [73]:
final["flag_dividas"] = None
final["flag_cheques"] = None
final["flag_transacoes"] = None
final["data_consulta"] = None

In [92]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dfamostra.to_sql("pre_analise", schema="varejo", con=con, if_exists='append', index=False)
con.close()

In [89]:
1432*15

21480

In [75]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_au5 set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [77]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_au5 set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [80]:
sem_proposta.__len__()

648

In [78]:
df_aprov = df_pricing[df_pricing["vol_max"]>0]

In [79]:
df_aprov.shape

(753, 2)

In [81]:
df_aprov.shape

(753, 2)

In [82]:
df_aprov.shape

(753, 2)

In [85]:
df_aprov.columns = ['cnpj', 'proposta_max']

In [87]:
df_aprov["produto"] = "au5_2"

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
df_aprov["data_posicao"] = datetime.now().date()

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df_aprov.to_sql("propostas_mensais", schema="varejo", con=con, if_exists="append", index=False)
con.close()

In [91]:
df2 = pd.read_excel("pre_analise_au5_20190625 (1).xlsx")

In [93]:
df2.columns = ["cnpj", "proposta_max"]

In [95]:
df2["produto"] = "au5_1"

In [100]:
df2["data_posicao"] = datetime(2019, 6, 25).date()

In [99]:
df2.drop(columns=["data_atualizacao"], inplace=True)

In [101]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df2.to_sql("propostas_mensais", schema="varejo", con=con, if_exists="append", index=False)
con.close()

In [103]:
df_aprov.to_excel("pre_analise_au5_2_20190711.xlsx")

In [104]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cnpj from fluxo_au5", con)
con.close()

In [106]:
df.head()

             cnpj
0  00108285000189
1  00124654000127
2  00132140000113
3  00132294000105
4  00144512000121

In [112]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/creditoDigital")
con = engine.connect()
dfcip = pd.read_sql("select cnpj, DtHrSit, bandeira, trava, statusConsulta, dataConsulta from consulta_cip  where cnpj in {}".format(tuple(df["cnpj"].tolist())), con)
con.close()

In [115]:
dfcip = dfcip[dfcip["cnpj"].isin(df["cnpj"].tolist())]

In [118]:
dfcip = dfcip[dfcip["dataConsulta"]>datetime(2019, 6, 1).date()]

In [119]:
dfcip["dataConsulta"].unique().tolist()

[datetime.date(2019, 7, 10)]

In [122]:
dfcip["cnpj"].unique().tolist().__len__()

213

In [124]:
dfcip.to_excel("consulta_cip_au5_20190710.xlsx")

In [83]:
df_aprov["vol_max"].sum()

10855000.0

In [101]:
lista_reprov = dfp[dfp["vol_max"]==0]["cnpj"].unique().tolist()

In [103]:
lista_reprov.__len__()

127

In [104]:
rep = lista_reprov + sem_proposta

In [106]:
rep.__len__()

254

In [114]:
rep_total = final[final['flag_aprovacao']==0]["cnpj"].tolist() + rep

In [115]:
rep_total.__len__()

1944

In [117]:
df_aprov.shape

(640, 2)

In [41]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj from acompanhamento where produto='CREDITOVELOZ' and status!='QUITADA'", con)
con.close()

In [42]:
_rep = df_aprov[df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]["cnpj"].tolist()

In [43]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [44]:
df_aprov.shape

(408, 2)

In [45]:
df_aprov.head()

             cnpj  vol_max
0  00354700000184  59500.0
0  00549449000103  16000.0
0  00575851000162  60000.0
0  00661205000118  28000.0
0  00996254000101  14000.0

In [47]:
dfacomp.shape

(69, 1)

In [48]:
df_aprov.to_excel("pre_analise_aprovados_pv_201907.xlsx")

In [54]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dfrep = pd.read_sql("select distinct cpf_cnpj from fluxo_pv where flag_aprovacao=0 and flag_cnpj=1", con)
con.close()

In [58]:
dfrep["cnpj"] = dfrep.apply(lambda x : x["cpf_cnpj"].replace(".", "").replace("-", "").replace("/", ""), axis=1)

In [59]:
dfrep.to_excel("reprovados_201907.xlsx")

In [130]:
df_reprov = pd.DataFrame()
df_reprov["cnpj"] = rep_total + _rep

In [131]:
df_reprov.to_excel("pre_analise_reprovados_pv_201906.xlsx")

In [132]:
df_reprov

                cnpj
0     00020674000158
1     00092324000105
2     00107079000154
3     00133584000173
4     00178663000109
5     00178663000281
6     00212847000130
7     00226038000187
8     00231852000190
9     00246733000100
10    00251615000190
11    00252521000217
12    00262508000168
13    00265954000126
14    00265954000207
15    00298284000144
16    00325231000175
17    00331353000174
18    00378552000138
19    00388775000186
20    00397592000127
21    00437101000124
22    00442658000153
23    00506770000100
24    00539633000172
25    00765225000139
26    00824725000102
27    00875470000107
28    00916008000100
29    00983934000190
...              ...
1964  19790945000182
1965  19955230000132
1966  20001525000159
1967  20459310000186
1968  20672012000170
1969  20694842000106
1970  21446591000103
1971  22697828000183
1972  22968600000180
1973  24247971000107
1974  24936037000194
1975  25358802000107
1976  26196219000100
1977  26232310000125
1978  26278224000153
1979  26314983000124
1980  26786720000118
1981  26789018000108
1982  27090358000109
1983  27390223000169
1984  27391245000143
1985  28211284000184
1986  29038664000121
1987  30193075000105
1988  30815523000157
1989  30898048000120
1990  30913849000117
1991  55057392000117
1992  61727053000101
1993  71860498000100

[1994 rows x 1 columns]

In [107]:
dfop = pd.read_excel("analise_justa_final.xlsx")

In [111]:
dfop["cnpj"] = dfop["cnpj"].astype(str)

In [113]:
dfop["cnpj"] = dfop.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                          ("00" + x["cnpj"] if len(x['cnpj'])==12 else x["cnpj"]), axis=1)

In [115]:
lista_op = dfop["cnpj"].unique().tolist()

In [116]:
df_aprov.shape

(178, 2)

In [122]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(lista_op)]

In [126]:
df_aprov.head()

             cnpj  vol_max
0  00150714000186   9000.0
0  00686810000143  24500.0
0  00874646000289   6000.0
0  00874646000360   6000.0
0  00874646000440   5500.0

In [135]:
df_aprov.shape

(160, 2)

In [136]:
dftrava = pd.read_excel("consulta_trava_justa_20190612.xlsx")

In [138]:
dftrava["cnpj"].iloc[0]

150714000186

In [139]:
dftrava["cnpj"] = dftrava["cnpj"].astype(str)

In [144]:
dftrava[dftrava.index==84]["cnpj"].iloc[0]

'1242387000155'

In [145]:
dftrava["cnpj"] = dftrava.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                                ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [153]:
dftrava[dftrava["cnpj"]=='04943517000175']

               cnpj      bandeira trava dataConsulta
252  04943517000175          VISA     N   2019-06-12
253  04943517000175        MASTER     N   2019-06-12
254  04943517000175      BANESTES     N   2019-06-12
255  04943517000175    CREDSYSTEM     N   2019-06-12
256  04943517000175     VERDECARD     N   2019-06-12
257  04943517000175      SOROCRED     N   2019-06-12
258  04943517000175       SICREDI     N   2019-06-12
259  04943517000175         CREDZ     N   2019-06-12
260  04943517000175         CABAL     N   2019-06-12
261  04943517000175  BANRICOMPRAS     N   2019-06-12
262  04943517000175        BANESE     N   2019-06-12
263  04943517000175     HIPERCARD     N   2019-06-12
264  04943517000175           ELO     N   2019-06-12
265  04943517000175        DINERS     N   2019-06-12

In [150]:
fr = []
for el in dftrava["cnpj"].unique().tolist():
    dt = dftrava[dftrava['cnpj']==el]
    lista_trava = dt['trava'].tolist()
    flag_trava = 'S' if 'S' in lista_trava else 'N'
    fr.append(pd.DataFrame({'cnpj' : [el], 'flag_trava' : [flag_trava]}))

In [155]:
resp = pd.concat(fr)

In [158]:
df_aprov.shape

(160, 2)

In [162]:
ret = df_aprov.merge(resp, left_on='cnpj', right_on='cnpj', how='left')

In [164]:
ret[ret["cnpj"].isin(["30589990000106", "30589922000106", "30589922000147"])]

               cnpj  vol_max flag_trava
139  30589922000147  13000.0          N
140  30589990000106   6000.0          N

In [166]:
ret.to_excel("pre_analise_justa_201906.xlsx")

In [128]:
final["flag_pricing"] = final.apply(lambda x : 0 if x["cnpj"] in sem_proposta else 1, axis=1)

In [130]:
final[final["flag_pricing"]==0]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,07633539000127,1,1,1,1,7,2019-06-11,0,1,0
0,07931239000124,1,1,1,1,7,2019-06-11,0,1,0
0,10671041000163,1,1,1,1,7,2019-06-11,0,1,0
0,11020761000202,1,1,1,1,7,2019-06-11,0,1,0
0,11260310000242,1,1,1,1,6,2019-06-11,0,1,0
0,11260310000676,1,1,1,1,7,2019-05-31,0,1,0
0,12996635000170,1,1,1,1,6,2019-06-11,0,1,0
0,13349922000150,1,1,1,1,7,2019-06-11,0,1,0
0,14427836000181,1,1,1,1,6,2019-06-11,0,1,0
0,20868409000131,1,1,1,1,7,2019-06-11,0,1,0
0,23030585000279,1,1,1,1,6,2019-06-11,0,1,0
0,26868707000108,1,1,1,1,7,2019-05-31,0,1,0
0,27074288000103,1,1,1,1,7,2019-05-31,0,1,0
0,28003808000141,1,1,1,1,7,2019-06-11,0,1,0
0,28666174000107,1,1,1,1,7,2019-06-11,0,1,0
0,28789082000114,1,1,1,1,7,2019-06-11,0,1,0
0,29988990000108,1,1,1,1,7,2019-05-31,0,1,0

In [131]:
final

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,00121514000103,0,0,1,1,1,None,1,0,1
0,00147048000127,0,1,0,1,3,2019-05-21,0,0,1
0,00147569000184,0,0,1,1,1,None,1,0,1
0,00150714000186,1,1,1,1,7,2019-05-31,0,1,1
0,00160703000187,0,1,1,1,3,None,1,0,1
0,00327378000102,0,1,1,1,3,None,1,0,1
0,00431292000117,0,0,1,1,1,None,1,0,1
0,00440094000110,0,0,1,1,1,None,1,0,1
0,00451803000162,0,0,1,1,1,None,1,0,1
0,00451803000324,0,0,1,1,1,None,1,0,1
0,00489194000130,0,0,1,1,7,None,1,0,1
0,00686810000143,1,1,1,1,7,2019-05-31,0,1,1
0,00704375000132,0,0,1,1,4,None,1,0,1
0,00729716000124,0,0,1,1,6,None,1,0,1
0,00753909000110,0,0,1,1,1,None,1,0,1
0,00842847000113,1,1,1,0,7,2019-05-31,0,0,1
0,00844335000196,0,0,1,1,4,None,1,0,1
0,00844335000609,0,0,1,1,7,None,1,0,1
0,00874646000106,1,0,1,1,7,2019-06-11,0,0,1
0,00874646000289,1,1,1,1,7,2019-05-27,0,1,1
0,00874646000360,1,1,1,1,7,2019-06-11,0,1,1
0,00874646000440,1,1,1,1,7,2019-06-11,0,1,1
0,00905636000182,0,0,1,1,1,None,1,0,1
0,00910459000122,0,0,1,1,1,None,1,0,1
0,00934773000145,1,1,1,1,7,2019-05-30,0,1,1
0,00941051000118,0,0,1,1,1,None,1,0,1
0,01046339000191,1,0,1,1,7,2019-06-11,0,0,1
0,01080801000177,0,0,1,1,1,None,1,0,1
0,01098518000172,0,0,1,1,1,None,1,0,1
0,01113005000193,0,0,1,1,1,None,1,0,1
...,...,...,...,...,...,...,...,...,...,...
0,83325498000190,0,0,1,1,1,None,1,0,1
0,86505419000110,0,0,1,1,1,None,1,0,1
0,87188546000100,0,0,1,1,1,None,1,0,1
0,87188546000104,0,0,1,1,7,None,1,0,1
0,87189106000163,0,0,1,1,7,None,1,0,1
0,87247102000194,0,0,1,1,1,None,1,0,1
0,90147216000177,0,0,1,1,7,None,1,0,1
0,90917261000163,0,0,1,1,1,None,1,0,1
0,91157743000125,0,0,1,1,1,None,1,0,1
0,91320028000161,0,0,1,1,7,None,1,0,1
0,92195528000181,0,0,1,1,7,None,1,0,1
0,93354744000195,0,0,1,1,1,None,1,0,1
0,93379337000132,1,1,1,0,7,2019-06-11,0,0,1
0,93886505000186,0,0,1,0,1,2019-03-07,0,0,1
0,94029584000171,0,0,1,1,1,None,1,0,1
0,94044468000121,0,0,1,1,1,None,1,0,1
0,94240314000105,0,0,1,1,1,None,1,0,1
0,94261385000194,0,0,1,1,1,None,1,0,1
0,94528890000152,0,0,1,1,1,None,1,0,1
0,94580412000191,0,0,1,1,6,None,1,0,1
0,95159166000161,0,0,1,1,1,None,1,0,1
0,96435722000148,0,0,1,1,1,None,1,0,1
0,97307102000196,0,0,1,1,1,None,1,0,1
0,97542416000173,1,1,1,1,7,2019-05-30,0,1,1
0,05582611000109,0,0,1,1,1,None,1,0,1
0,31144973000128,1,1,1,1,7,2019-05-30,0,1,1
0,31145142000170,0,0,1,1,1,None,1,0,1
0,31174944000109,0,1,1,1,1,None,1,0,1
0,31175234000101,0,0,1,1,1,None,1,0,1
0,31211109000100,0,0,1,1,1,None,1,0,1

In [100]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='WIRECARD' and status!='QUITADA'", con)
con.close()

In [103]:
df_aprov.shape

(664, 2)

In [111]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [113]:
df_aprov.shape

(652, 2)

In [114]:
df_aprov.to_excel("pre_analise_wirecard_201906.xlsx")

In [115]:
df_aprov

              cnpj    vol_max
0   00018460000147     8000.0
0   00195664000153     7500.0
0   00240629000109     8000.0
0   00272073000302   152500.0
0   00467109000133     6500.0
0   00548620000160    34500.0
0   00566262000118    21000.0
0   00570256000134   217000.0
0   00626948000157    32000.0
0   00986814000147     7500.0
0   01056417000139    19000.0
0   01184310000176     5500.0
0   01337552000152    27000.0
0   01344128000135    20500.0
0   01564112000138    10500.0
0   01799108000159    28500.0
0   01863881000137    15500.0
0   01879689000139    11000.0
0   01937526000165    45500.0
0   02092758000122     6000.0
0   02319380000408     8000.0
0   02392887000136    19500.0
0   02800667000102     9000.0
0   02801076000141     5500.0
0   03070616000127     5500.0
0   03241334000145    67000.0
0   03241608000104     9500.0
0   03252315000114    29000.0
0   03347828000109    14000.0
0   03378624000135   121500.0
..             ...        ...
0   58028838000173    76500.0
0   59708412000638    15500.0
0   60877859000105    26500.0
0   61328811000100    10500.0
0   61904306000167    27500.0
0   61933404000122    21500.0
0   65868747000101    23000.0
0   66019266000194     7500.0
0   70176664000191    11000.0
0   71673990000177  2500000.0
0   71728778000160    44500.0
0   71834089000130    75000.0
0   72178353000197    14000.0
0   72559297000130    20000.0
0   74645169000135    37000.0
0   75064261000174    68000.0
0   78997095000157    18000.0
0   80189772000152    57500.0
0   81043085000197     8000.0
0   90005307000178   272000.0
0   90146747000145    15500.0
0   90406117000162    26500.0
0   90432717000103    72000.0
0   90539453000183    28500.0
0   92666056000106    18000.0
0   92785047000126    22000.0
0   93886505000186    42500.0
0   96364815000129    14000.0
0   97117477000193     7500.0
0   97548453000199    12500.0

[652 rows x 2 columns]

In [1]:
from watchdog.rotinas import analise_pendencias