In [3]:
from sqlalchemy import create_engine
from pricing.service.scoring.dscore import DScoring

In [ ]:
ds = DScoring(cnpj='30684923000170', produto='justa')
res, dfcalc = ds.calcula()

res

dfcalc

lista_ = list(res.keys())
segmentos = [el for el in lista_ if el not in ["lscore", "dscore", "score"]]

segmentos

elegibilidade = [res.get(el) for el in segmentos]

elegibilidade

flag_dividas = int(0 not in elegibilidade)

        data    valor
0 2018-12-01    37.37
1 2019-01-01  7490.08
2 2019-02-01  2954.43
3 2019-03-01  4275.41
4 2019-04-01  4513.54
5 2019-05-01  7066.09
probabilidade_zeros :0.0
SCORE INICIAL : 827.6242424242423
HISTORICO : 6
CORRECAO HISTORICO : 0.7

In [102]:
flag_dividas

0

In [103]:
res

{'outros': 0, 'lscore': 579, 'dscore': 0, 'score': 289}

In [23]:
flag_dividas

1

In [1]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

class PreAnalysis(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.dados = None
        self.flag_faturamento = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    @staticmethod
    def mensaliza(df):
        df.index = pd.to_datetime(df.data)
        df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df = df.sort_values("data", ascending=False).iloc[:6, :]
        df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df)==6) and (0 not in df["valor"].tolist()) and (df["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        return
    
    def check_transacoes(self):
        try:
            df = self.dados[["data", "numero_transacoes"]]
            df = self.mensaliza(df)
            df = df.iloc[:12, :]
            media_transacoes = df["numero_transacoes"].mean()
            flag_transacoes = int(media_transacoes > 12)
            self.flag_transacoes = flag_transacoes
        except:
            self.flag_transacoes = 1
        return
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        print(lista_consultas)
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        try:
            ds = DScoring(cnpj=self.cnpj, produto=self.produto)
            res, dfcalc = ds.calcula()
        
            self.scoring = res
            if not len(res) == 0:
                lista_ = list(res.keys())
                segmentos = [el for el in lista_ if el not in ["lscore", "dscore", "score"]]

                elegibilidade = [res.get(el) for el in segmentos]

                flag_dividas = int(0 not in elegibilidade)
            else:
                flag_dividas = 1

            self.flag_dividas = flag_dividas
        except:
            self.flag_dividas = 1
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [125]:
datetime.now().date().replace(day=1) - relativedelta(months=1) == pa.dados["data"].max()

True

#### Pre-analise Wirecard

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dfw = pd.read_sql("select distinct cnpj, tipo_base from fluxo_wirecard", con)
con.close()

NameError: name 'create_engine' is not defined

In [114]:
dfw.head()

             cnpj      tipo_base
0  00018460000147  customer_care
1  00021311000560  customer_care
2  00099977000108  customer_care
3  00195664000153  customer_care
4  00240629000109  customer_care

In [163]:
dfw["flag_cnpj"] = dfw.apply(lambda x : int(len(x["cnpj"])>11), axis=1)

In [165]:
lista_analise = dfw[dfw["flag_cnpj"]==1]["cnpj"].unique().tolist()

In [187]:
lista_analise.__len__()

1206

In [188]:
from tqdm import tqdm_notebook

resp = []
lista_score = []
err = []
for el in tqdm_notebook(lista_analise):
    try:
        print(el)
        pa = PreAnalysis(cnpj=el, produto='wirecard')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
        lista_score.append({el : pa.scoring})
    except:
        err.append(el)

In [190]:
err.__len__()

155

In [191]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dferr = pd.read_sql("select  cnpj, data, valor, tipo_base from fluxo_wirecard where cnpj in {}".format(tuple(err)), con)
con.close()

In [192]:
dferr["valor"].unique().tolist()

[None]

In [193]:
df_flags = pd.concat(resp)

In [194]:
df_flags[df_flags["historico"]==6]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta
0,19628811000160,0,1,1,1,6,None
0,23525515000100,0,1,1,1,6,None

In [196]:
df_flags["data_consulta"] = df_flags.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [199]:
df_consulta = df_flags[df_flags["flag_faturamento"]==1]

In [202]:
df_consulta["ano"] = df_consulta.apply(lambda x : x["data_consulta"].year if not x["data_consulta"] is None else x["data_consulta"], axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [204]:
df_consulta["ano"].unique().tolist()

[2019.0, nan]

In [206]:
df_consulta["mes"] = df_consulta.apply(lambda x : x["data_consulta"].month if not x["data_consulta"] is None else x["data_consulta"], axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [208]:
df_consulta["mes"].unique().tolist()

[1.0, nan, 3.0, 5.0, 6.0, 2.0, 4.0]

In [210]:
df_consulta["flag_consulta"] = df_consulta.apply(lambda x : int(np.isnan(x["mes"])), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [213]:
df_consulta[df_consulta["flag_consulta"]==1].to_excel("atualizar_dividas_wirecard.xlsx")

In [215]:
df_consulta.to_excel("pre_analise_wirecard.xlsx")