In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cnpj from fluxo_wirecard", con)
con.close()

In [3]:
df["flag_cnpj"] = df.apply(lambda x : int(len(x["cnpj"])==14), axis=1)

In [4]:
df = df[df['flag_cnpj']==1]

In [5]:
df.head()

             cnpj  flag_cnpj
0  00018460000147          1
1  00021311000560          1
2  00099977000108          1
3  00195664000153          1
4  00240629000109          1

In [6]:
lista_cnpj = df["cnpj"].tolist()

In [8]:
lista_cnpj.__len__()

1262

In [9]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

class CriteriosElegibilidade(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.elegibilidade_dividas=1.5
        self.elegibilidade_transacoes = 12
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        query_au5 = "select cnpj, data, valor, numero_transacoes from fluxo_au5 where cnpj='{}'".format(self.cnpj)
        query_kred = "select cnpj, data, valor from fluxo_kred where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa,
                    "au5" : query_au5,
                    "kred" : query_kred
                }
        
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    
    def mensaliza(self, df):
        df.index = pd.to_datetime(df.data)
        if self.produto=='pagueveloz':
            df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        else:
            df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        if self.produto == 'pagueveloz':
            df = self.dados[["data", "valor", "valor_boleto"]]
        else:
            df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        if self.produto != 'tomatico':
            try:
                df = self.dados[["data", "numero_transacoes"]]
                df.index = pd.to_datetime(df.data)
                df.resample('MS').sum().reset_index()
                df = df.iloc[:12, :]
                media_transacoes = df["numero_transacoes"].mean()
                flag_transacoes = int(media_transacoes > self.elegibilidade_transacoes)
                self.flag_transacoes = flag_transacoes
            except:
                self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=self.elegibilidade_dividas)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [10]:
pa = CriteriosElegibilidade("12148895000195", "wirecard")

In [11]:
pa.get_dados()

In [13]:
pa.analisa()

In [17]:
pa.flag_cheques

1

In [18]:
pa.dados.head()

         data     valor  numero_transacoes
0  2017-06-01  34625.90               84.0
1  2017-07-01  30856.40               62.0
2  2017-08-01  21594.90               40.0
3  2017-09-01  18358.30               22.0
4  2017-10-01   4877.96               17.0

In [19]:
from tqdm import tqdm_notebook

In [29]:
resp = []
err = []
for el in tqdm_notebook(lista_cnpj):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='wirecard')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err.append(el)

HBox(children=(IntProgress(value=0, max=1262), HTML(value='')))

In [30]:
err.__len__()

155

In [31]:
err

['00748390000182',
 '00991908000104',
 '01397699000138',
 '01473113000177',
 '02047418000180',
 '03082929000103',
 '03147169000167',
 '03215938000117',
 '03612312000144',
 '03827710000188',
 '03919188000164',
 '05360453000142',
 '05393606000158',
 '05845791000174',
 '05846366000108',
 '05879719000168',
 '07071009000213',
 '07083852000139',
 '07192483000112',
 '07254654000190',
 '07413904000198',
 '07509749000108',
 '07732940000114',
 '07742099000146',
 '07993621000162',
 '08151769000112',
 '08311795000160',
 '08581212000111',
 '08699663000158',
 '08816510000143',
 '08822154000170',
 '08824129000126',
 '08827530000110',
 '08958817000189',
 '09141349000118',
 '09252459000157',
 '09276124000179',
 '09395512000179',
 '09400918000100',
 '09419682000146',
 '09473928000168',
 '09474605000199',
 '09577436000112',
 '10217544000163',
 '10368321000105',
 '10634314000108',
 '10656548000148',
 '11068167000100',
 '11280119000181',
 '11523542000165',
 '11682254000153',
 '11738486000186',
 '12404660000117',
 '12624074000188',
 '12909805000131',
 '13477477000104',
 '13576755000180',
 '13673743000255',
 '13741266000137',
 '14005431000155',
 '14512528000154',
 '14710638000120',
 '14984780000166',
 '15165312000122',
 '15227233000107',
 '15343169000111',
 '15471839000185',
 '15487280000181',
 '15503948000137',
 '15549133000199',
 '15562467000100',
 '15622530000149',
 '16577631000108',
 '16709558000180',
 '16756261000176',
 '16922038000151',
 '16995331000149',
 '17910389000105',
 '17973859000180',
 '17989293000184',
 '18067394000160',
 '18366595000169',
 '18434598000192',
 '18540147000130',
 '18652408000103',
 '18738244000131',
 '18923774000150',
 '19034298000189',
 '19036940000169',
 '19107409000130',
 '19814430000175',
 '19849163000171',
 '20239848000185',
 '20273297000176',
 '20324848000183',
 '20542723000120',
 '20718183000192',
 '20724093000104',
 '21475170000100',
 '21590695000189',
 '21592173000116',
 '21839639000135',
 '21851194000109',
 '22096391000122',
 '22124977000153',
 '22219118000148',
 '22345604000102',
 '22368937000157',
 '22467034000123',
 '22733427000131',
 '22794349000185',
 '23099404000180',
 '23153886000109',
 '23560038000114',
 '23806601000191',
 '24131786000144',
 '24244662000175',
 '24252227000192',
 '24447702000186',
 '24477381000162',
 '24612602000168',
 '24629252000142',
 '24842868000105',
 '24873314000167',
 '25166223000154',
 '26084230000170',
 '26239841000140',
 '26263563000166',
 '26327495000151',
 '26555778000150',
 '26727524000172',
 '27461236000181',
 '27542962000129',
 '27764813000104',
 '27925984000178',
 '27932734000165',
 '28393929000147',
 '28399142000192',
 '28558645000163',
 '28643789000118',
 '28705453000132',
 '28942422000103',
 '44990901000143',
 '45531878000191',
 '50252188000133',
 '55739080000355',
 '60873288000130',
 '62214226000142',
 '62520218000124',
 '64397490000194',
 '64491459000118',
 '78810975000172',
 '81243735000148',
 '82357948000163',
 '83816330000187']

In [32]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select * from fluxo_wirecard where cnpj in {}".format(tuple(err)), con)
con.close()

In [33]:
df["valor"].sum()

0

In [34]:
final = pd.concat(resp)

In [35]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [36]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [37]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0]

In [38]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]

Empty DataFrame
Columns: [cnpj, flag_faturamento, flag_transacoes, flag_cheques, flag_dividas, historico, data_consulta, flag_consulta]
Index: []

In [52]:
el = "12709169000102"
pa = PreAnalysis(cnpj=el, produto='wirecard')
pa.analisa()
_df = pd.DataFrame()
_df["cnpj"] = [el]
_df["flag_faturamento"] = [pa.flag_faturamento]
_df["flag_transacoes"] = [pa.flag_transacoes]
_df["flag_cheques"] = [pa.flag_cheques]
_df["flag_dividas"] = [pa.flag_dividas]
_df["historico"] = [len(pa.dados)]
_df["data_consulta"] = [pa.data_consulta]

In [54]:
_df["data_consulta"] = _df.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [56]:
_df["flag_consulta"] = 0

In [58]:
final = final[final["cnpj"]!='12709169000102']

In [60]:
final = pd.concat([final, _df])

In [40]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
0,00018460000147,1,1,1,1,25,2019-01-04,0
0,00021311000560,1,1,1,0,15,2019-06-11,0
0,00099977000108,0,1,1,1,10,None,1
0,00195664000153,1,1,1,1,16,2019-01-07,0
0,00240629000109,1,1,1,1,25,2019-06-10,0

In [41]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_transacoes"]*final["flag_cheques"]*final["flag_dividas"]

In [42]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
flag_aprovacao,,,,,,,,
0,407,407,407,407,407,407,237,407
1,700,700,700,700,700,700,700,700

In [43]:
final.shape

(1107, 9)

In [44]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao
0,00018460000147,1,1,1,1,25,2019-01-04,0,1
0,00021311000560,1,1,1,0,15,2019-06-11,0,0
0,00099977000108,0,1,1,1,10,None,1,0
0,00195664000153,1,1,1,1,16,2019-01-07,0,1
0,00240629000109,1,1,1,1,25,2019-06-10,0,1

In [45]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_wirecard set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [46]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_wirecard set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [47]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"]

In [48]:
lista_pricing.__len__()

700

In [49]:
from tqdm import tqdm_notebook
import requests

In [26]:
_df = pd.read_excel("pre_analise_wirecard_201906.xlsx")

In [27]:
_df["cnpj"] = _df["cnpj"].astype(str)

In [28]:
_df["cnpj"] = _df.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                        ("0" + x["cnpj"] if len(x["cnpj"])==13 else "000" + x["cnpj"] if len(x["cnpj"])==11 else x["cnpj"]), axis=1)

In [30]:
_df.head()

             cnpj  vol_max
0  00018460000147     8000
0  00195664000153     7500
0  00240629000109     8000
0  00272073000302   152500
0  00467109000133     6500

In [31]:
lista_pricing = _df["cnpj"].tolist()

In [51]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "wirecard"}

fr = []
for el in tqdm_notebook(lista_pricing):
    pa = CriteriosElegibilidade(cnpj=el, produto='wirecard')
    pa.get_dados()
    dff = pa.dados

    dff['adquirentes'] = "moip"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : str(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=700), HTML(value='')))

In [8]:
fr[0]

             cnpj   vol_max
0  21126119000185  161500.0

In [6]:
import requests

In [52]:
dfp = pd.concat(fr)

In [53]:
dfp.shape

(700, 2)

In [54]:
dfp

              cnpj    vol_max
0   00018460000147     8000.0
0   00195664000153     7500.0
0   00240629000109     9500.0
0   00272073000302   153000.0
0   00467109000133    11000.0
0   00548620000160    37000.0
0   00566262000118    21500.0
0   00570256000134   213000.0
0   00626948000157    33000.0
0   00986814000147     7500.0
0   01056417000139    20000.0
0   01184310000176     5500.0
0   01337552000152    27000.0
0   01344128000135    21500.0
0   01564112000138     5500.0
0   01799108000159    28000.0
0   01863881000137    19500.0
0   01879689000139    11000.0
0   01937526000165    48000.0
0   02092758000122     6000.0
0   02319380000157        0.0
0   02319380000408     5500.0
0   02392887000136    18500.0
0   02800667000102    10000.0
0   03070616000127     6000.0
0   03241334000145    69000.0
0   03241608000104     9500.0
0   03252315000114    28500.0
0   03347828000109    14000.0
0   03378624000135   121000.0
..             ...        ...
0   59708412000638    17000.0
0   60877859000105    26000.0
0   61328811000100    10000.0
0   61904306000167    27000.0
0   61933404000122    21500.0
0   65868747000101    23500.0
0   66019266000194     7500.0
0   67562884000491        0.0
0   70176664000191     9000.0
0   71673990000177  2500000.0
0   71728778000160    42500.0
0   71834089000130    76000.0
0   72178353000197    14000.0
0   72559297000130    18000.0
0   74645169000135    37500.0
0   75064261000174    67000.0
0   78997095000157    18500.0
0   80189772000152    56000.0
0   81043085000197     8000.0
0   90005307000178   269000.0
0   90146747000145    15500.0
0   90406117000162    27000.0
0   90432717000103    73500.0
0   90539453000183    28000.0
0   92666056000106    17000.0
0   92785047000126    21500.0
0   93886505000186    42500.0
0   96364815000129    14000.0
0   97117477000193     7500.0
0   97548453000199    12000.0

[700 rows x 2 columns]

In [45]:
dfp.to_excel("propostas_wirecard_volume_liquido.xlsx")

In [55]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
db = pd.read_sql("select distinct cnpj, tipo_base from fluxo_wirecard", con)
con.close()

In [56]:
db.shape

(1274, 2)

In [59]:
dfp.shape

(700, 3)

In [58]:
dfp = dfp.merge(db, left_on='cnpj', right_on='cnpj', how='left')

In [61]:
dfp.head()

             cnpj   vol_max         tipo_base
0  00018460000147    8000.0     customer_care
1  00195664000153    7500.0     customer_care
2  00240629000109    9500.0     customer_care
3  00272073000302  153000.0  customer_success
4  00467109000133   11000.0     customer_care

In [62]:
dfp[dfp['vol_max']==0]

               cnpj  vol_max         tipo_base
20   02319380000157      0.0     customer_care
34   03769562000192      0.0     customer_care
145  10522675000154      0.0     customer_care
175  11643149000105      0.0     customer_care
204  13046531000167      0.0     customer_care
260  15524030000174      0.0     customer_care
287  17287655000195      0.0     customer_care
288  17288629000181      0.0  customer_success
320  18275556000156      0.0     customer_care
324  18351664000160      0.0     customer_care
348  19068792000164      0.0     customer_care
361  19511569000140      0.0     customer_care
362  19528839000125      0.0     customer_care
365  19643789000127      0.0     customer_care
374  20141995000118      0.0     customer_care
379  20230661000110      0.0     customer_care
406  21075446000155      0.0     customer_care
407  21111978000109      0.0     customer_care
422  21537160000144      0.0     customer_care
456  22699091000138      0.0     customer_care
516  24404309000105      0.0     customer_care
537  25127614000240      0.0     customer_care
555  26255154000118      0.0  customer_success
574  26793610000183      0.0     customer_care
589  27357470000163      0.0     customer_care
616  28357677000109      0.0     customer_care
621  28566089000177      0.0     customer_care
624  28644747000100      0.0     customer_care
625  28679618000149      0.0     customer_care
647  30193621000108      0.0     customer_care
652  30340661000127      0.0     customer_care
677  67562884000491      0.0  customer_success

In [64]:
dfp.sort_values("vol_max")

               cnpj    vol_max         tipo_base
175  11643149000105        0.0     customer_care
574  26793610000183        0.0     customer_care
555  26255154000118        0.0  customer_success
287  17287655000195        0.0     customer_care
34   03769562000192        0.0     customer_care
288  17288629000181        0.0  customer_success
406  21075446000155        0.0     customer_care
537  25127614000240        0.0     customer_care
516  24404309000105        0.0     customer_care
589  27357470000163        0.0     customer_care
320  18275556000156        0.0     customer_care
348  19068792000164        0.0     customer_care
361  19511569000140        0.0     customer_care
362  19528839000125        0.0     customer_care
456  22699091000138        0.0     customer_care
365  19643789000127        0.0     customer_care
374  20141995000118        0.0     customer_care
379  20230661000110        0.0     customer_care
422  21537160000144        0.0     customer_care
324  18351664000160        0.0     customer_care
260  15524030000174        0.0     customer_care
407  21111978000109        0.0     customer_care
624  28644747000100        0.0     customer_care
647  30193621000108        0.0     customer_care
20   02319380000157        0.0     customer_care
145  10522675000154        0.0     customer_care
616  28357677000109        0.0     customer_care
652  30340661000127        0.0     customer_care
677  67562884000491        0.0  customer_success
621  28566089000177        0.0     customer_care
..              ...        ...               ...
576  27028110000118   164000.0  customer_success
267  16577036000172   167500.0  customer_success
523  24733287000127   183500.0  customer_success
163  11226922000138   186500.0  customer_success
350  19256652000110   203500.0  customer_success
403  21017700000169   206000.0  customer_success
543  25239340000109   213000.0  customer_success
7    00570256000134   213000.0  customer_success
469  23017151000158   215000.0  customer_success
434  22150358000133   237500.0  customer_success
548  25350101000113   257000.0  customer_success
91   08036876000108   258500.0  customer_success
689  90005307000178   269000.0  customer_success
199  12788617000100   273000.0  customer_success
184  12232030000102   274000.0  customer_success
342  18930093000119   343000.0  customer_success
331  18571148000141   357500.0     customer_care
334  18662001000167   393500.0  customer_success
302  17688095000180   475000.0  customer_success
550  25533593000182   488000.0  customer_success
319  18239038000187   545000.0  customer_success
391  20452844000180   549500.0  customer_success
119  09350640000104   641000.0  customer_success
615  28347655000150   647500.0  customer_success
300  17616018000115   674000.0  customer_success
354  19292023000145   902500.0  customer_success
105  08713221000119  1120000.0  customer_success
247  15161218000103  1153000.0  customer_success
679  71673990000177  2500000.0  customer_success
588  27339285000146        NaN     customer_care

[700 rows x 3 columns]

In [49]:
dfp[dfp["cnpj"]=='04167283000383']

              cnpj  vol_max      tipo_base
36  04167283000383      NaN  customer_care

In [65]:
el = '27339285000146'
pa = CriteriosElegibilidade(cnpj=el, produto='wirecard')
pa.get_dados()
dff = pa.dados

dff['adquirentes'] = "moip"
fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
dff.dropna(inplace=True)

fluxos = dict()
for adq in dff['adquirentes'].unique().tolist():
    dt = dff[dff['adquirentes']==adq]
    dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
    fluxos[adq] = dt[['data', 'valor']].to_dict("records")


body = {
"fluxos" : fluxos,
"cnpj" : str(el),
"cnae" : "4744-0",
"volume_escolhido" : 0.5*fat_medio
}

req = requests.post(url, headers=header, json=body)

js = req.json()

In [66]:
js

{'valor_minimo': 7000,
 'valor_maximo': 23000.0,
 'propostas': [{'devido': 10099.0,
   'retencao': 0.16,
   'id_proposta': '8a00cdcf-5055-4653-933b-41395b1f444d'},
  {'devido': 10590.0,
   'retencao': 0.11015177668859386,
   'id_proposta': 'f11dd323-2f6c-4590-9fa6-a82fc17916f6'},
  {'devido': 11081.0,
   'retencao': 0.0603035533771877,
   'id_proposta': 'a0b16749-a3f8-4504-b9f8-1ad968a628d9'}]}

In [69]:
dt = dfp[dfp["cnpj"]=="27339285000146"]

In [71]:
dt["vol_max"] = 23000

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
dfp.dropna(inplace=True)

In [74]:
dfp = pd.concat([dfp, dt])

In [75]:
sem_proposta = dfp[dfp["vol_max"]==0]["cnpj"].tolist()

In [76]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_wirecard set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [77]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_wirecard set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [79]:
final["flag_proposta"] = final.apply(lambda x : int(x["cnpj"] not in sem_proposta), axis=1)

In [81]:
final["flag_aprovacao2"] = final.apply(lambda x : x["flag_aprovacao"] if x["flag_proposta"]==1 else x["flag_proposta"], axis=1)

In [84]:
final.groupby("flag_aprovacao2").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_proposta
flag_aprovacao2,,,,,,,,,,
0,439,439,439,439,439,439,269,439,439,439
1,668,668,668,668,668,668,668,668,668,668

In [85]:
final.drop(columns=["flag_aprovacao"], axis=1, inplace=True)

In [86]:
final.rename(columns={"flag_aprovacao2" : "flag_aprovacao"}, inplace=True)

In [87]:
final["data_atualizacao"] = datetime.now().date()

In [89]:
final["produto"] = "wirecard"

In [92]:
final.drop(columns=["historico", "flag_consulta"], inplace=True)

In [93]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
final.to_sql("pre_analise", schema="varejo", con=con, if_exists="append", index=False)
con.close()

In [94]:
df_aprov = dfp[dfp["vol_max"]>0]

In [96]:
df_aprov.head()

             cnpj   vol_max         tipo_base
0  00018460000147    8000.0     customer_care
1  00195664000153    7500.0     customer_care
2  00240629000109    9500.0     customer_care
3  00272073000302  153000.0  customer_success
4  00467109000133   11000.0     customer_care

In [97]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='WIRECARD' and status!='QUITADA'", con)
con.close()

In [98]:
df_aprov.shape

(668, 3)

In [99]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [100]:
df_aprov.shape

(657, 3)

In [101]:
df_aprov.to_excel("pre_analise_wirecard_201907.xlsx")

In [102]:
df_aprov["vol_max"].sum()

31453000.0

In [103]:
df_aprov

               cnpj    vol_max         tipo_base
0    00018460000147     8000.0     customer_care
1    00195664000153     7500.0     customer_care
2    00240629000109     9500.0     customer_care
3    00272073000302   153000.0  customer_success
4    00467109000133    11000.0     customer_care
5    00548620000160    37000.0     customer_care
6    00566262000118    21500.0     customer_care
7    00570256000134   213000.0  customer_success
8    00626948000157    33000.0     customer_care
9    00986814000147     7500.0     customer_care
10   01056417000139    20000.0     customer_care
11   01184310000176     5500.0     customer_care
12   01337552000152    27000.0  customer_success
13   01344128000135    21500.0  customer_success
14   01564112000138     5500.0  customer_success
15   01799108000159    28000.0     customer_care
16   01863881000137    19500.0     customer_care
17   01879689000139    11000.0     customer_care
18   01937526000165    48000.0  customer_success
19   02092758000122     6000.0     customer_care
21   02319380000408     5500.0     customer_care
22   02392887000136    18500.0     customer_care
23   02800667000102    10000.0     customer_care
24   03070616000127     6000.0     customer_care
25   03241334000145    69000.0  customer_success
26   03241608000104     9500.0     customer_care
27   03252315000114    28500.0     customer_care
28   03347828000109    14000.0     customer_care
29   03378624000135   121000.0  customer_success
30   03419495000186    12500.0     customer_care
..              ...        ...               ...
670  59708412000638    17000.0  customer_success
671  60877859000105    26000.0  customer_success
672  61328811000100    10000.0     customer_care
673  61904306000167    27000.0  customer_success
674  61933404000122    21500.0     customer_care
675  65868747000101    23500.0     customer_care
676  66019266000194     7500.0     customer_care
678  70176664000191     9000.0     customer_care
679  71673990000177  2500000.0  customer_success
680  71728778000160    42500.0  customer_success
681  71834089000130    76000.0     customer_care
682  72178353000197    14000.0     customer_care
683  72559297000130    18000.0     customer_care
684  74645169000135    37500.0  customer_success
685  75064261000174    67000.0  customer_success
686  78997095000157    18500.0     customer_care
687  80189772000152    56000.0     customer_care
688  81043085000197     8000.0     customer_care
689  90005307000178   269000.0  customer_success
690  90146747000145    15500.0     customer_care
691  90406117000162    27000.0     customer_care
692  90432717000103    73500.0  customer_success
693  90539453000183    28000.0     customer_care
694  92666056000106    17000.0     customer_care
695  92785047000126    21500.0     customer_care
696  93886505000186    42500.0  customer_success
697  96364815000129    14000.0     customer_care
698  97117477000193     7500.0     customer_care
699  97548453000199    12000.0     customer_care
588  27339285000146    23000.0     customer_care

[657 rows x 3 columns]