In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("trava_planeta_20190703.xlsx")

In [6]:
df[df['trava']=='S']["cnpj"].unique().tolist().__len__()

37

In [16]:
df["cnpj"].iloc[0]

20604000000299

In [17]:
df['cnpj'] = df["cnpj"].astype(str)

In [21]:
df['cnpj'] = df.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                      ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [23]:
df.head()

             cnpj    bandeira trava dataConsulta
0  20604000000299        VISA     S   2019-07-03
1  20604000000299      MASTER     S   2019-07-03
2  20604000000299    BANESTES     S   2019-07-03
3  20604000000299  CREDSYSTEM     S   2019-07-03
4  20604000000299   VERDECARD     S   2019-07-03

In [96]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

class CriteriosElegibilidade(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.elegibilidade_dividas=1.5
        self.elegibilidade_transacoes = 12
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    
    def mensaliza(self, df):
        df.index = pd.to_datetime(df.data)
        if self.produto=='pagueveloz':
            df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        else:
            df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        if self.produto == 'pagueveloz':
            df = self.dados[["data", "valor", "valor_boleto"]]
        else:
            df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        if self.produto != 'tomatico':
            try:
                df = self.dados[["data", "numero_transacoes"]]
                df.index = pd.to_datetime(df.data)
                df.resample('MS').sum().reset_index()
                df = df.iloc[:12, :]
                media_transacoes = df["numero_transacoes"].mean()
                flag_transacoes = int(media_transacoes > self.elegibilidade_transacoes)
                self.flag_transacoes = flag_transacoes
            except:
                self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=self.elegibilidade_dividas)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return prop
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        prop = self.check_dividas()
        return prop

In [25]:
lista_cnpj = df["cnpj"].unique().tolist()

In [26]:
lista_cnpj.__len__()

39

In [27]:
el = lista_cnpj[0]

In [28]:
el

'20604000000299'

In [29]:
ce = CriteriosElegibilidade(el, "justa")

In [33]:
ce.dados

         data     valor  numero_transacoes
0  2018-11-01  179646.0                707
1  2018-12-01  442194.0               1866
2  2019-01-01  102060.0                440
3  2019-02-01   94248.0                400
4  2019-03-01   88019.3                339
5  2019-04-01  110928.0                358
6  2019-05-01  122086.0                377
7  2019-06-01  146781.0                487

In [32]:
ce.get_dados()

In [36]:
ce.analisa()

In [37]:
ce.flag_faturamento

1

In [38]:
from tqdm import tqdm_notebook

In [97]:
resp = []
err = []
for el in tqdm_notebook(['11018748001533', '11018748000561']):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='justa')
        prop = pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df['prop'] = [prop]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        
        resp.append(_df)
    except:
        print("erro")
        err.append(el)

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

In [98]:
pd.concat(resp)

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,prop,historico,data_consulta
0,11018748001533,1,1,1,0,25.079089,8,2019-07-04 15:11:16
0,11018748000561,1,1,1,0,32.231975,8,2019-07-04 15:06:19

In [100]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
query = "select * from consultas_idwall_operacoes where cnpj_cpf in {}".format(tuple(['11018748001533', '11018748000561']))
df = pd.read_sql(query, con)
con.close()

In [105]:
df.groupby(["cnpj_cpf", "tipo"]).sum().reset_index()[["cnpj_cpf", "tipo", "valor"]].to_excel("divida_planeta.xlsx")

In [106]:
df.groupby(["cnpj_cpf", "tipo"]).sum().reset_index()[["cnpj_cpf", "tipo", "valor"]]

         cnpj_cpf        tipo       valor
0  11018748000561  pendencias  1811895.47
1  11018748000561   protestos      990.55
2  11018748001533  pendencias  1781849.78
3  11018748001533   protestos      990.55

In [42]:
final = pd.concat(resp)

In [44]:
final["flag_aprovacao"] = final["flag_faturamento"]*final['flag_transacoes']*final['flag_cheques']*final['flag_dividas']

In [46]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta
flag_aprovacao,,,,,,,
0,31,31,31,31,31,31,18
1,8,8,8,8,8,8,8

In [52]:
lista_pricing =final[final["flag_aprovacao"]==1]["cnpj"].unique().tolist()

In [54]:
lista_pricing

['20604000000299',
 '20593518000274',
 '20593518000355',
 '20737475000415',
 '20737475000334',
 '20604000000370',
 '11018748000561',
 '11018748001533']

In [64]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in lista_pricing:
    con.execute("update fluxo_justa set flag_aprovacao=1 where cnpj='{}'".format(el))
con.close()

In [65]:
import requests

In [67]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "justa"}

fr = []
err = []

for el in tqdm_notebook(lista_pricing):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='justa')
        pa.get_dados()
        dff = pa.dados

        dff['adquirentes'] = "justa"
        fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
        dff.dropna(inplace=True)

        fluxos = dict()
        for adq in dff['adquirentes'].unique().tolist():
            dt = dff[dff['adquirentes']==adq]
            dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
            fluxos[adq] = dt[['data', 'valor']].to_dict("records")


        body = {
        "fluxos" : fluxos,
        "cnpj" : str(el),
        "cnae" : "4744-0",
        "volume_escolhido" : 0.5*fat_medio
        }

        req = requests.post(url, headers=header, json=body)

        js = req.json()
        if len(js) == 0:
            vol_max = 0
        else:
            vol_max = js.get("valor_maximo")
        fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))
    except:
        err.append(el)

HBox(children=(IntProgress(value=0, max=8), HTML(value='')))

In [68]:
err2

['20604000000370']

In [69]:
el = "20604000000370"

In [70]:
pa = CriteriosElegibilidade(cnpj=el, produto='justa')
pa.get_dados()
dff = pa.dados

dff['adquirentes'] = "justa"
fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
dff.dropna(inplace=True)

fluxos = dict()
for adq in dff['adquirentes'].unique().tolist():
    dt = dff[dff['adquirentes']==adq]
    dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
    fluxos[adq] = dt[['data', 'valor']].to_dict("records")


body = {
"fluxos" : fluxos,
"cnpj" : str(el),
"cnae" : "4744-0",
"volume_escolhido" : 0.5*fat_medio
}

In [71]:
body

{'fluxos': {'justa': [{'data': '1-11-2018', 'valor': 46051.8},
   {'data': '1-12-2018', 'valor': 80104.6},
   {'data': '1-1-2019', 'valor': 32157.3},
   {'data': '1-2-2019', 'valor': 26700.8},
   {'data': '1-3-2019', 'valor': 28951.2},
   {'data': '1-4-2019', 'valor': 29601.9},
   {'data': '1-5-2019', 'valor': 30868.4},
   {'data': '1-6-2019', 'valor': 30792.3}]},
 'cnpj': '20604000000370',
 'cnae': '4744-0',
 'volume_escolhido': 19076.76875}

In [72]:
req = requests.post(url, headers=header, json=body)

js = req.json()

In [73]:
js

{'valor_minimo': 20000,
 'valor_maximo': 67500.0,
 'propostas': [{'devido': 19782.0,
   'retencao': 0.2,
   'id_proposta': '9e4d4823-dc95-4423-8107-86cc1cc562fd'},
  {'devido': 20944.0,
   'retencao': 0.12069085190171464,
   'id_proposta': '70e15320-7cb2-4488-a355-c1fd0649c516'},
  {'devido': 22105.0,
   'retencao': 0.04138170380342927,
   'id_proposta': 'c298ee15-216e-4eb3-a90a-b7d30fef433d'}]}

In [74]:
vol_max = js.get("valor_maximo")
fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

In [76]:
final = pd.concat(fr)

In [78]:
final["vol_max"].sum()

1027500.0

In [79]:
final

             cnpj   vol_max
0  20604000000299  330000.0
0  20593518000274  194000.0
0  20593518000355  234000.0
0  20737475000415   98500.0
0  20604000000370   67500.0
0  11018748000561   21500.0
0  11018748001533   14500.0
0  20604000000370   67500.0

In [85]:
dt = df[~df['cnpj'].isin(final["cnpj"].tolist())][['cnpj']].drop_duplicates()

In [86]:
dt["vol_max"] = 0

In [89]:
pd.concat([final, dt]).to_excel("pricing_planeta_201907.xlsx")