In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfpar = pd.read_sql("select * from parametrosPersonalizados", con)

con.close()

In [5]:
lista_par = dfpar['cnpj'].tolist()

In [7]:
lista_par = [el.replace('.', '').replace('-', '').replace('/', '') for el in lista_par]

In [9]:
lista_par.__len__()

129

In [14]:
lista = list(set(lista_par))

In [15]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
df = pd.read_sql("select * from acompanhamento where cnpj in {}".format(tuple(lista)), con)
con.close()

In [17]:
df.groupby('status').count()

,id,produto,empresa,cnpj,controleParticipante,dataCessao,valorAquisicao,valorPago,valorDevido,valorPresente,...,fluxoMax,fluxoMedia,mediaEstimada,mediaDia,score,saldoDevedor,score_temporal,liquidacao,divida,milestones
status,,,,,,,,,,,,,,,,,,,,,
ALERTA,9,9,9,9,9,9,9,9,9,9,...,9,9,8,9,9,0,9,9,9,9
BOM,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,0,12,12,12,12
COBRANCA,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,0,2,2,2,2
OTIMO,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,0,10,10,10,10
QUITADA,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,10,0,11,11,11,11
REESTRUTURADO,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,0,6,6,6,6

In [22]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
df = pd.read_sql("select * from acompanhamento", con)
con.close()

In [24]:
dftotal = df[~df['cnpj'].isin(lista)]

In [26]:
dftotal.groupby("status").count()

,id,produto,empresa,cnpj,controleParticipante,dataCessao,valorAquisicao,valorPago,valorDevido,valorPresente,...,fluxoMax,fluxoMedia,mediaEstimada,mediaDia,score,saldoDevedor,score_temporal,liquidacao,divida,milestones
status,,,,,,,,,,,,,,,,,,,,,
ALERTA,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,29,0,30,30,30,30
BOM,28,28,28,28,28,28,28,28,28,28,...,28,28,28,28,28,0,28,28,28,28
COBRANCA,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,0,7,7,7,7
CRITICO,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
EXECUCAO,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,0,2,2,2,2
OTIMO,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,0,33,33,33,33
QUITADA,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,3,0,4,4,4,4
QUITADA a VP,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1
REESTRUTURADO,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,0,3,3,3,3

In [19]:
df[df['status']=='QUITADA'].columns

Index(['id', 'produto', 'empresa', 'cnpj', 'controleParticipante',
       'dataCessao', 'valorAquisicao', 'valorPago', 'valorDevido',
       'valorPresente', 'taxaRetencao', 'taxaRetencaoIdeal', 'taxaEsperada',
       'taxaMin', 'taxaEfetiva', 'prazo', 'prazoMax', 'prazo_efetivo',
       'duration', 'duration_esperada', 'duration_efetiva', 'moic_contratado',
       'mediaFatAnterior', 'faturamentoMinimo', 'faturamentoMedio', 'entrada',
       'custoFixo', 'custoTotal', 'custoCredito', 'tac', 'fluxoMin',
       'fluxoMax', 'fluxoMedia', 'mediaEstimada', 'mediaDia', 'score',
       'status', 'saldoDevedor', 'score_temporal', 'liquidacao', 'divida',
       'milestones'],
      dtype='object')

In [21]:
df[df['status']=='QUITADA'][["cnpj", "taxaEsperada", "taxaEfetiva"]]

              cnpj  taxaEsperada  taxaEfetiva
0   28071213000123      0.030661    17.357307
1   26555778000150      0.020900     3.442520
2   28505748000165      0.166562     7.057254
3   09260699000101      0.029983    10.157877
4   28071213000123      0.035584    12.278084
5   08057373000100      0.037770    13.641863
6   15267573000153      0.043787     8.931168
7   28311798000101      0.041193     9.054673
8   29121680000183      0.061284    13.485217
9   29121680000183      0.033443     7.469424
10  97546276000101      0.115889    12.966154