In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df_cheques = pd.read_excel("../tabelas/base_cheques_201904.xlsx")
df_dividas = pd.read_excel("../tabelas/base_dividas_201904.xlsx")
df_idade = pd.read_excel("../tabelas/idade_maxima_divida_201904.xlsx")
df_tempo = pd.read_excel("../tabelas/tempo_medio_entre_dividas_201904.xlsx")

In [3]:
df_dividas['cnpj'] = df_dividas.apply(lambda x : '0' + str(x['cnpj']) if len(str(x['cnpj']))==13
                              else ('00' + str(x['cnpj']) if len(str(x['cnpj']))==12 else str(x['cnpj'])), axis=1)

In [4]:
df_idade['cnpj'] = df_idade.apply(lambda x : '0' + str(x['cnpj']) if len(str(x['cnpj']))==13
                              else ('00' + str(x['cnpj']) if len(str(x['cnpj']))==12 else str(x['cnpj'])), axis=1)

In [5]:
df_tempo['cnpj'] = df_tempo.apply(lambda x : '0' + str(x['cnpj']) if len(str(x['cnpj']))==13
                              else ('00' + str(x['cnpj']) if len(str(x['cnpj']))==12 else str(x['cnpj'])), axis=1)

In [6]:
df_cheques['cnpj'] = df_cheques.apply(lambda x : '0' + str(x['cnpj']) if len(str(x['cnpj']))==13
                              else ('00' + str(x['cnpj']) if len(str(x['cnpj']))==12 else str(x['cnpj'])), axis=1)

In [7]:
df_p = df_dividas[df_dividas['tipo']=='processos']

In [8]:
df_dividas = df_dividas[df_dividas['tipo']!='processos']

In [9]:
df_p['modalidade_natureza'] = df_p['descricao_natureza']

In [10]:
df_p.drop(columns=['descricao_natureza'], axis=1, inplace=True)

In [11]:
df_p.head()

,cnpj,data_ocorrencia,modalidade_natureza,natureza,tipo,uf,valor
0,03403405000169,03/07/2017,EXC JUD TRAB,Execução de Título Judicial Trabalhista,processos,SC,"R$ 17788,37"
1,03403405000169,24/01/2017,EXC JUD TRAB,Execução de Título Judicial Trabalhista,processos,RS,"R$ 75143,93"
2,03403405000169,11/08/2016,FISCAL ESTADUAL,Execução Fiscal Estadual,processos,SC,"R$ 0,00"
0,04501499000171,25/01/2019,FISCAL ESTADUAL,Execução Fiscal Estadual,processos,MG,"R$ 0,00"
1,04501499000171,18/01/2018,EXECUCAO,Execução,processos,MG,"R$ 0,00"

In [12]:
df_dividas.drop(columns=['descricao_natureza'], axis=1, inplace=True)

In [13]:
df = pd.concat([df_dividas, df_p])

In [14]:
df['modalidade_natureza'] = df.apply(lambda x : x['modalidade_natureza'].replace(" ", "") if isinstance(x['modalidade_natureza'], str) else "OUTROS", axis=1)

In [15]:
df['modalidade_natureza'].unique().tolist()

['Dívidanãocontestada.',
 'DUPLICATA',
 'OUTRASOPER',
 'OUTROS',
 'NOTAFISCAL',
 'EMPRESCONTA',
 'CREDCARTAO',
 'FINANCIAMENT',
 'OPERIMOBILI',
 'VENDAMERCAD',
 'TITDESCONTA',
 'ADIANTCONTA',
 'SERVTELEFON',
 'EMPRESTIMO',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIAELET',
 'CONFISSDIV',
 'CREDITOEFINANCIAMENTO-FINANC',
 'CREDIARIO',
 'TITULOSDESCONTADOS-TURISMO',
 'DIVIDASCHEQ',
 'OPERAJUIZAD',
 'REPASSES',
 'LEASING',
 'OUTRASOPERACOES-FINANCEIRA',
 'SEGUROSAUDE',
 'CONSORCIOCO',
 'CONSORCIOCONTEMPLADO',
 'CONSBENS',
 'TELEFFX',
 'TELEFFIXA',
 'TELEFMOVEL',
 'FATAGUA',
 'CONSVEICULO',
 'EXCJUDTRAB',
 'FISCALESTADUAL',
 'EXECUCAO',
 'FISCALFEDERAL',
 'FISCALMUNICIPAL',
 'EXECUCAO-JE',
 'BUSCAEAPREENSAO']

In [16]:
segmento_infra = ['FATAGUA', 'TELEFFX', 'TELEFFIXA', 'TELEFMOVEL', 'CONDOMINIO', 'ENERGIAELET', 'ALUGUEL', 
                  'SERVTELEFON']

segmento_credito = ['EMPRESCONTA', 'CREDCARTAO', 'FINANCIAMENT', 'CREDITOEFINANCIAMENTO-FINANC']

segmento_processos = ['EXCJUDTRAB', 'FISCALESTADUAL', 'EXECUCAO', 'FISCALFEDERAL', 'FISCALMUNICIPAL',
                     'EXECUCAO-JE', 'BUSCAEAPREENSAO']

In [17]:
df[df['tipo']=='processos']['modalidade_natureza'].unique().tolist()

['EXCJUDTRAB',
 'FISCALESTADUAL',
 'EXECUCAO',
 'FISCALFEDERAL',
 'FISCALMUNICIPAL',
 'EXECUCAO-JE',
 'BUSCAEAPREENSAO']

In [18]:
df['natureza'].unique().tolist()

['Falta Pagamento',
 'CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 nan,
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Operações ajuizadas ',
 'Arrendamentos, inclusive leasing',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves',
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Execução Fiscal Federal',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Busca e Apreensão']

In [19]:
df[df['natureza']=='Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc']['modalidade_natureza'].unique().tolist()

['EMPRESCONTA']

In [20]:
df[df['natureza']=='Cartão de crédito']['modalidade_natureza'].unique().tolist()

['CREDCARTAO']

In [21]:
df[df['natureza']=='Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc']['modalidade_natureza'].unique().tolist()

['FINANCIAMENT']

In [22]:
df[df['natureza']=='Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais']['modalidade_natureza'].unique().tolist()

['EMPRESTIMO']

In [23]:
df['segmento'] = df.apply(lambda x : 'processos' if x['tipo']=='processos'
                          else('credito' if x['modalidade_natureza'] in segmento_credito
                              else ('infra' if x['modalidade_natureza'] in segmento_infra else "outros")), axis=1)

In [24]:
df['valor'] = df.apply(lambda x : x['valor'].split("R$ ")[1].replace(",", "."), axis=1)

In [25]:
df["valor"] = df.apply(lambda x : float(x["valor"]), axis=1)

In [26]:
df["valor"].iloc[0]

892.53

In [27]:
df[df['segmento']=='credito']['cnpj'].unique().tolist().__len__()

189

In [28]:
df.head()

,cnpj,data_ocorrencia,modalidade_natureza,natureza,tipo,uf,valor,segmento
0,19008188000142,21/05/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,892.53,outros
1,19008188000142,22/03/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,560.00,outros
2,19008188000142,15/03/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,560.80,outros
3,19008188000142,01/03/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,452.50,outros
4,19008188000142,22/02/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,452.50,outros

In [29]:
df['valor'].iloc[0]

892.53

In [30]:
dt = df[df['cnpj']=='14534748000189']

In [31]:
dt.head()

,cnpj,data_ocorrencia,modalidade_natureza,natureza,tipo,uf,valor,segmento
0,14534748000189,03/11/2017,FINANCIAMENT,Créditos e financiamentos - empréstimos a pess...,restricoes_financeiras,,668.26,credito
0,14534748000189,19/10/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,493.03,outros
1,14534748000189,17/10/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,342.14,outros
2,14534748000189,17/10/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,243.42,outros
3,14534748000189,18/10/2018,Dívidanãocontestada.,Falta Pagamento,protestos,SP,174.51,outros

In [32]:
dt = dt.groupby("segmento").sum()

In [33]:
dt

              valor
segmento
credito      668.26
outros     65944.51
processos   4157.46

In [34]:
dt['prop'] = dt['valor']/dt['valor'].sum()

In [35]:
dt

              valor      prop
segmento
credito      668.26  0.009443
outros     65944.51  0.931811
processos   4157.46  0.058746

In [36]:
res = df.groupby(['cnpj', 'segmento']).sum().reset_index()

In [37]:
res.head()

             cnpj   segmento      valor
0  00178663000281    credito  262744.38
1  00178663000281      infra  346604.91
2  00178663000281     outros  174941.22
3  00178663000281  processos  373946.72
4  00225356000123     outros     174.98

In [38]:
_df = df.groupby(['cnpj']).sum().reset_index()

In [39]:
_df.columns = ['cnpj', 'total']

In [40]:
res.shape

(980, 3)

In [41]:
_df.shape

(717, 2)

In [42]:
res.merge(_df, left_on='cnpj', right_on='cnpj', how='left').shape

(980, 4)

In [43]:
res = res.merge(_df, left_on='cnpj', right_on='cnpj', how='left')

In [44]:
res['prop'] = res['valor']/res['total']

In [45]:
res.head()

             cnpj   segmento      valor       total      prop
0  00178663000281    credito  262744.38  1158237.23  0.226849
1  00178663000281      infra  346604.91  1158237.23  0.299252
2  00178663000281     outros  174941.22  1158237.23  0.151041
3  00178663000281  processos  373946.72  1158237.23  0.322858
4  00225356000123     outros     174.98      174.98  1.000000

In [46]:
df_cred = res[res['segmento']=='credito']

In [47]:
trace = go.Histogram(
    x = df_cred['prop'],
    xbins=dict(
            start=df_cred['prop'].min(),
            end=df_cred['prop'].max(),
            size=0.01
            ),
    marker = dict(color='rgb(79,173,161)')
)
layout = go.Layout()

fig = go.Figure(data = [trace], layout=layout)
iplot(fig)

In [38]:
df_cred[df_cred['prop']>0.8].head(20)

               cnpj segmento  valor_divida      total      prop
7    00437101000124  credito      11484.67   11813.67  0.972151
9    00661205000118  credito      27496.75   27496.75  1.000000
26   01623866000111  credito      69714.21   70651.39  0.986735
28   01753779000189  credito     291087.85  302359.86  0.962720
37   01912183000184  credito      23948.71   26388.02  0.907560
41   01988603000106  credito     768233.30  768233.30  1.000000
49   02282017000104  credito      76688.57   84293.87  0.909776
59   02361751000169  credito       2304.10    2304.10  1.000000
61   02395026000101  credito      26727.22   27804.00  0.961272
63   02427370000135  credito     145022.49  145022.49  1.000000
64   02458665000179  credito        828.79     828.79  1.000000
66   02555562000127  credito      73588.15   73588.15  1.000000
73   02862111000132  credito       1999.07    1999.07  1.000000
93   03356764000102  credito     174184.86  179861.48  0.968439
98   03429278000177  credito     191144.39  191144.39  1.000000
120  04160069000133  credito      33690.80   35060.56  0.960932
131  04336718000104  credito      19489.08   19551.98  0.996783
142  04509695000192  credito      34146.03   34146.03  1.000000
145  04607860000149  credito      94093.29   94093.29  1.000000
154  04887488000171  credito       4292.04    4292.04  1.000000

In [39]:
dt = df[df['cnpj']=='62148093000153']

In [40]:
color_menu = {
    'credito' : 'rgb(243,235,39)',
    'processos' : 'rgb(245,139,139)',
    'infra' : 'rgb(202,121,248)',
    'outros' : 'rgb(173,206,222)'
    
}

In [41]:
data = list()
for el in dt['segmento'].unique().tolist():
    _d = dt[dt['segmento']==el]
    trace = go.Bar(
        x = ['composicao da divida'],
        y = [_d['valor_divida'].sum()],
        name = el,
        marker = dict(color=color_menu.get(el))
    )
    data.append(trace)
layout = go.Layout(barmode='stack', bargap=0.7)
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [42]:
df_cred[df_cred['prop']>0.5].sort_values('prop')

               cnpj segmento  valor_divida       total      prop
268  08363132000190  credito     132559.64   257522.71  0.514749
196  06102005000101  credito       3719.46     7195.28  0.516931
486  13153240000178  credito       2314.46     4374.49  0.529081
204  06196038000168  credito        908.91     1710.90  0.531247
146  04634050000181  credito       1604.49     3015.93  0.532005
869  55057392000117  credito      34589.87    63094.11  0.548227
348  10556320000186  credito     156833.32   280614.83  0.558892
261  08310428000142  credito       1906.92     3321.98  0.574031
143  04588664000174  credito      11836.98    20335.43  0.582087
194  05951411000186  credito     294971.83   488626.89  0.603675
225  07194858000183  credito     155982.24   256185.37  0.608865
318  09286118000100  credito       2982.75     4499.13  0.662962
890  61353025000163  credito     328934.54   492335.59  0.668110
736  22861508000117  credito       1727.29     2559.00  0.674986
11   00806759000166  credito     341257.14   501878.93  0.679959
139  04501499000171  credito    1852616.58  2686262.17  0.689663
174  05458709000159  credito      27531.02    38896.56  0.707801
850  44705564000103  credito      80052.47   112691.20  0.710370
308  09189540000130  credito      12717.33    17063.54  0.745293
942  97546276000101  credito      82886.43   108881.10  0.761256
630  18754982000172  credito     296104.80   387899.77  0.763354
104  03704136000170  credito      94366.06   122479.68  0.770463
898  62148093000153  credito    3704265.14  4581782.67  0.808477
432  11325760000195  credito      15951.93    19367.08  0.823662
854  47785290000190  credito     123405.69   149074.54  0.827812
856  47785290000270  credito     123405.69   149074.54  0.827812
429  11296199000163  credito      35668.71    42687.18  0.835584
895  61607164000176  credito      69718.21    83338.57  0.836566
359  10649256000188  credito     237483.36   281896.60  0.842448
247  07742099000146  credito     168830.66   199698.31  0.845429
..              ...      ...           ...         ...       ...
145  04607860000149  credito      94093.29    94093.29  1.000000
755  24140472000108  credito       1422.67     1422.67  1.000000
797  26386968000191  credito       2324.55     2324.55  1.000000
245  07677806000168  credito       1184.24     1184.24  1.000000
620  18455950000176  credito        991.59      991.59  1.000000
59   02361751000169  credito       2304.10     2304.10  1.000000
306  09130013000150  credito        198.19      198.19  1.000000
383  10915041000161  credito      87085.77    87085.77  1.000000
419  11117460000110  credito      76387.35    76387.35  1.000000
422  11223079000136  credito      10794.48    10794.48  1.000000
63   02427370000135  credito     145022.49   145022.49  1.000000
466  12148895000195  credito       1150.65     1150.65  1.000000
482  12919292000140  credito     101298.33   101298.33  1.000000
41   01988603000106  credito     768233.30   768233.30  1.000000
251  07810124000181  credito     116051.09   116051.09  1.000000
503  13640726000130  credito        470.51      470.51  1.000000
512  14373103000101  credito       2668.79     2668.79  1.000000
530  15285941000196  credito      18423.64    18423.64  1.000000
534  15356544000168  credito      19701.97    19701.97  1.000000
535  15389888000173  credito      19387.26    19387.26  1.000000
537  15497859000125  credito     116073.75   116073.75  1.000000
539  15523647000175  credito       5183.43     5183.43  1.000000
545  15684485000157  credito       7115.39     7115.39  1.000000
546  15690193000127  credito       1309.08     1309.08  1.000000
250  07763971000132  credito       2743.13     2743.13  1.000000
554  16483140000106  credito       2728.39     2728.39  1.000000
574  17024240000129  credito       2349.29     2349.29  1.000000
933  83816330000187  credito      60672.79    60672.79  1.000000
629  18708873000119  credito      75811.66    75811.66  1.000000
142  04509695000192  credito      34146.03    34146.03  1.000000

[116 rows x 5 columns]

In [43]:
dt = df[df['cnpj']=='47785290000190']
data = list()
for el in dt['segmento'].unique().tolist():
    _d = dt[dt['segmento']==el]
    trace = go.Bar(
        x = ['composicao da divida'],
        y = [_d['valor_divida'].sum()],
        name = el,
        marker = dict(color=color_menu.get(el))
    )
    data.append(trace)
layout = go.Layout(barmode='stack', bargap=0.7)
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [44]:
dfp = res[res['segmento']=='processos']

In [45]:
dfp.sort_values('prop', ascending=False).head()

               cnpj   segmento  valor_divida      total  prop
167  05337303000118  processos       3214.00    3214.00   1.0
775  24873314000167  processos     342137.31  342137.31   1.0
868  53244075000184  processos      16555.56   16555.56   1.0
543  15576591000117  processos      24088.33   24088.33   1.0
619  18371750000135  processos       1262.92    1262.92   1.0

In [46]:
df[df['cnpj']=='18371750000135']

,cnpj,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida,segmento
0,18371750000135,FISCALMUNICIPAL,Execução Fiscal Municipal,processos,SP,1262.92,2018-12-19,1262.92,processos

In [47]:
dfp[dfp['prop']>0.5].sort_values('prop').head(10)

               cnpj   segmento  valor_divida        total      prop
557  16548890000100  processos      40180.03     77346.39  0.519482
485  12986061000159  processos     141644.67    268524.23  0.527493
129  04266489000107  processos      52043.86     93445.95  0.556941
597  17464661000170  processos      28292.82     48887.18  0.578737
32   01776827000154  processos      33761.78     57897.65  0.583129
875  58126236000159  processos      48374.89     81837.60  0.591108
462  11909146000170  processos       7410.46     12409.46  0.597162
109  03722779000147  processos     147181.44    240707.78  0.611453
885  60701190000104  processos    9139356.95  14608275.58  0.625629
267  08326660000179  processos       1586.59      2506.50  0.632990

In [48]:
dt = df[df['cnpj']=='60701190000104']
data = list()
for el in dt['segmento'].unique().tolist():
    _d = dt[dt['segmento']==el]
    trace = go.Bar(
        x = ['composicao da divida'],
        y = [_d['valor_divida'].sum()],
        name = el,
        marker = dict(color=color_menu.get(el))
    )
    data.append(trace)
layout = go.Layout(barmode='stack', bargap=0.7)
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [49]:
dt = df[df['cnpj']=='08326660000179']
data = list()
for el in dt['segmento'].unique().tolist():
    _d = dt[dt['segmento']==el]
    trace = go.Bar(
        x = ['composicao da divida'],
        y = [_d['valor_divida'].sum()],
        name = el,
        marker = dict(color=color_menu.get(el))
    )
    data.append(trace)
layout = go.Layout(barmode='stack', bargap=0.7)
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [48]:
pd.read_excel("../tabelas/analise_composicao_divida_201904.xlsx").head()

           cnpj   segmento  valor_divida       total      prop
0  178663000281    credito     262744.38  1158237.23  0.226849
1  178663000281      infra     346604.91  1158237.23  0.299252
2  178663000281     outros     174941.22  1158237.23  0.151041
3  178663000281  processos     373946.72  1158237.23  0.322858
4  225356000123     outros        174.98      174.98  1.000000

In [46]:
res.rename(columns={'valor' : 'valor_divida'}, inplace=True)

In [47]:
res.head()

             cnpj   segmento  valor_divida       total      prop
0  00178663000281    credito     262744.38  1158237.23  0.226849
1  00178663000281      infra     346604.91  1158237.23  0.299252
2  00178663000281     outros     174941.22  1158237.23  0.151041
3  00178663000281  processos     373946.72  1158237.23  0.322858
4  00225356000123     outros        174.98      174.98  1.000000

In [53]:
res.to_excel("../tabelas/analise_composicao_divida_201904.xlsx")

In [54]:
res[res['cnpj']=='00178663000281']['valor_divida'].sum()

1158237.2300000002

In [55]:
res[res['cnpj']=='00178663000281']

             cnpj   segmento  valor_divida       total      prop
0  00178663000281    credito     262744.38  1158237.23  0.226849
1  00178663000281      infra     346604.91  1158237.23  0.299252
2  00178663000281     outros     174941.22  1158237.23  0.151041
3  00178663000281  processos     373946.72  1158237.23  0.322858

In [48]:
res.rename(columns={'total' : 'total_divida'}, inplace=True)

In [49]:
res.rename(columns = {'prop' : 'composicao_divida'}, inplace=True)

In [50]:
# df_fat = pd.read_excel("../tabelas/faturamento_201904.xlsx")
df_fat = pd.read_excel("../tabelas/faturamento_medio_12_201904.xlsx")

In [51]:
df_fat.head()

             cnpj     fat_medio   produto
0  01136501000162   6380.034444  tomatico
1  01449841000143   3137.730000  tomatico
2  01976908000106  20601.068000  tomatico
3  02092455000100  45012.140000  tomatico
4  02225755000110   8491.854167  tomatico

In [59]:
df_fat.head()

             cnpj       data    valor   produto
0  01136501000162 2018-07-01  6579.12  tomatico
1  01136501000162 2018-08-01  7181.33  tomatico
2  01136501000162 2018-09-01  6766.67  tomatico
3  01136501000162 2018-10-01  8729.03  tomatico
4  01136501000162 2018-11-01  6050.42  tomatico

In [79]:
df_fat[df_fat['cnpj']=='43708379000100']

Empty DataFrame
Columns: [cnpj, data, valor, produto]
Index: []

In [60]:
## cnpj teste
df_fat = df_fat[df_fat['cnpj']!='60701190000104']

In [61]:
df_fat[df_fat['cnpj']=='06057209000178']

               cnpj       data    valor   produto
107  06057209000178 2018-09-01  15000.0  tomatico
108  06057209000178 2018-10-01  15000.0  tomatico
109  06057209000178 2018-11-01  15000.0  tomatico
110  06057209000178 2018-12-01  15000.0  tomatico
111  06057209000178 2019-01-01  15000.0  tomatico
112  06057209000178 2019-02-01  15000.0  tomatico
113  06057209000178 2019-03-01  15000.0  tomatico

In [68]:
## faturamento medio

In [52]:
# _df = df_fat.groupby('cnpj').mean().reset_index()
_df = df_fat[["cnpj", "fat_medio"]]

In [63]:
_df.head()

                 cnpj         valor
0  00.018.460/0001-47   7127.691379
1  00.020.674/0001-58  32229.254500
2  00.021.311/0005-60  12694.935714
3  00.066.987/0001-47   2032.592105
4  00.073.493/0001-90   8075.387727

In [64]:
_df.columns = ['cnpj', 'fat_medio']

In [53]:
_df.head()

             cnpj     fat_medio
0  01136501000162   6380.034444
1  01449841000143   3137.730000
2  01976908000106  20601.068000
3  02092455000100  45012.140000
4  02225755000110   8491.854167

In [54]:
_df['cnpj'] = _df.apply(lambda x : x['cnpj'].replace('.', '').replace('-', '').replace('/', ''), axis=1)

In [55]:
_df.head()

             cnpj     fat_medio
0  01136501000162   6380.034444
1  01449841000143   3137.730000
2  01976908000106  20601.068000
3  02092455000100  45012.140000
4  02225755000110   8491.854167

In [68]:
# res.drop(columns=['fat_medio'], axis=1, inplace=True)

In [57]:
res.head()

             cnpj   segmento  valor_divida  total_divida  composicao_divida
0  00178663000281    credito     262744.38    1158237.23           0.226849
1  00178663000281      infra     346604.91    1158237.23           0.299252
2  00178663000281     outros     174941.22    1158237.23           0.151041
3  00178663000281  processos     373946.72    1158237.23           0.322858
4  00225356000123     outros        174.98        174.98           1.000000

In [58]:
res.merge(_df, left_on='cnpj', right_on='cnpj', how="left").shape

(986, 6)

In [59]:
_df = _df[~_df['cnpj'].isin(["06057209000178", "61353025000163"])]

In [60]:
res = res.merge(_df, left_on='cnpj', right_on='cnpj', how='left')

In [61]:
res['prop_divida'] = res['total_divida']/res['fat_medio']

In [62]:
res.head()

,cnpj,segmento,valor_divida,total_divida,composicao_divida,fat_medio,prop_divida
0,00178663000281,credito,262744.38,1158237.23,0.226849,9010.214167,128.547136
1,00178663000281,infra,346604.91,1158237.23,0.299252,9010.214167,128.547136
2,00178663000281,outros,174941.22,1158237.23,0.151041,9010.214167,128.547136
3,00178663000281,processos,373946.72,1158237.23,0.322858,9010.214167,128.547136
4,00225356000123,outros,174.98,174.98,1.000000,24467.000000,0.007152

In [63]:
df_cheques.shape

(221, 5)

In [64]:
df_cheques.head()

  data_ocorrencia  uf  quantidade_cheques     tipo            cnpj
0      21/12/2016  SP                   1  cheques  19008188000142
0      17/05/2018  SP                  50  cheques  00748390000182
0      22/10/2018  CE                   1  cheques  07023773000132
0      18/09/2018  AL                  12  cheques  08792013000152
0      17/10/2018  RS                  14  cheques  09300308000127

In [65]:
res.head()

,cnpj,segmento,valor_divida,total_divida,composicao_divida,fat_medio,prop_divida
0,00178663000281,credito,262744.38,1158237.23,0.226849,9010.214167,128.547136
1,00178663000281,infra,346604.91,1158237.23,0.299252,9010.214167,128.547136
2,00178663000281,outros,174941.22,1158237.23,0.151041,9010.214167,128.547136
3,00178663000281,processos,373946.72,1158237.23,0.322858,9010.214167,128.547136
4,00225356000123,outros,174.98,174.98,1.000000,24467.000000,0.007152

In [66]:
df_total_cheques = df_cheques.groupby('cnpj').sum().reset_index()

In [67]:
res = res.merge(df_total_cheques, left_on='cnpj', right_on='cnpj', how='left')

In [68]:
res.fillna(0, inplace=True)

In [69]:
# qual o segmento de divida predominante para cada cnpj

In [70]:
_df = res[['cnpj', 'segmento', 'composicao_divida']]

In [71]:
fr = list()
for el in _df['cnpj'].unique().tolist():
    dt = _df[_df['cnpj']==el]
    seg = dt[dt['composicao_divida'] == dt['composicao_divida'].max()]['segmento'].iloc[0]
    comp = dt[dt['composicao_divida'] == dt['composicao_divida'].max()]['composicao_divida'].iloc[0]
    fr.append(pd.DataFrame({'cnpj' : [el], 'segmento_principal' : [seg], 'composicao_divida' : [comp]}))

In [72]:
df_seg_principal = pd.concat(fr)

In [73]:
df_comp_principal = df_seg_principal.groupby('segmento_principal').count().reset_index()[['segmento_principal', 'cnpj']]

In [74]:
df_comp_principal['prop'] = df_comp_principal['cnpj']/df_comp_principal['cnpj'].sum()

In [75]:
df_comp_principal.sort_values('prop', ascending=False, inplace=True)

In [76]:
data = list()
for el in df_comp_principal['segmento_principal'].tolist():
    trace = go.Bar(
        x = ["segmento"],
        y = df_comp_principal[df_comp_principal['segmento_principal']==el]['prop'].tolist(),
        marker = dict(color = color_menu.get(el)),
        name = el
    )
    data.append(trace)
layout = go.Layout(title = "Distribuição dos Principais segmentos de dívida - base total", barmode='stack',
                  bargap=0.7)
fig = go.Figure(data=data, layout=layout)
iplot(fig)

NameError: name 'color_menu' is not defined

In [77]:
res.head()

,cnpj,segmento,valor_divida,total_divida,composicao_divida,fat_medio,prop_divida,quantidade_cheques
0,00178663000281,credito,262744.38,1158237.23,0.226849,9010.214167,128.547136,17.0
1,00178663000281,infra,346604.91,1158237.23,0.299252,9010.214167,128.547136,17.0
2,00178663000281,outros,174941.22,1158237.23,0.151041,9010.214167,128.547136,17.0
3,00178663000281,processos,373946.72,1158237.23,0.322858,9010.214167,128.547136,17.0
4,00225356000123,outros,174.98,174.98,1.000000,24467.000000,0.007152,0.0

In [78]:
df_seg_principal.rename(columns={'composicao_divida' : 'composicao_principal'}, inplace=True)

In [79]:
res = res.merge(df_seg_principal, left_on='cnpj', right_on='cnpj', how='left')

In [80]:
res.head()

,cnpj,segmento,valor_divida,total_divida,composicao_divida,fat_medio,prop_divida,quantidade_cheques,segmento_principal,composicao_principal
0,00178663000281,credito,262744.38,1158237.23,0.226849,9010.214167,128.547136,17.0,processos,0.322858
1,00178663000281,infra,346604.91,1158237.23,0.299252,9010.214167,128.547136,17.0,processos,0.322858
2,00178663000281,outros,174941.22,1158237.23,0.151041,9010.214167,128.547136,17.0,processos,0.322858
3,00178663000281,processos,373946.72,1158237.23,0.322858,9010.214167,128.547136,17.0,processos,0.322858
4,00225356000123,outros,174.98,174.98,1.000000,24467.000000,0.007152,0.0,outros,1.000000

In [81]:
# cnpj moip 18356074000120
res[res['cnpj']=='18356074000120']

,cnpj,segmento,valor_divida,total_divida,composicao_divida,fat_medio,prop_divida,quantidade_cheques,segmento_principal,composicao_principal
637,18356074000120,credito,72333.40,84448.39,0.85654,7078.921667,11.929556,13.0,credito,0.85654
638,18356074000120,outros,12114.99,84448.39,0.14346,7078.921667,11.929556,13.0,credito,0.85654

In [82]:
## tempo medio == 0 => todas as dividas adquiridas em uma data
## tempo medio == nan => apenas um registro de divida

In [83]:
df_tempo['cnpj'] = df_tempo.apply(lambda x : str(x['cnpj']).split(".")[0], axis=1)

In [84]:
df_tempo['cnpj'] = df_tempo.apply(lambda x : '0' + x['cnpj'] if len(x['cnpj'])==13 else
                                  ('00' + x['cnpj'] if len(x['cnpj'])==12 else x['cnpj']), axis=1)

In [85]:
df_tempo.fillna(0, inplace=True)

In [86]:
df_tempo.head()

             cnpj  tempo_medio
0  19008188000142    54.818182
0  00748390000182    20.370370
0  00272073000302    48.600000
0  03403405000169    21.914634
0  04501499000171     6.590643

In [87]:
res = res.merge(df_tempo, left_on='cnpj', right_on='cnpj', how='left')

In [88]:
res.head()

,cnpj,segmento,valor_divida,total_divida,composicao_divida,fat_medio,prop_divida,quantidade_cheques,segmento_principal,composicao_principal,tempo_medio
0,00178663000281,credito,262744.38,1158237.23,0.226849,9010.214167,128.547136,17.0,processos,0.322858,6.497006
1,00178663000281,infra,346604.91,1158237.23,0.299252,9010.214167,128.547136,17.0,processos,0.322858,6.497006
2,00178663000281,outros,174941.22,1158237.23,0.151041,9010.214167,128.547136,17.0,processos,0.322858,6.497006
3,00178663000281,processos,373946.72,1158237.23,0.322858,9010.214167,128.547136,17.0,processos,0.322858,6.497006
4,00225356000123,outros,174.98,174.98,1.000000,24467.000000,0.007152,0.0,outros,1.000000,0.000000

In [89]:
df_idade['cnpj'] = df_idade.apply(lambda x : str(x['cnpj']), axis=1)

In [90]:
df_idade['cnpj'] = df_idade.apply(lambda x : '0' + x['cnpj'] if len(x['cnpj'])==13 else
                                  ("00" + x['cnpj'] if len(x['cnpj'])==12 else x['cnpj']), axis=1)

In [91]:
res = res.merge(df_idade[['cnpj', 'idade_maxima']], left_on='cnpj', right_on='cnpj', how='left')

In [92]:
_df = res[['cnpj', 'segmento', 'composicao_divida']]

In [93]:
_df.head()

             cnpj   segmento  composicao_divida
0  00178663000281    credito           0.226849
1  00178663000281      infra           0.299252
2  00178663000281     outros           0.151041
3  00178663000281  processos           0.322858
4  00225356000123     outros           1.000000

In [94]:
_df = _df[_df["cnpj"]!='61353025000163']

In [98]:
_df.groupby(["cnpj", "segmento"]).count().sort_values("composicao_divida", ascending=False).head()

                          composicao_divida
cnpj           segmento
60701190000104 infra                      2
               outros                     2
               processos                  2
00178663000281 credito                    1
18703372000140 outros                     1

In [100]:
_df = _df[_df["cnpj"]!="60701190000104"]

In [101]:
_df = _df.pivot(columns='segmento', index='cnpj', values='composicao_divida').reset_index().fillna(0)

In [102]:
_df.head()

segmento            cnpj   credito     infra    outros  processos
0         00178663000281  0.226849  0.299252  0.151041   0.322858
1         00225356000123  0.000000  0.000000  1.000000   0.000000
2         00265954000207  0.000000  0.000000  1.000000   0.000000
3         00272073000302  0.000000  0.000000  1.000000   0.000000
4         00437101000124  0.972151  0.000000  0.027849   0.000000

In [103]:
res.columns

Index(['cnpj', 'segmento', 'valor_divida', 'total_divida', 'composicao_divida',
       'fat_medio', 'prop_divida', 'quantidade_cheques', 'segmento_principal',
       'composicao_principal', 'tempo_medio', 'idade_maxima'],
      dtype='object')

In [104]:
final = res[['cnpj', 'prop_divida', 'quantidade_cheques', 'tempo_medio', 'idade_maxima']]

In [105]:
final = final.merge(_df, left_on='cnpj', right_on='cnpj', how='left')

In [106]:
final.head()

,cnpj,prop_divida,quantidade_cheques,tempo_medio,idade_maxima,credito,infra,outros,processos
0,00178663000281,128.547136,17.0,6.497006,1134,0.226849,0.299252,0.151041,0.322858
1,00178663000281,128.547136,17.0,6.497006,1134,0.226849,0.299252,0.151041,0.322858
2,00178663000281,128.547136,17.0,6.497006,1134,0.226849,0.299252,0.151041,0.322858
3,00178663000281,128.547136,17.0,6.497006,1134,0.226849,0.299252,0.151041,0.322858
4,00225356000123,0.007152,0.0,0.000000,1793,0.000000,0.000000,1.000000,0.000000

In [109]:
df_dispersao = pd.read_excel("../tabelas/metrica_dispersao_201904.xlsx")

In [110]:
df_dispersao['cnpj'] = df_dispersao.apply(lambda x : str(x["cnpj"]).split(".")[0], axis=1)

In [111]:
df_dispersao["cnpj"] = df_dispersao.apply(lambda x : "0" + x['cnpj'] if len(x['cnpj'])==13 else
                                          ("00" + x['cnpj'] if len(x["cnpj"])==12 else x['cnpj']), axis=1)

In [112]:
df_dispersao['cnpj'].iloc[0]

'19008188000142'

In [113]:
df_dispersao.shape

(482, 2)

In [114]:
final['cnpj'].unique().tolist().__len__()

717

In [115]:
final.drop_duplicates(inplace=True)

In [116]:
df_dispersao.head()

             cnpj  dispersao
0  19008188000142       0.00
0  00748390000182       0.25
0  00272073000302       0.00
0  03403405000169       0.25
0  04501499000171       0.25

In [117]:
final = final.merge(df_dispersao, left_on='cnpj', right_on='cnpj', how='left')

In [118]:
final.fillna(0, inplace=True)

In [119]:
final.head()

,cnpj,prop_divida,quantidade_cheques,tempo_medio,idade_maxima,credito,infra,outros,processos,dispersao
0,00178663000281,128.547136,17.0,6.497006,1134,0.226849,0.299252,0.151041,0.322858,0.0
1,00225356000123,0.007152,0.0,0.000000,1793,0.000000,0.000000,1.000000,0.000000,0.0
2,00265954000207,0.003095,0.0,0.000000,73,0.000000,0.000000,1.000000,0.000000,0.0
3,00272073000302,0.069306,0.0,48.600000,320,0.000000,0.000000,1.000000,0.000000,0.0
4,00437101000124,1.279481,0.0,31.666667,283,0.972151,0.000000,0.027849,0.000000,0.0

In [120]:
res.to_excel("../tabelas/dataset_variaveis_completo_201904.xlsx")

In [121]:
final.to_excel('../tabelas/dataset_modelo_201904.xlsx')