- Criando algumas features para o estudo de Behavior Analytics

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import json
import requests
from time import sleep
from datetime import datetime
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import warnings
warnings.filterwarnings('ignore')

In [2]:
# falencias : 24ffc4c7-7a5b-40dd-be93-f98b4b47e68f

In [ ]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select * from consultas_idwall_operacoes", con)

In [ ]:
df.head()

In [ ]:
# df['data_consulta'] = df.apply(lambda x : x['data_ref'].date(), axis=1)

In [ ]:
fr = list()
for el in df['cnpj_cpf'].unique().tolist():
    dt = df[df['cnpj_cpf']==el]
    data_max = dt['data_ref'].max()
    dt = dt[dt['data_ref']==data_max]
    fr.append(dt)

In [ ]:
dfCons = pd.concat(fr)

In [ ]:
dfCons.shape

In [ ]:
dfCons.head()

In [ ]:
dfCons.to_excel("../tabelas/base_idwall.xlsx")

In [3]:
dfCons = pd.read_excel("../tabelas/base_idwall.xlsx")

In [4]:
dfCons['flag_cnpj'] = dfCons.apply(lambda x : int(len(x['cnpj_cpf'])==14), axis=1)

In [5]:
dfCons[dfCons['cnpj_cpf']=='20604000000370']

,id,cnpj_cpf,data_ref,data_inclusao,data_ocorrencia,natureza,valor,tipo,numero_consulta,situacao_cadastral_cnpj,sancoes_onu,pep,mun_fronteirico,flag_cnpj
26881,28210,20604000000370,2019-03-21 19:03:20,2016-02-12 00:00:00,2016-01-26 00:00:00,Falta Pagamento,1000.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,NaN,1
26882,28211,20604000000370,2019-03-21 19:03:20,2016-01-27 00:00:00,2015-12-26 00:00:00,Falta Pagamento,1000.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,NaN,1
26883,28212,20604000000370,2019-03-21 19:03:20,2018-08-17 00:00:00,2015-12-16 00:00:00,Falta Pagamento,566.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,NaN,1
26884,28213,20604000000370,2019-03-21 19:03:20,2015-12-09 00:00:00,2015-11-26 00:00:00,Falta Pagamento,1012.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,NaN,1

In [6]:
dfCons['natureza'].unique().tolist()

['CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 nan,
 'Falta Pagamento',
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Execução Fiscal Federal',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Arrendamentos, inclusive leasing',
 'Operações ajuizadas ',
 'Busca e Apreensão',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves']

In [7]:
def get_validacoes(numero):
    URL = "https://api-v2.idwall.co/relatorios"
    authorization = "b3818f92-5807-4acf-ade8-78a1f6d7996b"
    url_details = URL + "/{}".format(numero) + "/validacoes"
    while True:
        dets = requests.get(url_details, headers={"authorization": authorization})
        djson = dets.json()
        sleep(1)
        if djson['result']['status'] == "CONCLUIDO":
            break

    return dets.json()

def get_details(numero):
    URL = "https://api-v2.idwall.co/relatorios"
    authorization = "b3818f92-5807-4acf-ade8-78a1f6d7996b"
    url_details = URL + "/{}".format(numero) + "/dados"
    while True:
        dets = requests.get(url_details, headers={"authorization": authorization})
        djson = dets.json()
        sleep(1)
        if djson['result']['status'] == "CONCLUIDO":
            break

    return dets.json()

In [8]:
## cnpj moip 
dfCons[dfCons['cnpj_cpf']=='18356074000120']

,id,cnpj_cpf,data_ref,data_inclusao,data_ocorrencia,natureza,valor,tipo,numero_consulta,situacao_cadastral_cnpj,sancoes_onu,pep,mun_fronteirico,flag_cnpj
26451,27779,18356074000120,2019-03-19 10:33:14,2018-01-09 00:00:00,2015-01-27 00:00:00,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,11421.00,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26452,27780,18356074000120,2019-03-19 10:33:14,2017-12-18 00:00:00,2015-01-26 00:00:00,Cartão de crédito,2318.53,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26453,27781,18356074000120,2019-03-19 10:33:14,2017-12-18 00:00:00,2014-12-13 00:00:00,Cartão de crédito,2590.85,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26454,27782,18356074000120,2019-03-19 10:33:14,2018-01-09 00:00:00,2014-05-09 00:00:00,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,56003.10,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26455,27783,18356074000120,2019-03-19 10:33:14,2015-12-19 00:00:00,2015-11-01 00:00:00,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,1877.29,pendencias,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26456,27784,18356074000120,2019-03-19 10:33:14,2017-06-20 00:00:00,2017-06-02 00:00:00,NaN,13.00,cheques,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26457,27785,18356074000120,2019-03-19 10:33:14,2018-02-26 00:00:00,2018-02-07 00:00:00,Falta Pagamento,5946.33,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26458,27786,18356074000120,2019-03-19 10:33:14,2017-10-24 00:00:00,2017-07-13 00:00:00,Falta Pagamento,361.79,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26459,27787,18356074000120,2019-03-19 10:33:14,2017-10-24 00:00:00,2017-07-13 00:00:00,Falta Pagamento,817.83,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26460,27788,18356074000120,2019-03-19 10:33:14,2016-01-20 00:00:00,2016-01-01 00:00:00,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26461,27789,18356074000120,2019-03-19 10:33:14,2015-12-18 00:00:00,2015-12-01 00:00:00,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26462,27790,18356074000120,2019-03-19 10:33:14,2015-11-18 00:00:00,2015-11-01 00:00:00,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26463,27791,18356074000120,2019-03-19 10:33:14,2015-10-22 00:00:00,2015-10-01 00:00:00,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26464,27792,18356074000120,2019-03-19 10:33:14,2015-05-07 00:00:00,2015-04-15 00:00:00,Falta Pagamento,844.75,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1
26465,27793,18356074000120,2019-03-19 10:33:14,2015-04-10 00:00:00,2015-03-11 00:00:00,Falta Pagamento,267.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,NaN,1

In [9]:
js = get_details('c8711cf5-3181-443c-bd79-51fd18b519a6')
js = js.get("result")

In [10]:
js.keys()

dict_keys(['atualizado_em', 'criado_em', 'mensagem', 'nome', 'numero', 'resultado', 'status', 'validado_em', 'validado_manualmente', 'bigboost', 'cnpj', 'ofac_sdn', 'restricoes_financeiras', 'protestos', 'pendencias', 'cheques'])

In [11]:
def get_cheques(js):
    res = js.get("cheques")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        df = df[["data_ocorrencia", "uf", "quantidade_cheques"]]
        df["tipo"] = "cheques"
        return df
    else:
        return None

In [12]:
def get_restricoes_financeiras(js):
    res = js.get("restricoes_financeiras")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        if "uf" in list(df.columns):
            df = df[["data_ocorrencia", "modalidade_natureza", "natureza", "uf", "valor"]]
        else:
            df = df[["data_ocorrencia", "modalidade_natureza", "natureza", "uf", "valor"]]
            df['uf'] = None
        
        df["tipo"] = "restricoes_financeiras"
        return df
    return None

In [13]:
def get_protestos(js):
    res = js.get("protestos")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        if "uf" in list(df.columns):
            df = df[["data_anotacao", "natureza", "sub_judice_descricao", "uf", "valor"]]
            df.columns = ["data_ocorrencia", "natureza", "modalidade_natureza", "uf", "valor"]
        else:
            df = df[["data_anotacao", "natureza", "sub_judice_descricao", "valor"]]
            df.columns = ["data_ocorrencia", "natureza", "modalidade_natureza", "valor"]
            df["uf"] = None
        df['tipo'] = "protestos"
        return df
    return None

In [14]:
def get_pendencias(js):
    res = js.get("pendencias")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        if "uf" in list(df.columns):
            df = df[["data_ocorrencia", "modalidade", "natureza", "valor", "uf"]]
            
        else:
            df = df[["data_ocorrencia", "modalidade", "natureza", "valor"]]
            df["uf"] = None
        df.rename(columns={"modalidade" : "modalidade_natureza"}, inplace=True)
        df['tipo'] = "pendencias"
        return df
    return None

In [15]:
def get_processos(js):
    res = js.get("processos")
    if not res is None:
        df = pd.DataFrame(res.get('itens'))
        if "uf" in list(df.columns):
            df = df[["data_ocorrencia", "descricao_natureza", "natureza", "uf", "valor"]]
        else:
            df = df[["data_ocorrencia", "descricao_natureza", "natureza", "valor"]]
            df["uf"] = None
        df.rename(columns = {"descricao_natureza" : "modalidade_natureza"})
        df["tipo"] = "processos"
        return df
    return None

In [16]:
get_restricoes_financeiras(js)

,data_ocorrencia,modalidade_natureza,natureza,uf,valor,tipo
0,27/01/2015,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,SP,"R$ 11420,97",restricoes_financeiras
1,26/01/2015,CRED CARTAO,Cartão de crédito,,"R$ 2318,53",restricoes_financeiras
2,13/12/2014,CRED CARTAO,Cartão de crédito,,"R$ 2590,85",restricoes_financeiras
3,09/05/2014,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,SP,"R$ 56003,05",restricoes_financeiras

In [17]:
get_protestos(js)

,data_ocorrencia,natureza,modalidade_natureza,uf,valor,tipo
0,07/02/2018,Falta Pagamento,Dívida não contestada.,SP,"R$ 5946,33",protestos
1,13/07/2017,Falta Pagamento,Dívida não contestada.,SP,"R$ 361,79",protestos
2,13/07/2017,Falta Pagamento,Dívida não contestada.,SP,"R$ 817,83",protestos
3,01/01/2016,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
4,01/12/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
5,01/11/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
6,01/10/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
7,15/04/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 844,75",protestos
8,11/03/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 267,00",protestos

In [18]:
get_processos(js)

In [19]:
get_pendencias(js)

,data_ocorrencia,modalidade_natureza,natureza,valor,uf,tipo
0,01/11/2015,OUTRAS OPER,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 1877,29",None,pendencias

In [20]:
get_cheques(js)

  data_ocorrencia  uf quantidade_cheques     tipo
0      02/06/2017  SP                 13  cheques

In [21]:
js = get_details("24ffc4c7-7a5b-40dd-be93-f98b4b47e68f")
js = js.get("result")

In [22]:
get_processos(js)

,data_ocorrencia,descricao_natureza,natureza,uf,valor,tipo
0,03/07/2017,EXC JUD TRAB,Execução de Título Judicial Trabalhista,SC,"R$ 17788,37",processos
1,24/01/2017,EXC JUD TRAB,Execução de Título Judicial Trabalhista,RS,"R$ 75143,93",processos
2,11/08/2016,FISCAL ESTADUAL,Execução Fiscal Estadual,SC,"R$ 0,00",processos

In [23]:
## cpf = 360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b

In [25]:
js = get_details("360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b")

In [28]:
js = js.get("result")

In [30]:
js.keys()

dict_keys(['atualizado_em', 'criado_em', 'mensagem', 'nome', 'numero', 'resultado', 'status', 'validado_em', 'validado_manualmente', 'pep', 'cpf', 'ofac_sdn', 'pendencias', 'pessoas_relacionadas', 'enderecos', 'emails', 'participacao_empresas'])

In [24]:
get_cheques(js)

In [25]:
get_pendencias(js)

,data_ocorrencia,modalidade_natureza,natureza,valor,uf,tipo
0,07/11/2015,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 727,16",NaN,pendencias
1,03/10/2014,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 7582,00",NaN,pendencias
2,11/08/2014,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 15431,50",NaN,pendencias
3,11/07/2014,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 10419,20",NaN,pendencias
4,15/12/2018,NaN,NaN,"R$ 94431,65",RS,pendencias
5,16/10/2018,NaN,NaN,"R$ 333263,12",RS,pendencias
6,11/09/2018,NaN,NaN,"R$ 284706,58",RS,pendencias
7,14/08/2018,NaN,NaN,"R$ 216168,66",RS,pendencias
8,12/05/2018,NaN,NaN,"R$ 175486,06",RS,pendencias
9,17/04/2018,NaN,NaN,"R$ 228754,07",RS,pendencias
10,15/02/2018,NaN,NaN,"R$ 197319,89",RS,pendencias
11,13/01/2018,NaN,NaN,"R$ 177331,48",RS,pendencias
12,15/12/2017,NaN,NaN,"R$ 187406,36",RS,pendencias
13,14/11/2017,NaN,NaN,"R$ 272416,02",RS,pendencias
14,14/10/2017,NaN,NaN,"R$ 207610,42",RS,pendencias
15,13/06/2017,NaN,NaN,"R$ 206762,62",RS,pendencias
16,13/05/2017,NaN,NaN,"R$ 160427,03",RS,pendencias
17,06/03/2017,NaN,NaN,"R$ 442880,94",RS,pendencias
18,06/03/2017,NaN,NaN,"R$ 168063,10",RS,pendencias
19,11/02/2017,NaN,NaN,"R$ 192940,82",RS,pendencias
20,17/01/2017,NaN,NaN,"R$ 176687,18",RS,pendencias
21,13/12/2016,NaN,NaN,"R$ 177617,31",RS,pendencias
22,12/11/2016,NaN,NaN,"R$ 218629,46",RS,pendencias
23,14/10/2016,NaN,NaN,"R$ 189512,43",RS,pendencias
24,13/09/2016,NaN,NaN,"R$ 242478,69",RS,pendencias
25,13/08/2016,NaN,NaN,"R$ 279347,21",RS,pendencias
26,12/07/2016,NaN,NaN,"R$ 194188,22",RS,pendencias
27,14/06/2016,NaN,NaN,"R$ 237229,22",RS,pendencias
28,06/04/2016,NaN,NaN,"R$ 254743,90",RS,pendencias
29,06/04/2016,NaN,NaN,"R$ 178709,33",RS,pendencias
30,15/03/2016,NaN,NaN,"R$ 501260,96",RS,pendencias
31,12/01/2016,NaN,NaN,"R$ 257822,21",RS,pendencias
32,12/01/2016,NaN,NaN,"R$ 197827,31",RS,pendencias
33,15/12/2015,NaN,NaN,"R$ 183263,90",RS,pendencias
34,30/10/2015,NaN,NaN,"R$ 8810,17",PR,pendencias
35,20/10/2015,NaN,NaN,"R$ 12314,81",PR,pendencias
36,21/09/2015,NaN,NaN,"R$ 251281,48",RS,pendencias
37,21/09/2015,NaN,NaN,"R$ 287946,91",RS,pendencias
38,12/09/2015,NaN,NaN,"R$ 304434,11",RS,pendencias
39,14/08/2015,NaN,NaN,"R$ 84015,35",RS,pendencias
40,14/07/2015,NaN,NaN,"R$ 176727,64",RS,pendencias
41,13/06/2015,NaN,NaN,"R$ 172615,89",RS,pendencias
42,13/04/2015,NaN,NaN,"R$ 83972,46",RS,pendencias
43,13/04/2015,NaN,NaN,"R$ 80020,89",RS,pendencias
44,14/03/2015,NaN,NaN,"R$ 246131,02",RS,pendencias
45,13/02/2015,NaN,NaN,"R$ 112831,16",RS,pendencias
46,13/01/2015,NaN,NaN,"R$ 262109,08",RS,pendencias
47,14/11/2014,NaN,NaN,"R$ 367598,76",RS,pendencias
48,14/10/2014,NaN,NaN,"R$ 26087,98",RS,pendencias
49,12/08/2014,NaN,NaN,"R$ 548758,95",RS,pendencias
50,12/07/2014,NaN,NaN,"R$ 283868,33",RS,pendencias
51,14/06/2014,NaN,NaN,"R$ 112675,57",RS,pendencias
52,13/05/2014,NaN,NaN,"R$ 72047,15",RS,pendencias
53,15/03/2014,NaN,NaN,"R$ 436464,24",RS,pendencias

In [26]:
df = dfCons[dfCons['flag_cnpj']==1]

In [27]:
df['cnpj_cpf'].unique().tolist().__len__()

2210

In [28]:
el = '19008188000142'

In [29]:
from tqdm import tqdm_notebook

In [62]:
fr = list()
cheques = list()
err = list()

for el in tqdm_notebook(df["cnpj_cpf"].unique().tolist()):
    numero = df[df['cnpj_cpf']==el]['numero_consulta'].iloc[0]

    js = get_details(numero)

    js = js.get("result")

    
    try:
        df1 = get_restricoes_financeiras(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)

        df1 = get_protestos(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)

        df1 = get_pendencias(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)

        df1 = get_processos(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)
        df0 = get_cheques(js)
        if not df0 is None:
            df0['cnpj'] = el
            cheques.append(df0)
    except:
        err.append(el)

HBox(children=(IntProgress(value=0, max=2210), HTML(value='')))

In [63]:
err.__len__()

28

In [64]:
df_cheques = pd.concat(cheques)

In [69]:
df_cheques.sort_values("quantidade_cheques", ascending=False).head()

  data_ocorrencia  uf quantidade_cheques     tipo            cnpj
0      13/10/2016  PE                  9  cheques  10727992000107
0      26/12/2016                      9  cheques  58126236000159
0      27/09/2018  SP                  9  cheques  17189173000100
0      25/02/2019  SP                  9  cheques  03244726000168
1      07/01/2019  SP                  9  cheques  06145688000184

In [70]:
df_cheques.to_excel("../tabelas/base_cheques.xlsx")

In [30]:
df_cheques = pd.read_excel("../tabelas/base_cheques.xlsx")

In [31]:
dfDiv = pd.concat(fr)

NameError: name 'fr' is not defined

In [32]:
dfDiv.shape

NameError: name 'dfDiv' is not defined

In [76]:
dfDiv['cnpj'].unique().tolist().__len__()

696

In [79]:
dfDiv["descricao_natureza"].unique().tolist()

[nan,
 'EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [81]:
dfDiv[dfDiv['cnpj']=='18356074000120']

,cnpj,data_ocorrencia,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor
0,18356074000120,27/01/2015,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 11420,97"
1,18356074000120,26/01/2015,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2318,53"
2,18356074000120,13/12/2014,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2590,85"
3,18356074000120,09/05/2014,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 56003,05"
0,18356074000120,07/02/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 5946,33"
1,18356074000120,13/07/2017,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 361,79"
2,18356074000120,13/07/2017,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 817,83"
3,18356074000120,01/01/2016,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
4,18356074000120,01/12/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
5,18356074000120,01/11/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
6,18356074000120,01/10/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
7,18356074000120,15/04/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 844,75"
8,18356074000120,11/03/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 267,00"
0,18356074000120,01/11/2015,NaN,OUTRAS OPER,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 1877,29"

In [83]:
dfDiv[dfDiv['natureza']=='CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO']["modalidade_natureza"].unique().tolist()

['DUPLICATA',
 'OUTRAS OPER',
 'NOTA FISCAL',
 'VENDA MERCAD',
 'TIT DESCONTA',
 'TIT DESCONTA                  ',
 'SERV TELEFON',
 'OUTRAS OPER                   ',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIA ELET',
 'CONFISS DIV',
 'CREDITO E FINANCIAMENTO-FINANC',
 'CREDIARIO',
 'TITULOS DESCONTADOS-TURISMO   ',
 'DIVIDAS CHEQ',
 'REPASSES                      ',
 'OUTRAS OPERACOES-FINANCEIRA   ',
 'SEGURO SAUDE',
 'CONSORCIO CO',
 'CONSORCIO CONTEMPLADO         ',
 'TELEF FX',
 'TELEF FIXA',
 'TELEF MOVEL',
 'FAT AGUA']

In [84]:
dfDiv[dfDiv['modalidade_natureza']=='DIVIDAS CHEQ']

,cnpj,data_ocorrencia,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor
0,26856710000101,30/11/2017,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 3009,75"
7,03704136000170,09/03/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 580,00"
8,03704136000170,11/02/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 580,00"
9,03704136000170,06/01/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 580,00"
0,28178160000144,30/06/2018,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 500,00"
13,11728613000166,07/04/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 264,99"
0,15549133000199,12/04/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 168,00"
1,15549133000199,12/03/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 168,00"
0,09115820000101,10/03/2018,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 10000,00"
2,20314546000124,01/07/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 10000,00"

In [86]:
dfDiv[dfDiv['cnpj']=='11728613000166']["uf"].unique().tolist()

['SP', None]

In [120]:
dfDiv.to_excel("../tabelas/base_dividas.xlsx")

In [143]:
dfDiv = pd.read_excel("../tabelas/base_dividas.xlsx")

In [115]:
float(dfDiv["valor"].iloc[0].split("R$ ")[1].replace(",", "."))

892.53

In [117]:
dfDiv["valor_divida"] = dfDiv.apply(lambda x : float(x["valor"].split("R$ ")[1].replace(",", ".")), axis=1)

In [119]:
dfDiv.head()

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53",2018-05-21,892.53
1,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,00",2018-03-22,560.00
2,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,80",2018-03-15,560.80
3,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",2018-03-01,452.50
4,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",2018-02-22,452.50

In [92]:
dfDiv["data"] = dfDiv.apply(lambda x : datetime.strptime(x["data_ocorrencia"], "%d/%m/%Y").date(), axis=1)

In [94]:
dfDiv.drop(columns = ["data_ocorrencia"], axis=1, inplace=True)

In [121]:
dt = dfDiv[dfDiv["cnpj"]=='19008188000142']

In [122]:
## tempo medio entre dividas

In [105]:
(datetime.now().date() - dt["data"].iloc[0]).days

310

In [123]:
trace = go.Bar(
    x = dt["data"],
    y = dt["valor_divida"]
)
layout = go.Layout()
fig = go.Figure(data=[trace], layout=layout)
iplot(fig)

In [125]:
dt2 = dfDiv[dfDiv['cnpj']=='20604000000370']

In [126]:
dt2

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",2016-01-26,1000.0
1,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",2015-12-26,1000.0
2,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 566,00",2015-12-16,566.0
3,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1012,00",2015-11-26,1012.0

In [127]:
trace = go.Bar(
    x = dt2["data"],
    y = dt2["valor_divida"]
)
layout = go.Layout()
fig = go.Figure(data=[trace], layout=layout)
iplot(fig)

In [128]:
dt2

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",2016-01-26,1000.0
1,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",2015-12-26,1000.0
2,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 566,00",2015-12-16,566.0
3,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1012,00",2015-11-26,1012.0

In [144]:
d = dt2.sort_values("data")[["data"]].diff().dropna()

In [147]:
d["data"].iloc[0].days

20

In [149]:
lista_tempo = d["data"].tolist()

In [152]:
lista_tempo = [el.days for el in lista_tempo]

In [154]:
np.mean(lista_tempo)

20.333333333333332

In [155]:
dfDiv.head(1)

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53",2018-05-21,892.53

In [159]:
# variavel : tempo medio entre dividas

In [35]:
def tempo_medio_entre_dividas(cnpj, df_dividas):
    dt = df_dividas[df_dividas["cnpj"]==cnpj]
    dt = dt.drop_duplicates()
    d = dt.sort_values("data")[["data"]].diff().dropna()
    lista_tempo = d["data"].tolist()
    lista_tempo = [el.days for el in lista_tempo]
    return np.mean(lista_tempo)

In [40]:
tempo_medio_entre_dividas("29734727000184", dfDiv)

nan

In [41]:
tempo_medio_entre_dividas('19008188000142', dfDiv)

54.81818181818182

In [42]:
fr = list()
for el in dfDiv["cnpj"].unique().tolist():
    t = tempo_medio_entre_dividas(el, dfDiv)
    fr.append(pd.DataFrame({"cnpj" : [el], "tempo_medio" : [t]}))

In [ ]:
## tempo medio == 0 => todas as dividas adquiridas em uma data
## tempo medio == nan => apenas um registro de divida

In [43]:
df_tempo = pd.concat(fr)

In [44]:
df_tempo.sort_values("tempo_medio", ascending=False).head()

             cnpj  tempo_medio
0  18058375000178       1035.0
0   4247535000112        973.0
0   8756051000150        913.0
0   3598113000129        891.0
0  17969170000181        733.0

In [45]:
el = '24667289000165'
dt = dfDiv[dfDiv['cnpj']==el]

In [47]:
trace = go.Bar(
    x = [el.strftime("%Y/%B/%d") for el in dt["data"].tolist()],
    y = dt["valor_divida"]
)
layout = go.Layout(bargap = 0.6)
fig = go.Figure(data=[trace], layout=layout)
iplot(fig)

In [226]:
## idade maxima de uma divida

In [60]:
df_idade = dfDiv.groupby("cnpj").min().reset_index()[["cnpj", "data"]]

In [61]:
dfDiv["data"].iloc[0]

datetime.date(2018, 5, 21)

In [55]:
dfDiv['data'] = dfDiv.apply(lambda x : x['data'].date(), axis=1)

In [62]:
df_idade["idade_maxima"] = df_idade.apply(lambda x : (datetime.now().date() - x["data"]).days, axis=1)

In [65]:
df_idade.sort_values("idade_maxima", ascending=False).head()

               cnpj        data  idade_maxima
521   5265762000133  2014-01-15          1898
150  14903137000160  2014-01-21          1892
634   8211207000117  2014-01-22          1891
198  17151619000108  2014-02-01          1881
656   8791838000152  2014-02-12          1870

In [66]:
dfDiv[dfDiv['cnpj']=='14903137000160']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,14903137000160,NaN,ADIANT CONTA,Adiantamento a depositantes - c/c devedores em...,restricoes_financeiras,SP,"R$ 121,98",2014-01-21,121.98

In [68]:
dfDiv[dfDiv['cnpj']=='5265762000133']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,5265762000133,NaN,FINANCIAMENT,Créditos e financiamentos - empréstimos a pess...,restricoes_financeiras,,"R$ 773,35",2015-03-07,773.35
0,5265762000133,NaN,Dívida não contestada.,Falta Pagamento,protestos,RJ,"R$ 178521,99",2017-10-09,178521.99
1,5265762000133,NaN,Dívida não contestada.,Falta Pagamento,protestos,RJ,"R$ 793,38",2014-02-04,793.38
2,5265762000133,NaN,Dívida não contestada.,Falta Pagamento,protestos,RJ,"R$ 2012,64",2014-01-15,2012.64
0,5265762000133,NaN,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,NaN,"R$ 1270,21",2018-03-29,1270.21
1,5265762000133,NaN,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,NaN,"R$ 83,69",2015-08-10,83.69

In [69]:
_df = dfDiv.groupby("cnpj").min().reset_index()[["cnpj", "data"]]

In [72]:
datetime.now().date() - _df[_df['cnpj']=='5265762000133']['data'].iloc[0]

datetime.timedelta(1898)

In [73]:
df_idade.shape

(696, 3)

In [74]:
df_idade.shape

(696, 3)

In [75]:
df_tempo.shape

(696, 2)

In [77]:
df_tempo.head()

             cnpj  tempo_medio
0  19008188000142    54.818182
0    748390000182    20.370370
0    272073000302    48.600000
0   3403405000169    21.914634
0   4501499000171     6.590643

In [81]:
# tempo máximo de duracao de uma dívida
df_idade.sort_values("idade_maxima", ascending=False).head()

               cnpj        data  idade_maxima
521   5265762000133  2014-01-15          1898
150  14903137000160  2014-01-21          1892
634   8211207000117  2014-01-22          1891
198  17151619000108  2014-02-01          1881
656   8791838000152  2014-02-12          1870

In [83]:
df_tempo.to_excel("../tabelas/tempo_medio_entre_dividas.xlsx")

In [84]:
df_idade.to_excel("../tabelas/idade_maxima_divida.xlsx")

In [92]:
## entendendo os tipos de dividas para criar uma segmentacao de risco

In [86]:
dfDiv['natureza'].unique().tolist()

['Falta Pagamento',
 'CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 nan,
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Execução',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Execução Fiscal Federal',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Operações ajuizadas ',
 'Arrendamentos, inclusive leasing',
 'Busca e Apreensão',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves']

In [88]:
dfDiv[dfDiv['tipo']=='cheques']

Empty DataFrame
Columns: [cnpj, descricao_natureza, modalidade_natureza, natureza, tipo, uf, valor, data, valor_divida]
Index: []

#### Processos

-  Exemplos : Execuções e Busca e Apreensão

In [89]:
dfDiv[dfDiv['natureza'] == 'Busca e Apreensão']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,13231036000128,BUSCA E APREENSAO,NaN,Busca e Apreensão,processos,SP,"R$ 15769,07",2019-01-15,15769.07

In [91]:
dfDiv[dfDiv['tipo']=='processos']['descricao_natureza'].unique().tolist()

['EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [94]:
dfDiv[dfDiv['tipo']=='processos']["natureza"].unique().tolist()

['Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Execução Fiscal Federal',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Busca e Apreensão']

#### Restrições Financeiras

In [97]:
dfDiv[dfDiv['tipo'] == 'restricoes_financeiras']['modalidade_natureza'].unique().tolist()

['EMPRES CONTA                  ',
 'CRED CARTAO                   ',
 'FINANCIAMENT                  ',
 'OPER IMOBILI                  ',
 'ADIANT CONTA                  ',
 'TIT DESCONTA                  ',
 'OUTRAS OPER                   ',
 'CREDITO E FINANCIAMENTO-FINANC',
 'EMPRESTIMO                    ',
 'TITULOS DESCONTADOS-TURISMO   ',
 'OPER AJUIZAD                  ',
 'REPASSES                      ',
 'LEASING                       ',
 'OUTRAS OPERACOES-FINANCEIRA   ',
 'CONSORCIO CONTEMPLADO         ',
 'CONS BENS                     ',
 'CONS VEICULOS                 ']

#### Pendências

In [100]:
dfDiv[dfDiv['tipo']=='pendencias']['modalidade_natureza'].unique().tolist()

['DUPLICATA',
 'OUTRAS OPER',
 nan,
 'NOTA FISCAL',
 'VENDA MERCAD',
 'TIT DESCONTA',
 'ADIANT CONTA',
 'SERV TELEFON',
 'EMPRESTIMO',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIA ELET',
 'CONFISS DIV',
 'CRED CARTAO',
 'EMPRES CONTA',
 'CREDIARIO',
 'DIVIDAS CHEQ',
 'FINANCIAMENT',
 'SEGURO SAUDE',
 'CONSORCIO CO',
 'TELEF FX',
 'TELEF FIXA',
 'TELEF MOVEL',
 'FAT AGUA',
 'CONS VEICULO']

#### Protestos

In [102]:
dfDiv[dfDiv['tipo']=='protestos']['natureza'].unique().tolist()

['Falta Pagamento']

In [103]:
dfDiv[dfDiv['tipo']=='protestos']['modalidade_natureza'].unique().tolist()

['Dívida não contestada.']

In [111]:
dfDiv[dfDiv['tipo']=='protestos'].head()

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53",2018-05-21,892.53
1,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,00",2018-03-22,560.00
2,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,80",2018-03-15,560.80
3,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",2018-03-01,452.50
4,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",2018-02-22,452.50

#### Processos

In [105]:
dfDiv[dfDiv['tipo'] =='processos']['descricao_natureza'].unique().tolist()

['EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [106]:
dfDiv[dfDiv['tipo']=='processos']['natureza'].unique().tolist()

['Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Execução Fiscal Federal',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Busca e Apreensão']

In [108]:
dfDiv['natureza'].unique().tolist()

['Falta Pagamento',
 'CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 nan,
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Execução',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Execução Fiscal Federal',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Operações ajuizadas ',
 'Arrendamentos, inclusive leasing',
 'Busca e Apreensão',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves']

#### Definindo segmentos de dívidas

In [116]:
## processos e suas modalidades representa um segmento

In [118]:
dfDiv[dfDiv['tipo']=='processos']['descricao_natureza'].unique().tolist()

['EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [119]:
# 'descricao_natureza'
segmento1 = ['EXC JUD TRAB',
             'FISCAL ESTADUAL',
             'EXECUCAO',
             'FISCAL FEDERAL',
             'FISCAL MUNICIPAL',
             'EXECUCAO - JE',
             'BUSCA E APREENSAO']
# segmento1 => tipo == processos

In [120]:
## segmento2 dividas de emprestimos

In [137]:
l = dfDiv['modalidade_natureza'].unique().tolist()

In [139]:
for el in l:
    try:
        el.split()
    except:
        print(el is np.nan)

True

In [144]:
dfDiv['modalidade'] = dfDiv.apply(lambda x : x['modalidade_natureza'].replace(" ", "") if not x['modalidade_natureza'] is np.nan else None, axis=1)

In [146]:
lista_modalidade = dfDiv['modalidade'].unique().tolist()

In [149]:
lista_modalidade = [el.replace(".", "") for el in lista_modalidade if not el is None]

In [151]:
lista_modalidade = [el for el in lista_modalidade if not el is None]

In [152]:
lista_modalidade
['EMPRESTIMO', 'CREDITOEFINANCIAMENTO-FINANC', 'CREDCARTAO']

['Dívidanãocontestada',
 'DUPLICATA',
 'OUTRASOPER',
 'NOTAFISCAL',
 'EMPRESCONTA',
 'CREDCARTAO',
 'FINANCIAMENT',
 'OPERIMOBILI',
 'VENDAMERCAD',
 'TITDESCONTA',
 'ADIANTCONTA',
 'SERVTELEFON',
 'EMPRESTIMO',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIAELET',
 'CONFISSDIV',
 'CREDITOEFINANCIAMENTO-FINANC',
 'CREDIARIO',
 'TITULOSDESCONTADOS-TURISMO',
 'DIVIDASCHEQ',
 'OPERAJUIZAD',
 'REPASSES',
 'LEASING',
 'OUTRASOPERACOES-FINANCEIRA',
 'SEGUROSAUDE',
 'CONSORCIOCO',
 'CONSORCIOCONTEMPLADO',
 'CONSBENS',
 'TELEFFX',
 'TELEFFIXA',
 'TELEFMOVEL',
 'FATAGUA',
 'CONSVEICULO',
 'CONSVEICULOS']

In [153]:
# segmento 2 : dividas

In [156]:
dfDiv['cnpj'].iloc[0]

19008188000142

In [157]:
dfDiv[dfDiv['cnpj']==18356074000120]

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida,modalidade
0,18356074000120,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 11420,97",2015-01-27,11420.97,CREDITOEFINANCIAMENTO-FINANC
1,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2318,53",2015-01-26,2318.53,CREDCARTAO
2,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2590,85",2014-12-13,2590.85,CREDCARTAO
3,18356074000120,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 56003,05",2014-05-09,56003.05,CREDITOEFINANCIAMENTO-FINANC
0,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 5946,33",2018-02-07,5946.33,Dívidanãocontestada.
1,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 361,79",2017-07-13,361.79,Dívidanãocontestada.
2,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 817,83",2017-07-13,817.83,Dívidanãocontestada.
3,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2016-01-01,500.00,Dívidanãocontestada.
4,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2015-12-01,500.00,Dívidanãocontestada.
5,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2015-11-01,500.00,Dívidanãocontestada.
6,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2015-10-01,500.00,Dívidanãocontestada.
7,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 844,75",2015-04-15,844.75,Dívidanãocontestada.
8,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 267,00",2015-03-11,267.00,Dívidanãocontestada.
0,18356074000120,NaN,OUTRAS OPER,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,NaN,"R$ 1877,29",2015-11-01,1877.29,OUTRASOPER

In [133]:
l2 = [el.strip() for el in l]

AttributeError: 'float' object has no attribute 'strip'

In [134]:
l

['Dívida não contestada.',
 'DUPLICATA',
 'OUTRAS OPER',
 nan,
 'NOTA FISCAL',
 'EMPRES CONTA                  ',
 'CRED CARTAO                   ',
 'FINANCIAMENT                  ',
 'OPER IMOBILI                  ',
 'VENDA MERCAD',
 'TIT DESCONTA',
 'ADIANT CONTA                  ',
 'TIT DESCONTA                  ',
 'ADIANT CONTA',
 'SERV TELEFON',
 'EMPRESTIMO',
 'OUTRAS OPER                   ',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIA ELET',
 'CONFISS DIV',
 'CRED CARTAO',
 'EMPRES CONTA',
 'CREDITO E FINANCIAMENTO-FINANC',
 'EMPRESTIMO                    ',
 'CREDIARIO',
 'TITULOS DESCONTADOS-TURISMO   ',
 'DIVIDAS CHEQ',
 'OPER AJUIZAD                  ',
 'REPASSES                      ',
 'LEASING                       ',
 'OUTRAS OPERACOES-FINANCEIRA   ',
 'FINANCIAMENT',
 'SEGURO SAUDE',
 'CONSORCIO CO',
 'CONSORCIO CONTEMPLADO         ',
 'CONS BENS                     ',
 'TELEF FX',
 'TELEF FIXA',
 'TELEF MOVEL',
 'FAT AGUA',
 'CONS VEICULO',
 'CONS VEICULOS                 ']

In [123]:
dfDiv[dfDiv['modalidade_natureza']=='CRED CARTAO']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
2,19070425000103,NaN,CRED CARTAO,Cartão de crédito,pendencias,NaN,"R$ 11166,37",2016-06-10,11166.37
0,4588664000174,NaN,CRED CARTAO,Cartão de crédito,pendencias,NaN,"R$ 5639,21",2016-07-05,5639.21

In [125]:
dfDiv[dfDiv['modalidade_natureza']=='CRED CARTAO                   ']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
3,4501499000171,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 11756,22",2017-02-25,11756.22
6,4501499000171,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 27909,47",2017-01-15,27909.47
9,4501499000171,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 32512,70",2017-01-05,32512.70
6,14761474000160,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 6456,28",2017-07-15,6456.28
9,14761474000160,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 22849,62",2017-01-26,22849.62
10,14761474000160,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 21012,33",2017-01-24,21012.33
2,19819235000138,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1924,17",2016-10-15,1924.17
0,5376703000132,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 13525,81",2018-05-01,13525.81
1,15389888000173,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1715,08",2016-04-01,1715.08
4,15389888000173,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1605,39",2015-07-29,1605.39
1,7194858000183,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 7334,41",2018-06-25,7334.41
1,22886258000170,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 956,65",2017-04-13,956.65
0,19086478000104,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2284,90",2018-04-25,2284.90
2,49596851000138,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 24482,19",2018-06-16,24482.19
0,15335189000140,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2121,62",2018-02-16,2121.62
1,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2318,53",2015-01-26,2318.53
2,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2590,85",2014-12-13,2590.85
11,5800976000162,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 10026,66",2014-11-16,10026.66
15,5800976000162,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 191003,59",2014-10-16,191003.59
5,178663000281,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 22205,07",2016-10-15,22205.07
6,178663000281,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 10822,40",2016-09-25,10822.40
1,68417526000105,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 11397,94",2019-01-10,11397.94
2,68417526000105,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 3531,10",2019-01-10,3531.10
2,8310428000142,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1906,92",2018-10-13,1906.92
0,27090358000109,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3161,01",2018-12-01,3161.01
0,15523647000175,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 5183,43",2015-10-14,5183.43
0,14373103000101,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2668,79",2016-07-24,2668.79
1,18836786000147,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 5369,88",2018-06-20,5369.88
0,21061108000164,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 792,63",2018-09-10,792.63
1,47785290000190,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 239,18",2018-11-01,239.18
...,...,...,...,...,...,...,...,...,...
1,2361751000169,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1160,24",2017-11-29,1160.24
1,8852150000135,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 144,28",2014-10-30,144.28
0,13153240000178,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2314,46",2016-10-01,2314.46
0,16612923000134,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8912,76",2018-08-25,8912.76
0,7595489000130,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 610,07",2017-07-15,610.07
1,5458709000159,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 952,70",2018-03-15,952.70
4,44705564000103,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 154,87",2016-02-21,154.87
3,18754982000172,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 9863,99",2016-11-03,9863.99
0,24247971000107,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 471,88",2017-12-01,471.88
1,3215938000117,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 51369,15",2017-03-20,51369.15
0,5865538000182,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3471,77",2018-10-25,3471.77
0,10886031000145,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 12859,42",2019-01-07,12859.42
0,14984780000166,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8757,20",2017-09-20,8757.20
4,3356764000102,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1733,42",2015-12-15,1733.42
1,3941181000149,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3376,08",2015-02-28,3376.08
0,4160069000133,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 881,99",2019-02-05,881.99
1,4160069000133,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 5623,15",2019-01-23,5623.15
2,4160069000133,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8116,65",2018-12-16,8116.65
0,5592130000184,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3039,92",2016-09-28,3039.92
1,5864972000148,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 69550,78",2015-01-16,69550.78
1,7810124000181,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 20842,39",2016-12-16,20842.39
1,9353407000177,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 273,71",2018-11-09,273.71
4,9353407000177,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 505,19",2018-10-15,505.19
5,9353407000177,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 100196,62",2018-07-16,100196.62
2,10736773000194,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8567,08",2017-01-16,8567.08
0,11734776000151,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1204,54",2015-09-18,1204.54
0,15690193000127,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1309,08",2017-04-10,1309.08
0,15699778000108,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 23254,02",2016-09-01,23254.02
0,17024240000129,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2349,29",2018-10-26,2349.29
0,24509856000155,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,PE,"R$ 859,21",2019-01-02,859.21

In [115]:
dfDiv[dfDiv['modalidade_natureza']=='EMPRESTIMO']['tipo'].unique().tolist()

['pendencias']

In [109]:
dfDiv['tipo'].unique().tolist()

['protestos', 'pendencias', 'processos', 'restricoes_financeiras']

In [52]:
## uma ideia de variavel : alavanvagem anual de dividas

In [53]:
## porte da dívida (só faz sentido se comparado com o faturamento médio?)