In [1]:
import pandas as pd

In [2]:
df_idade = pd.read_excel("../tabelas/idade_empresas.xlsx")

In [133]:
df1 = pd.read_excel("../tabelas/dataset_metricas_score_completo_20190425.xlsx")

In [135]:
df1[df1["cnpj"]==60701190000104]

Empty DataFrame
Columns: [cnpj, segmento, ocorrencias, probabilidade, valor_divida, composicao, fat_medio, pi, lambda, impacto_segmento, risco, dscore, peso, score]
Index: []

In [12]:
df1["cnpj"].unique().tolist().__len__()

491

In [14]:
df1["cnpj"] = df1["cnpj"].astype(str)
df1["cnpj"] = df1.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                      ("00" + x["cnpj"] if len(x["cnpj"])==12 else x["cnpj"]), axis=1)

In [26]:
# df1 s√≥ tem os que passaram pelos criterios de elegibilidade
df1.head()

,cnpj,segmento,ocorrencias,probabilidade,valor_divida,composicao,fat_medio,pi,lambda,impacto_segmento,risco,dscore,peso,score
2,00272073000302,outros,6,1.0,9659.96,1.0,139381.200000,0.046204,0.046204,0.011551,0.011551,691.914295,1,691.914295
8,05164765000180,outros,2,1.0,3100.56,1.0,94885.300000,0.021785,0.021785,0.005446,0.005446,696.187692,1,696.187692
9,05674948000146,outros,3,1.0,6202.47,1.0,14578.056667,0.283644,0.283644,0.070911,0.070911,650.362280,1,650.362280
11,06135496000197,outros,1,1.0,74.77,1.0,7751.399167,0.006431,0.006431,0.001608,0.001608,698.874633,1,698.874633
12,07127571000130,outros,4,1.0,2648.22,1.0,147721.475000,0.011951,0.011951,0.002988,0.002988,697.908503,1,697.908503

In [17]:
df2 = pd.read_excel("../tabelas/dataset_modelo_201904.xlsx")

In [19]:
df2["cnpj"].unique().tolist().__len__()

717

In [21]:
df2["cnpj"] = df2["cnpj"].astype(str)
df2["cnpj"] = df2.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                      ("00" + x["cnpj"] if len(x["cnpj"])==12 else x["cnpj"]), axis=1)

In [23]:
df2.head()

,cnpj,prop_divida,quantidade_cheques,tempo_medio,idade_maxima,credito,infra,outros,processos,dispersao
0,00178663000281,128.547136,17,6.497006,1134,0.226849,0.299252,0.151041,0.322858,0.0
1,00225356000123,0.007152,0,0.000000,1793,0.000000,0.000000,1.000000,0.000000,0.0
2,00265954000207,0.003095,0,0.000000,73,0.000000,0.000000,1.000000,0.000000,0.0
3,00272073000302,0.069306,0,48.600000,320,0.000000,0.000000,1.000000,0.000000,0.0
4,00437101000124,1.279481,0,31.666667,283,0.972151,0.000000,0.027849,0.000000,0.0

In [25]:
df1[df1["cnpj"]=='00225356000123']

,cnpj,segmento,ocorrencias,probabilidade,valor_divida,composicao,fat_medio,pi,lambda,impacto_segmento,risco,dscore,peso,score
735,00225356000123,outros,1,1.0,174.98,1.0,24467.0,0.004768,0.004768,0.001192,0.001192,699.165638,1,699.165638

In [28]:
df1.columns

Index(['cnpj', 'segmento', 'ocorrencias', 'probabilidade', 'valor_divida',
       'composicao', 'fat_medio', 'pi', 'lambda', 'impacto_segmento', 'risco',
       'dscore', 'peso', 'score'],
      dtype='object')

In [29]:
# funcao do segmento : ocorrencias, composicao, risco

In [33]:
df_ocorrencias = df1.pivot(index="cnpj", columns="segmento", values="ocorrencias").reset_index()

In [37]:
df_ocorrencias = df_ocorrencias[["cnpj", "credito", "processos", "infra", "outros"]].fillna(0)

In [39]:
df_ocorrencias.columns = ["cnpj", "num_ocorr_cr", "num_ocorr_proc", "num_ocorr_infra", "num_ocorr_out"]

In [41]:
df_ocorrencias.head()

,cnpj,num_ocorr_cr,num_ocorr_proc,num_ocorr_infra,num_ocorr_out
0,00225356000123,0.0,0.0,0.0,1.0
1,00265954000207,0.0,0.0,0.0,1.0
2,00272073000302,0.0,0.0,0.0,6.0
3,00437101000124,3.0,0.0,0.0,1.0
4,00661205000118,1.0,0.0,0.0,0.0

In [46]:
df_composicao = df1.pivot(index="cnpj", columns = "segmento", values="composicao").reset_index().fillna(0)

In [48]:
df_composicao = df_composicao[["cnpj", "credito", "processos", "infra", "outros"]]

In [50]:
df_composicao.columns = ["cnpj", "comp_cr", "comp_proc", "comp_infra", "comp_out"]

In [52]:
df_composicao.head()

             cnpj   comp_cr  comp_proc  comp_infra  comp_out
0  00225356000123  0.000000        0.0         0.0  1.000000
1  00265954000207  0.000000        0.0         0.0  1.000000
2  00272073000302  0.000000        0.0         0.0  1.000000
3  00437101000124  0.972151        0.0         0.0  0.027849
4  00661205000118  1.000000        0.0         0.0  0.000000

In [56]:
df_risco = df1.pivot(index='cnpj', columns='segmento', values="risco").reset_index().fillna(0)

In [58]:
df_risco = df_risco[["cnpj", "credito", "processos", "infra", "outros"]]

In [60]:
df_risco.columns = ["cnpj", "risco_cr", "risco_proc", "risco_infra", "risco_out"]

In [62]:
df_risco.head()

             cnpj  risco_cr  risco_proc  risco_infra  risco_out
0  00225356000123  0.000000         0.0          0.0   0.001192
1  00265954000207  0.000000         0.0          0.0   0.000516
2  00272073000302  0.000000         0.0          0.0   0.011551
3  00437101000124  0.713651         0.0          0.0   0.000041
4  00661205000118  0.910038         0.0          0.0   0.000000

In [64]:
df_ocorrencias.shape

(491, 5)

In [66]:
df_composicao.shape

(491, 5)

In [67]:
df_risco.shape

(491, 5)

In [73]:
df_metricas = df_ocorrencias.merge(df_composicao, left_on="cnpj", right_on="cnpj")

In [75]:
df_metricas.shape

(491, 9)

In [79]:
df_metricas = df_metricas.merge(df_risco, left_on="cnpj", right_on="cnpj")

In [84]:
df_metricas.sort_values("num_ocorr_infra", ascending=False).head()

,cnpj,num_ocorr_cr,num_ocorr_proc,num_ocorr_infra,num_ocorr_out,comp_cr,comp_proc,comp_infra,comp_out,risco_cr,risco_proc,risco_infra,risco_out
202,11377065000177,0.0,0.0,16.0,2.0,0.000000,0.000000,0.165534,0.834466,0.000000,0.000000,0.223525,0.004138
289,17464661000170,0.0,1.0,14.0,9.0,0.000000,0.578737,0.093712,0.327551,0.000000,0.024981,0.147356,0.011957
476,71673990000177,0.0,3.0,10.0,60.0,0.000000,0.983664,0.003193,0.013143,0.000000,0.023246,0.034247,0.000010
32,02595658000119,1.0,0.0,8.0,7.0,0.433648,0.000000,0.011067,0.555284,0.049658,0.000000,0.125014,0.031938
348,20687292000190,0.0,0.0,6.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.259677,0.000000

In [86]:
df1[df1["cnpj"]=='11377065000177']

,cnpj,segmento,ocorrencias,probabilidade,valor_divida,composicao,fat_medio,pi,lambda,impacto_segmento,risco,dscore,peso,score
868,11377065000177,infra,16,0.888889,3714.19,0.165534,69926.810833,0.035410,0.005862,0.251465,0.223525,543.532637,2,594.72297
869,11377065000177,outros,2,0.111111,18723.38,0.834466,69926.810833,0.178505,0.148956,0.037239,0.004138,697.103635,1,594.72297

In [87]:
# adicionando a idade das empresas no dataset

In [89]:
df_idade.shape

(2281, 3)

In [91]:
df_idade["cnpj"] = df_idade["cnpj"].astype(str)

In [93]:
df_idade["cnpj"] = df_idade.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                                  ("00" + x["cnpj"] if len(x["cnpj"])==12 else x["cnpj"]), axis=1)

In [96]:
df_idade.head()

             cnpj data_abertura      idade
0  19008188000142    2013-10-04   5.546448
0  00748390000182    1995-08-03  23.680328
0  00272073000302    2008-06-10  10.852459
0  00570256000134    1995-04-28  23.945355
0  03403405000169    1999-09-21  19.554645

In [104]:
df_metricas = df_metricas.merge(df_idade, left_on="cnpj", right_on="cnpj", how="left")

In [109]:
df2.head()

,cnpj,prop_divida,quantidade_cheques,tempo_medio,idade_maxima,credito,infra,outros,processos,dispersao
0,00178663000281,128.547136,17,6.497006,1134,0.226849,0.299252,0.151041,0.322858,0.0
1,00225356000123,0.007152,0,0.000000,1793,0.000000,0.000000,1.000000,0.000000,0.0
2,00265954000207,0.003095,0,0.000000,73,0.000000,0.000000,1.000000,0.000000,0.0
3,00272073000302,0.069306,0,48.600000,320,0.000000,0.000000,1.000000,0.000000,0.0
4,00437101000124,1.279481,0,31.666667,283,0.972151,0.000000,0.027849,0.000000,0.0

In [110]:
# adicionando dados de dispersao geografica da divida

In [112]:
df_dispersao = pd.read_excel("../tabelas/metrica_dispersao_201904.xlsx")

In [114]:
df_dispersao.groupby("dispersao").count()

           cnpj
dispersao
0.00        407
0.25         70
0.50          2
0.75          2
1.00          1

In [116]:
df_dispersao['cnpj'] = df_dispersao["cnpj"].astype(str)

In [118]:
df_dispersao["cnpj"] = df_dispersao.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                                          ("00" + x["cnpj"] if len(x["cnpj"])==12 else x["cnpj"]), axis=1)

In [120]:
df_dispersao.shape

(482, 2)

In [125]:
df_metricas = df_metricas.merge(df_dispersao, left_on="cnpj", right_on="cnpj", how="left")

In [127]:
df_metricas.head()

,cnpj,num_ocorr_cr,num_ocorr_proc,num_ocorr_infra,num_ocorr_out,comp_cr,comp_proc,comp_infra,comp_out,risco_cr,risco_proc,risco_infra,risco_out,data_abertura,idade,dispersao
0,00225356000123,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.001192,1994-10-04,24.508197,NaN
1,00265954000207,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.000516,2000-07-03,18.773224,NaN
2,00272073000302,0.0,0.0,0.0,6.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.011551,2008-06-10,10.852459,0.0
3,00437101000124,3.0,0.0,0.0,1.0,0.972151,0.0,0.0,0.027849,0.713651,0.0,0.0,0.000041,1995-02-14,24.144809,0.0
4,00661205000118,1.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.910038,0.0,0.0,0.000000,1995-06-22,23.795082,NaN

In [128]:
df_metricas.shape

(491, 16)

In [130]:
df_metricas.to_excel("../tabelas/dataset_outlier_detection_20190506.xlsx")

In [132]:
df_metricas.head()

,cnpj,num_ocorr_cr,num_ocorr_proc,num_ocorr_infra,num_ocorr_out,comp_cr,comp_proc,comp_infra,comp_out,risco_cr,risco_proc,risco_infra,risco_out,data_abertura,idade,dispersao
0,00225356000123,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.001192,1994-10-04,24.508197,NaN
1,00265954000207,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.000516,2000-07-03,18.773224,NaN
2,00272073000302,0.0,0.0,0.0,6.0,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.011551,2008-06-10,10.852459,0.0
3,00437101000124,3.0,0.0,0.0,1.0,0.972151,0.0,0.0,0.027849,0.713651,0.0,0.0,0.000041,1995-02-14,24.144809,0.0
4,00661205000118,1.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.910038,0.0,0.0,0.000000,1995-06-22,23.795082,NaN

In [ ]:
df_metricas