In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
lista_piores = ["14.534.748/0001-89", "21.666.147/0001-95", "22.861.508/0001-17", "13.339.876/0001-09",
                "25.401.132/0001-56", "26.998.230/0001-85", "14.550.173/0001-98", "04.015.113/0001-11",
                "20.694.842/0001-06"]
lista_piores = [el.replace(".", "").replace("-", "").replace("/", "") for el in lista_piores]

In [3]:
dfpiores = pd.DataFrame()
dfpiores["cnpj"] = lista_piores

In [41]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfpar = pd.read_sql("select * from parametrosPersonalizados", con)
con.close()

In [43]:
dfpar["cnpj"] = dfpar.apply(lambda x : x["cnpj"].replace(".", "").replace("/", "").replace("-", ""), axis=1)

In [45]:
dfpar.head()

,cnpj,plataforma,volume_limite,volume_minimo,taxa_captalys,margem_reserva,custo_proc,prazo,retencao,milestone
0,00748390000182,moip,25000.0,NaN,0.04,NaN,NaN,3.0,0.25,0
1,02092455000100,tomatico,45000.0,NaN,0.03,NaN,NaN,8.0,NaN,None
2,02555562000127,pagueveloz,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,None
3,02092455000100,tomatico,45000.0,NaN,0.03,NaN,NaN,8.0,NaN,None
4,03724858000197,tomatico,10000.0,NaN,NaN,NaN,NaN,8.0,0.40,None

In [4]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select * from acompanhamento", con)
con.close()

In [6]:
dfacomp.columns

Index(['id', 'produto', 'empresa', 'cnpj', 'controleParticipante',
       'dataCessao', 'valorAquisicao', 'valorPago', 'valorDevido',
       'valorPresente', 'taxaRetencao', 'taxaRetencaoIdeal', 'taxaEsperada',
       'taxaMin', 'taxaEfetiva', 'prazo', 'prazoMax', 'prazo_efetivo',
       'duration', 'duration_esperada', 'duration_efetiva', 'moic_contratado',
       'mediaFatAnterior', 'faturamentoMinimo', 'faturamentoMedio', 'entrada',
       'custoFixo', 'custoTotal', 'custoCredito', 'tac', 'fluxoMin',
       'fluxoMax', 'fluxoMedia', 'mediaEstimada', 'mediaDia', 'score',
       'status', 'saldoDevedor', 'score_temporal', 'liquidacao', 'divida',
       'milestones'],
      dtype='object')

In [18]:
dfacomp["status"].unique().tolist()

['QUITADA',
 'QUITADA a VP',
 'OTIMO',
 'EXECUCAO',
 'BOM',
 'ALERTA',
 'REESTRUTURADO',
 'COBRANCA',
 'CRITICO',
 'NENHUM PAGAMENTO REALIZADO']

In [19]:
dfacomp = dfacomp[["cnpj", "empresa", "produto", "dataCessao", "status", "score"]]

In [20]:
dfpiores = dfacomp[dfacomp["status"].isin(['EXECUCAO', 'REESTRUTURADO', 'COBRANCA', 'CRITICO'])]

In [22]:
dfpiores.shape

(23, 6)

In [23]:
dfcob = pd.read_excel("historico_cobranca.xlsx")

In [32]:
dfcob["cnpj"] = dfcob.apply(lambda x : x["CNPJ"].replace(".", "").replace("/", "").replace("-", ""), axis=1)

In [33]:
_df = dfcob[["cnpj", "JUSTIFICATIVA DO ALERTA"]]
_df.columns = ['cnpj', 'causa']

In [34]:
_df

              cnpj                                           causa
0   12549813000114                              Queda no movimento
1   21666147000195                       Problemas com o site Elo7
2   26555778000150                              Queda no movimento
3   28900576000124                      Queda nas vendas de cartão
4   28900576000205                                   Fechou a Loja
5   28505748000165                              Queda no movimento
6   22861508000117                                Fechou a Empresa
7   26386968000191                              Queda no movimento
8   28505748000165                              Queda no movimento
9   14534748000189                              Queda no movimento
10  29152230000158                      Parou de fazer antecipação
11  12919292000140                      Queda nas vendas de cartão
12  13248952000170                                    Sem resposta
13  27090358000109                              Queda no movimento
14  24936037000194                              Queda no movimento
15  11117460000110                      Queda nas vendas de cartão
16  07295481000159                              Queda no movimento
17  12919292000140                         Sem movimento no cartão
18  24936037000194                      Queda nas vendas de cartão
19  27090358000109                              Queda no movimento
20  12549813000114   Queda no movimento, problemas com o site Elo7
21  26555778000150  Queda no movimento, mudança estrutural no site
22  04015113000111                              Queda no movimento
23  11117460000110                                 Movimento fraco
24  21666147000195   Queda no movimento, problemas com o site Elo7
25  14534748000189                              Queda no movimento
26  13409564000124                             Maquininha quebrada
27  03724858000197                              Queda no movimento
28  07902589000162                                    Sem resposta
29  24500363000154                 Muitas taxas na venda de cartão
30  30520284000108                              Queda no movimento
31  29152230000158                     Promoção pagamentos a vista
32  30815523000157                    Mudança de local de trabalho
33  20672012000170                      Queda nas vendas de cartão
34  19955230000132                             Maquininha quebrada
35  26789018000108                      Queda nas vendas de cartão
36  03111629000105                                    Sem resposta
37  11266581000124                              Queda no movimento
38  20694842000106                 Muitas taxas na venda de cartão
39  28813029000101                                         Reforma
40  23700185000142                             Maquininha quebrada
41  10646638000158           Loja Quebrada, estudando alternativas
42  03111629000105                             Maquininha quebrada
43  20672012000170                              Queda no movimento
44  13339876000109                         Site elo7 com problemas
45  28395484000134                    Mudança de local de trabalho
46  22861508000117                                Fechou a Empresa
47  13409564000124                             Maquininha quebrada

In [36]:
dfpiores = dfpiores.merge(_df, left_on='cnpj', right_on='cnpj', how='left')

In [39]:
dfpiores["dataCessao"].iloc[0]

datetime.date(2018, 11, 25)

In [48]:
dfpiores.shape

(31, 7)

In [50]:
dfpar.drop_duplicates(inplace=True)

In [53]:
dfpiores = dfpiores.merge(dfpar[["cnpj", "volume_limite"]], left_on='cnpj', right_on='cnpj', how='left')

In [55]:
lista_per = dfpar["cnpj"].unique().tolist()

In [56]:
dfpiores["cnpj"].unique().tolist().__len__()

23

In [59]:
dfpiores["flag_par"] = dfpiores.apply(lambda x : int(x["cnpj"] in lista_per), axis=1)

In [62]:
dfpiores.groupby("flag_par").count()

,cnpj,empresa,produto,dataCessao,status,score,causa,volume_limite
flag_par,,,,,,,,
0,21,21,21,21,21,21,18,0
1,10,10,10,10,10,10,9,9

In [64]:
dfpiores[dfpiores["flag_par"]==1]

,cnpj,empresa,produto,dataCessao,status,score,causa,volume_limite,flag_par
2,12919292000140,RICHARD ROCHA SANTOS VEICULOS,CREDITOVELOZ,2019-02-28,REESTRUTURADO,543,Queda nas vendas de cartão,35000.0,1
3,12919292000140,RICHARD ROCHA SANTOS VEICULOS,CREDITOVELOZ,2019-02-28,REESTRUTURADO,543,Sem movimento no cartão,35000.0,1
5,03724858000197,MARCIO OVIDIO DE PAULA,TOMATICO,2019-02-07,REESTRUTURADO,721,Queda no movimento,10000.0,1
16,09260699000101,BANHEIRA BOM BANHO E HIDROMASSAGEM EIRELI,WIRECARD,2019-03-01,REESTRUTURADO,764,NaN,180000.0,1
17,26789018000108,MABELLE INSTITUTO DE BELEZA LTDA,CREDITOVELOZ,2019-03-08,COBRANCA,661,Queda nas vendas de cartão,22000.0,1
18,26555778000150,SAFETICKET SERVICOS PARA EVENTOS LTDA,WIRECARD,2019-02-28,REESTRUTURADO,886,Queda no movimento,180000.0,1
19,26555778000150,SAFETICKET SERVICOS PARA EVENTOS LTDA,WIRECARD,2019-02-28,REESTRUTURADO,886,"Queda no movimento, mudança estrutural no site",180000.0,1
20,07902589000162,EDVALDO CARVALHO DE JESUS,TOMATICO,2019-03-21,COBRANCA,900,Sem resposta,NaN,1
21,24500363000154,BRUNO SALES SANTOS 40629723877,TOMATICO,2019-03-28,REESTRUTURADO,639,Muitas taxas na venda de cartão,11500.0,1
26,04015113000111,CENTRO DE FORMACAO DE CONDUTORES ALBUQUERQUE,CREDITOVELOZ,2019-04-11,REESTRUTURADO,566,Queda no movimento,8500.0,1

In [65]:
dfpiores[dfpiores["flag_par"]==0]

,cnpj,empresa,produto,dataCessao,status,score,causa,volume_limite,flag_par
0,14550173000198,ALESSANDRA DE ALBUQUERQUE REIS,TOMATICO,2018-11-25,EXECUCAO,540,NaN,NaN,0
1,26998230000185,MARINHA FRANCHINI 53177037868,TOMATICO,2018-11-01,EXECUCAO,530,NaN,NaN,0
4,28395484000134,ANGUS YOUNG REPRESENTACAO DE CARNES LTDA,WIRECARD,2019-02-12,COBRANCA,706,Mudança de local de trabalho,NaN,0
6,23700185000142,PET DA GRANJA LTDA,TOMATICO,2019-01-21,COBRANCA,778,Maquininha quebrada,NaN,0
7,29152230000158,NISMOCAR SERVICOS AUTOMOTIVOS LTDA,TOMATICO,2018-12-13,REESTRUTURADO,797,Parou de fazer antecipação,NaN,0
8,29152230000158,NISMOCAR SERVICOS AUTOMOTIVOS LTDA,TOMATICO,2018-12-13,REESTRUTURADO,797,Promoção pagamentos a vista,NaN,0
9,22861508000117,ADNAEL SANTOS DE OLIVEIRA 01489514570,TOMATICO,2018-12-21,COBRANCA,898,Fechou a Empresa,NaN,0
10,22861508000117,ADNAEL SANTOS DE OLIVEIRA 01489514570,TOMATICO,2018-12-21,COBRANCA,898,Fechou a Empresa,NaN,0
11,13339876000109,MD PERSONALIZACOES LTDA,WIRECARD,2018-12-13,COBRANCA,797,Site elo7 com problemas,NaN,0
12,21666147000195,LITTLE BABY GYN EIRELI,WIRECARD,2019-01-08,CRITICO,722,Problemas com o site Elo7,NaN,0
13,21666147000195,LITTLE BABY GYN EIRELI,WIRECARD,2019-01-08,CRITICO,722,"Queda no movimento, problemas com o site Elo7",NaN,0
14,14534748000189,THAIS SCARLATE,TOMATICO,2018-12-05,COBRANCA,770,Queda no movimento,NaN,0
15,14534748000189,THAIS SCARLATE,TOMATICO,2018-12-05,COBRANCA,770,Queda no movimento,NaN,0
22,25401132000156,VALERIA CRISTINA ROSSINI GOMES,WIRECARD,2018-09-05,EXECUCAO,889,NaN,NaN,0
23,30815523000157,AUTO MOTO ESCOLA CAPRICHO LTDA,CREDITOVELOZ,2019-03-13,COBRANCA,866,Mudança de local de trabalho,NaN,0
24,03111629000105,AUTO ESCOLA MACATUBA A/B LTDA,CREDITOVELOZ,2019-03-18,CRITICO,649,Sem resposta,NaN,0
25,03111629000105,AUTO ESCOLA MACATUBA A/B LTDA,CREDITOVELOZ,2019-03-18,CRITICO,649,Maquininha quebrada,NaN,0
27,10646638000158,AMANDA FERREIRA MORAES LOPES DROGARIA,TOMATICO,2019-03-29,COBRANCA,689,"Loja Quebrada, estudando alternativas",NaN,0
28,13409564000124,TATIANA DE ARAUJO TRINDADE,TOMATICO,2019-04-17,REESTRUTURADO,727,Maquininha quebrada,NaN,0
29,13409564000124,TATIANA DE ARAUJO TRINDADE,TOMATICO,2019-04-17,REESTRUTURADO,727,Maquininha quebrada,NaN,0
30,20694842000106,MAXWELL HENRIQUE DOS SANTOS 34884524845,CREDITOVELOZ,2019-04-24,REESTRUTURADO,658,Muitas taxas na venda de cartão,NaN,0

In [69]:
lista_per.__len__()

79

In [71]:
dfacomp["flag_par"] = dfacomp.apply(lambda x : int(x["cnpj"] in lista_per), axis=1)

In [73]:
dfacomp.groupby(["status", "flag_par"]).count()

                                     cnpj  empresa  produto  dataCessao  score
status                     flag_par
ALERTA                     0           32       32       32          32     32
                           1            8        8        8           8      8
BOM                        0           30       30       30          30     30
                           1           16       16       16          16     16
COBRANCA                   0            7        7        7           7      7
                           1            2        2        2           2      2
CRITICO                    0            2        2        2           2      2
EXECUCAO                   0            3        3        3           3      3
NENHUM PAGAMENTO REALIZADO 0            7        7        7           7      7
                           1            1        1        1           1      1
OTIMO                      0           35       35       35          35     35
                           1            8        8        8           8      8
QUITADA                    0            8        8        8           8      8
                           1           12       12       12          12     12
QUITADA a VP               0            1        1        1           1      1
REESTRUTURADO              0            3        3        3           3      3
                           1            6        6        6           6      6

In [79]:
dfpersonalizado = dfacomp[dfacomp["flag_par"]==1]

In [83]:
df1 = dfpersonalizado.groupby("status").count()

In [85]:
df1["prop"] = df1["cnpj"]/len(dfpersonalizado)

In [86]:
df1

,cnpj,empresa,produto,dataCessao,score,flag_par,prop
status,,,,,,,
ALERTA,8,8,8,8,8,8,0.150943
BOM,16,16,16,16,16,16,0.301887
COBRANCA,2,2,2,2,2,2,0.037736
NENHUM PAGAMENTO REALIZADO,1,1,1,1,1,1,0.018868
OTIMO,8,8,8,8,8,8,0.150943
QUITADA,12,12,12,12,12,12,0.226415
REESTRUTURADO,6,6,6,6,6,6,0.113208

In [87]:
df2 = dfacomp[dfacomp["flag_par"]==0].groupby("status").count()

In [88]:
df2["prop"] = df2["cnpj"]/len(dfacomp[dfacomp["flag_par"]==0])

In [91]:
df2.reset_index().to_excel("status_operacoes_esteira.xlsx")

In [93]:
df1.reset_index().to_excel("status_operacoes_personalizadas.xlsx")

In [94]:
df1

,cnpj,empresa,produto,dataCessao,score,flag_par,prop
status,,,,,,,
ALERTA,8,8,8,8,8,8,0.150943
BOM,16,16,16,16,16,16,0.301887
COBRANCA,2,2,2,2,2,2,0.037736
NENHUM PAGAMENTO REALIZADO,1,1,1,1,1,1,0.018868
OTIMO,8,8,8,8,8,8,0.150943
QUITADA,12,12,12,12,12,12,0.226415
REESTRUTURADO,6,6,6,6,6,6,0.113208

In [75]:
dfpiores.drop(columns=["volume_limite"], axis=1, inplace=True)

In [97]:
df3 = dfpiores[dfpiores["flag_par"]==1]

In [100]:
df3 = df3.groupby("status").count()

In [101]:
df3["prop"] = df3["cnpj"]/len(dfpiores[dfpiores["flag_par"]==1])

In [102]:
df3

,cnpj,empresa,produto,dataCessao,score,causa,flag_par,prop
status,,,,,,,,
COBRANCA,2,2,2,2,2,2,2,0.2
REESTRUTURADO,8,8,8,8,8,7,8,0.8

In [103]:
df4 = dfpiores[dfpiores["flag_par"]==0]

In [106]:
df4 = df4.groupby("status").count()

In [107]:
df4["prop"] = df4["cnpj"]/df4["cnpj"].sum()

In [108]:
df4

,cnpj,empresa,produto,dataCessao,score,causa,flag_par,prop
status,,,,,,,,
COBRANCA,9,9,9,9,9,9,9,0.428571
CRITICO,4,4,4,4,4,4,4,0.190476
EXECUCAO,3,3,3,3,3,0,3,0.142857
REESTRUTURADO,5,5,5,5,5,5,5,0.238095

In [110]:
dfpiores.head()

,cnpj,empresa,produto,dataCessao,status,score,causa,flag_par
0,14550173000198,ALESSANDRA DE ALBUQUERQUE REIS,TOMATICO,2018-11-25,EXECUCAO,540,NaN,0
1,26998230000185,MARINHA FRANCHINI 53177037868,TOMATICO,2018-11-01,EXECUCAO,530,NaN,0
2,12919292000140,RICHARD ROCHA SANTOS VEICULOS,CREDITOVELOZ,2019-02-28,REESTRUTURADO,543,Queda nas vendas de cartão,1
3,12919292000140,RICHARD ROCHA SANTOS VEICULOS,CREDITOVELOZ,2019-02-28,REESTRUTURADO,543,Sem movimento no cartão,1
4,28395484000134,ANGUS YOUNG REPRESENTACAO DE CARNES LTDA,WIRECARD,2019-02-12,COBRANCA,706,Mudança de local de trabalho,0

In [125]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from conector.mysql import mysql_engine
from sqlalchemy import create_engine
from pricing.service.scoring.base import BaseScoring
from werkzeug import exceptions
from scipy import stats
from pricing.utils import formata_cnpj
from datamanager import conn_pricing


class LScoring(BaseScoring):
    def __init__(self, data=None, cnpj=None, produto=None, data_cessao=datetime.now().date()):
        self.cnpj = cnpj
        self.data_cessao = data_cessao
        self.produto = data.get("id_produto") if not data is None else produto
        self.params = self.get_dados() if not self.cnpj is None else data.get("dados")
        
        # self.params = data['dados']
        # self.produto = data['id_produto']
        self.faturamentos = None
        self.razao_outlier = None
        self.data_max = None
        self.estabilidade = None
        self.pesos = None
        self.volatilidade = None
        self.curva_score = None
        self.score_crescimento = None
        self.prop_queda = None
        self.score_volatilidade = None
        self.slope = None
        self.erro = None
        self.probabilidade_zeros = None
        self.zscore = None
    
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "creditoveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        df = df[df["data"]<self.data_cessao]
        dados = df[["data", "valor"]].to_dict("records")
        return dados
    
    @classmethod
    def validar_dados(cls, data):
        if data is None:
            raise exceptions.BadRequest("Missing data")

        if not isinstance(data['dados'], list):
            raise exceptions.UnprocessableEntity(
                "Field 'dados' should be an array")

    @staticmethod
    def gera_periodo(periods=12):
        now = datetime.now().date()
        start = datetime(now.year, now.month, 1)
        start = start - relativedelta(months=periods)
        datas = pd.date_range(start=start, periods=periods, freq='MS')
        datas = [el.date() for el in datas]
        return datas

    @staticmethod
    def mensaliza(df):
        df.index = pd.to_datetime(df.data)
        df = df.resample('MS').sum().reset_index()
        
        return df

    def isElegible(self):
        df = pd.DataFrame(self.params)
        df = self.mensaliza(df)
        per = self.gera_periodo(periods=6)
        
        df = df[df['data'].isin(per)].copy()
        lista_val = df['valor'].tolist()
        if 0 in lista_val or len(df) < 6:
            return None
        return 1

    def gera_serie(self, periods=12):
        df = pd.DataFrame(self.params)
        df = self.mensaliza(df)
        df['data'] = df.data.dt.date
        periodo_completo = self.gera_periodo(periods=periods)
        df = df[df['data'].isin(periodo_completo)]
        if df.empty:
            self.faturamentos = df
            return
        data_min = df['data'].min()
        datas = pd.date_range(
            start=data_min, end=periodo_completo[-1], freq="MS")
        datas = [el.date() for el in datas]

        for data in datas:
            if data not in df['data'].tolist():
                df_extra = pd.DataFrame({"data": [data], "valor": [0]})
                df = pd.concat([df, df_extra])
                df.sort_values("data", inplace=True)

        if self.faturamentos is None:
            self.faturamentos = df
        return

    def outlier_6meses(self):
        razao_outlier = self.faturamentos['valor'].mean(
        )/np.mean(self.faturamentos['valor'].tolist()[:-1])
        if self.razao_outlier is None:
            self.razao_outlier = razao_outlier
        return

    def data_maxima(self):
        res = dict(zip(list(self.faturamentos['valor'].diff())[
                   1:], self.faturamentos['data'].tolist()[0:-1]))
        data_max = res.get(np.max(list(res.keys())))
        if self.data_max is None:
            self.data_max = data_max
        return

    def crescimento_efetivo(self):
        df = self.faturamentos[self.faturamentos['data'] > self.data_max]
        estabilidade = df['valor'].std()/df['valor'].iloc[0]
        if self.estabilidade is None:
            self.estabilidade = estabilidade
        return

    def calcula_pesos(self):
        pesos = list(range(1, self.faturamentos.shape[0]))

        if self.estabilidade <= 0.15:
            dic_pesos = dict(
                zip(self.faturamentos['data'].tolist()[:-1], pesos))
            peso_max = np.max(list(dic_pesos.values()))
            dic_pesos[self.data_max] = peso_max

            if self.data_max - relativedelta(months=1) in list(dic_pesos.keys()):
                p = dic_pesos.get(self.data_max - relativedelta(months=1))
            else:
                p = 0

            keys = pd.date_range(start=self.data_max + relativedelta(months=1),
                                 end=list(dic_pesos.keys())[-1], freq='MS')
            keys = [el.date() for el in keys]

            i = 1
            for data in keys:
                dic_pesos[data] = p + i
                i += 1
        else:
            dic_pesos = dict(
                zip(self.faturamentos['data'].tolist()[:-1], pesos))

        if self.pesos is None:
            self.pesos = dic_pesos
        return

    def calcula_volatilidade(self):
        self.volatilidade = self.faturamentos['valor'].std(
        )/self.faturamentos['valor'].mean()
        return

    # score de crescimento
    def lscore(self):
        pesos = list(self.pesos.values())

        if self.razao_outlier >= 2:
            pesos[-1] = 1

        dfcalc = self.faturamentos[['valor']].diff()
        dfcalc.dropna(inplace=True)
        dfcalc['pesos'] = pesos
        dfcalc['tx'] = dfcalc['valor'] * dfcalc['pesos']
        tx = dfcalc['tx'].sum() / dfcalc['pesos'].sum()
        tx = tx/self.faturamentos['valor'].mean()
        return tx

    def calibracao(self):
        eng = mysql_engine("apiPricing")
        df = pd.read_sql("select * from apiPricing.calibracao_score", eng)
        self.curva_score = df[['metrica',
                               'score', 'tipo_metrica', 'bandwidth']]
        return

    def get_score(self, metrica, tipo_metrica):
        dfcal = self.curva_score[self.curva_score['tipo_metrica']
                                 == tipo_metrica]
        bw = dfcal['bandwidth'].iloc[0]

        if tipo_metrica == 'lscore':
            if metrica <= dfcal['metrica'].min():
                return 0
            if metrica >= dfcal['metrica'].max():
                return 1000
        else:
            if metrica >= dfcal['metrica'].max():
                return 0
            if metrica <= dfcal["metrica"].min():
                return 1000

        return dfcal[(dfcal['metrica'] >= metrica-bw) & (dfcal['metrica'] <= metrica+bw)]['score'].mean()

    def prop_quedas(self):
        dt = self.faturamentos
        df1 = dt[['valor']].diff()
        df1.dropna(inplace=True)
        df1['flag'] = df1.apply(lambda x: int(x['valor'] < 0), axis=1)
        if 1 not in df1['flag'].tolist():
            self.prop_queda = 0
        if 0 not in df1["flag"].tolist():
            self.prop_queda = 1
        
        return

    def calcula_tendencia(self):
        dt = pd.DataFrame(self.params)
        dt["valor"] = dt["valor"]/dt["valor"].max()
        x = dt.index
        y = dt['valor']

        slope, intercept, r_value, p_value, std_err = stats.linregress(x, y)
        self.slope = slope
        self.erro = std_err
        return
    
    # calculo da probabilidade de se observar faturamento nulo
    def probabilidade_faturamento_nulo(self):
        _df = self.faturamentos
        media = _df['valor'].mean()
        _df['prop'] = _df['valor']/media

        periodo_elegibilidade = self.gera_periodo(periods=6)
        df_zeros = _df[~_df['data'].isin(periodo_elegibilidade)]
        
        # qualquer valor menor que 20% do valor medio sera considerado faturamento nulo
        probabilidade = len(df_zeros[df_zeros['prop'] <= 0.2])/len(_df)
        
        if self.probabilidade_zeros is None:
            self.probabilidade_zeros = probabilidade
        return 
    
    def calcula_zscore(self, score_inicial):
        if self.probabilidade_zeros > 0:
            n = len(self.faturamentos)
            # considering a valid prob if we have at least 10 months
            if n >= 10:
                score = score_inicial * ((((-1) * n)/(n-6)) * self.probabilidade_zeros + 1)
                if self.zscore is None:
                    self.zscore = score
                    
    @property
    def correcao(self):
        return {6 : 0.7, 7 : 0.8, 8 : 0.9}
    
    def get_correcao(self, score):
        historico = len(self.faturamentos)
        
        fator_correcao = self.correcao.get(historico, 1)
        
        return fator_correcao*score

    def calcula(self):
        if self.produto == 'tomatico' or self.produto == "padrao":
            if not self.isElegible():
                return {'score': np.nan}

        self.gera_serie()
        if self.faturamentos.empty:
            return {"score" : np.nan}

        now = datetime.now().date() - relativedelta(months=1)
        data_proposta = datetime(now.year, now.month, 1).date()

        if self.faturamentos[self.faturamentos['data'] == data_proposta]['valor'].iloc[0] == 0:
            self.faturamentos = self.faturamentos[self.faturamentos['data'] != data_proposta]

        self.data_maxima()
        self.outlier_6meses()
        self.calcula_volatilidade()
        self.crescimento_efetivo()
        self.calcula_pesos()
        self.probabilidade_faturamento_nulo()

        lscore = self.lscore()

        self.prop_quedas()
        self.calibracao()

        score = self.get_score(metrica=lscore, tipo_metrica='lscore')
        self.score_crescimento = score
        if self.prop_queda == 0:
            self.score_crescimento = 1000
            self.calcula_zscore(self.score_crescimento)
            if not self.zscore is None:
                score = (self.score_crescimento + self.zscore)/2
                
            else:
                score = self.score_crescimento
            
            score = self.get_correcao(score)
            return {'score' : int(score)}

        if self.prop_queda == 1:
            self.calcula_zscore(self.score_crescimento)
            if not self.zscore is None:
                score = (self.zscore + self.score_crescimento)/2
        
            else:
                score = self.score_crescimento
                
            score = self.get_correcao(score)
            return {'score' : int(score)}

        self.calcula_tendencia()
        if self.slope < -0.2:
            self.calcula_zscore(score)
            if not self.zscore is None:
                score = (self.zscore + self.score_crescimento)/2
            else:
                score = self.score_crescimento
            score = self.get_correcao(score)
            return {'score': int(score)}

        if abs(self.slope) <= 0.01 and self.erro < 0.05:
            self.score_volatilidade = 1000*(1-self.erro)
            score = (2*self.score_crescimento + self.score_volatilidade)/3
            self.calcula_zscore(score)
            
            if not self.zscore is None:
                score = (self.zscore + score)/2

            score = self.get_correcao(score)
            
            return {'score': int(score)}

        self.params = self.faturamentos.sort_values('data', ascending=False).iloc[:6, :].sort_values('data').to_dict('records')
        self.calcula_tendencia()
        if self.slope < -0.2:
            self.calcula_zscore(self.score_crescimento)
            
            if not self.zscore is None:
                score = (self.zscore + self.score_crescimento)/2
            else:
                score = self.score_crescimento

            score = self.get_correcao(score)
            
            return  {'score': int(score)}
        
        self.score_volatilidade = int(self.get_score(metrica=self.volatilidade, tipo_metrica='vscore'))
        
        score = (2*self.score_crescimento + self.score_volatilidade)/3
        
        self.calcula_zscore(score)
        if not self.zscore is None:
            score = (self.zscore + score)/2

        score = self.get_correcao(score)
        
        return {'score': int(score)}


if __name__ == '__main__':
    ls = LScoring(cnpj='00018460000147', produto='wirecard')
    ls.calcula()

In [121]:
# from pricing.service.scoring.lscore import LScoring
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import requests
from time import sleep
from datetime import datetime
from conector.mysql import mysql_engine, CaptalysDBContext
from dateutil.relativedelta import relativedelta

class DScoring(object):
    def __init__(self, cnpj, produto, socios=False, baseline_type = 'lscore', data_cessao=datetime.now().date()):
        self.cnpj = cnpj
        self.data_cessao = data_cessao
        self.doctype = 'cpf' if len(self.cnpj)<12 else 'cnpj'
        self.baseline_type = baseline_type
        self.score_socios = socios
        self.produto = produto
        self.lscore = None
        self.baseline = 1000
        self.fator_elegibilidade = 2
        self.faturamento_medio = None
        self.calibracao_segmento = None
        self.consulta = None
        self.estados_dividas = None
        self.dispersao_divida = None
        self.idade_empresa = None
        self.metricas = None
        
    def score_mestre(self):
        ls = LScoring(cnpj=self.cnpj, produto=self.produto, data_cessao=self.data_cessao)
        
        df = pd.DataFrame(ls.params)
        periodo = len(df)

        datas = pd.date_range(end=datetime.now().date().replace(day=1) - relativedelta(months=1), periods=periodo, freq='MS')
        datas = [el.date() for el in datas]
        df['data'] = datas

        params = df.to_dict("records")
        ls.params = params
        lscore = ls.calcula().get('score')
        fat_medio = ls.faturamentos['valor'].mean()
        self.lscore = lscore
        self.faturamento_medio = fat_medio
        return
    
    
    @property
    def campos_divida(self):
        return {
                "restricoes" : ["data_ocorrencia", "modalidade_natureza", "natureza", "valor"],
                "protestos" : ["data_anotacao", "natureza", "sub_judice_descricao", "valor"],
                "pendencias" : ["data_ocorrencia", "modalidade", "natureza", "valor"],
                "processos" : ["data_ocorrencia", "descricao_natureza", "natureza", "valor"],
                "restricoes_financeiras" : ["data_ocorrencia", "modalidade_natureza", "natureza", "valor"]
               }
    @property
    def campos_rename(self):
        return {
                "processos" : {"descricao_natureza" : "modalidade_natureza"},
                "pendencias" : {"modalidade" : "modalidade_natureza"},
                "protestos" : {'sub_judice_descricao' : "modalidade_natureza", "data_anotacao" : "data_ocorrencia"}
                }
    
    @property
    def segmentos(self):
        return {"credito" : ['EMPRESCONTA', 'EMPRESTIMO', 'CREDCARTAO', 'FINANCIAMENT', 
                             'CREDITOEFINANCIAMENTO-FINANC'],
                "processos" : ['EXCJUDTRAB', 'FISCALESTADUAL', 'EXECUCAO', 'FISCALFEDERAL', 
                               'FISCALMUNICIPAL','EXECUCAO-JE', 'BUSCAEAPREENSAO'],
                "infra" : ['FATAGUA', 'TELEFFX', 'TELEFFIXA', 'TELEFMOVEL', 'CONDOMINIO', 
                           'ENERGIAELET', 'ALUGUEL', 'SERVTELEFON'] 
               }
    

    @staticmethod
    def get_numero_consulta(doc):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select data_ref, numero_consulta from consultas_idwall_operacoes where cnpj_cpf='{}'".format(doc)
        df = pd.read_sql(query, con)
        numero = df[df['data_ref']==df['data_ref'].max()]["numero_consulta"].iloc[0]
        con.close()
#         self.numero_consulta = numero
        return numero
    
    @staticmethod
    def get_details(numero):
        URL = "https://api-v2.idwall.co/relatorios"
        authorization = "b3818f92-5807-4acf-ade8-78a1f6d7996b"
        url_details = URL + "/{}".format(numero) + "/dados"
        while True:
            dets = requests.get(url_details, headers={"authorization": authorization})
            djson = dets.json()
            sleep(1)
            if djson['result']['status'] == "CONCLUIDO":
                break

        return dets.json()
    
    @staticmethod
    def formata_dados(df):
        df['modalidade_natureza'] = df.apply(lambda x : x['modalidade_natureza'].replace(" ", "") if isinstance(x['modalidade_natureza'], str) else "OUTROS", axis=1)
        df['valor'] = df.apply(lambda x : x['valor'].split("R$ ")[1].replace(",", "."), axis=1)
        df["valor"] = df.apply(lambda x : float(x["valor"]), axis=1)
        return df
    
    def get_infos_dividas(self, js, tp_pendencia):
        res = js.get("result").get(tp_pendencia)
        if not res is None:
            df = pd.DataFrame(res.get('itens'))
            cols = self.campos_divida.get(tp_pendencia)
            if "uf" in list(df.columns):
                cols = cols + ["uf"]
                df = df[cols].copy()
            else:
                df = df[cols]
                df["uf"] = None
            rename = self.campos_rename.get(tp_pendencia)
            if not rename is None:
                df.rename(columns = rename, inplace=True)
            df["tipo"] = tp_pendencia
            return df
        return None
    
    
    def gera_dados(self, doc):
        numero = self.get_numero_consulta(doc)
        js = self.get_details(numero)
        if len(doc) > 11:
            self.consulta = js
        fr = []
        lista_pendencias = ["restricoes", "processos", "protestos", "pendencias", "restricoes_financeiras"]
        for el in lista_pendencias:
            res = self.get_infos_dividas(js, el)
            if not res is None:
                fr.append(res)
        if len(fr) == 0:
            return pd.DataFrame()
        df = pd.concat(fr)
        df = self.formata_dados(df)
        if len(doc) > 11:
            self.estados_dividas = df["uf"].unique().tolist()
        return df
    
    def calcula_dispersao_divida(self):
        uf_cnpj = self.consulta.get("result").get("cnpj").get("localizacao").get("estado")
        lista_dispersao = [el for el in self.estados_dividas if el!= uf_cnpj]
#         print(lista_dispersao)
        dispersao = len(lista_dispersao)/4
        self.dispersao_divida = dispersao
        return
    
    def get_idade(self):
        data_abertura = self.consulta.get("result").get("cnpj").get("data_abertura")
        data_abertura = data_abertura.replace("/", "-")
        data = datetime.strptime(data_abertura, "%d-%m-%Y").date()
        idade = ((datetime.now().date() - data).days/366)
        self.idade_empresa = np.around(idade, 2)
        return 

    
    def atribui_segmento(self, df):
        df['segmento'] = df.apply(lambda x : 'processos' if x['tipo']=='processos'
                              else('credito' if x['modalidade_natureza'] in self.segmentos.get("credito")
                                  else ('infra' if x['modalidade_natureza'] in self.segmentos.get("infra") else "outros")), axis=1)
        return df
    
    @staticmethod
    def calcula_probabilidade(df):
        dt = df.groupby("segmento").count().reset_index()[["segmento", "valor"]]
        dt.columns = ["segmento", "ocorrencias"]
        dt["probabilidade"] = dt["ocorrencias"]/dt["ocorrencias"].sum()
        dt["probabilidade"] = 1
        return dt
    
    @staticmethod
    def calcula_composicao(df):
        dt = df.groupby("segmento").sum().reset_index()
        dt.columns = ["segmento", "valor_divida"]
        dt["composicao"] = dt["valor_divida"]/dt["valor_divida"].sum()
        return dt
    
    
    def calcula_pi(self, dfcalc):
        dfcalc['pi'] = dfcalc['valor_divida']/dfcalc['fat_medio']
        dfcalc['pi'] = (1/self.fator_elegibilidade)*dfcalc['pi']
        return dfcalc

    @property
    def peso_segmento(self):
        return {
            "credito" : 4,
            "processos" : 3,
            "infra" : 2,
            "outros" : 1
        }
    
    @property
    def fator_segmento(self):
        return {"credito" : 1, "processos" : 0.8, "infra" : 0.6, "outros" : 0.4}
    
    def lambda_(self, c, p, segmento):
        f = self.fator_segmento.get(segmento)
        return c*p*f
    
    def calcula_lambda(self, dfcalc):
        dfcalc["lambda"] = dfcalc.apply(lambda x : self.lambda_(x["composicao"], x["pi"], x["segmento"]), axis=1)
        return dfcalc
    
    @staticmethod
    def calcula_risco(dfcalc):
        dfcalc["risco"] = dfcalc["probabilidade"]*dfcalc["lambda"]
        return dfcalc
    
    @staticmethod
    def d_score(risco_, score_limite):
        return -score_limite*risco_ + score_limite


    def calcula_dscore(self, dfcalc):
        if self.baseline_type == 'lscore':
            score_limite = 1*self.lscore
        else:
            score_limite = self.baseline
        dfcalc["dscore"] = dfcalc.apply(lambda x : self.d_score(x["risco"], score_limite) if x["pi"] <=1 else 0, axis=1)
        return dfcalc
    
    def get_metricas(self, dfcalc):
        segmentos = ["credito", "processos", "infra", "outros"]
        final = {}
        for el in segmentos:
            dt = dfcalc[dfcalc["segmento"]==el]
            res = {}
            if dt.empty:
                res["num_ocorr"] = 0
                res["comp"] = 0
                res["risco"] = 0
                final[el] = res
            else:
                res["num_ocorr"] = dt["ocorrencias"].iloc[0]
                res["comp"] = dt['composicao'].iloc[0]
                res["risco"] = dt["risco"].iloc[0]
                final[el] = res
        self.metricas = final
        return
    
    def update_dataset(self):
        df_metricas = pd.DataFrame()
        df_metricas["cnpj"] = [self.cnpj]
        df_metricas["produto"] = [self.produto]
        df_metricas["data_metricas"] = [datetime.now().date()]
        df_metricas["data_modelo"] = [None]
        df_metricas["num_ocorr_cr"] = [self.metricas.get('credito').get('num_ocorr')]
        df_metricas["num_ocorr_proc"] = [self.metricas.get('processos').get('num_ocorr')]
        df_metricas["num_ocorr_infra"] =  [self.metricas.get('infra').get('num_ocorr')]
        df_metricas["num_ocorr_out"] = [self.metricas.get('outros').get('num_ocorr')]
        df_metricas["comp_cr"] = [self.metricas.get('credito').get('comp')]
        df_metricas["comp_proc"] = [self.metricas.get('processos').get('comp')]
        df_metricas["comp_infra"] = [self.metricas.get('infra').get('comp')]
        df_metricas["comp_out"] = [self.metricas.get('outros').get('comp')]
        df_metricas["risco_cr"] = [self.metricas.get('credito').get('risco')]
        df_metricas["risco_proc"] = [self.metricas.get('processos').get('risco')]
        df_metricas["risco_infra"] = [self.metricas.get('infra').get('risco')]
        df_metricas["risco_out"] = [self.metricas.get('outros').get('risco')]
        df_metricas["idade_empresa"] = [self.idade_empresa]
        df_metricas["dispersao_divida"] = [self.dispersao_divida]
        df_metricas["outlier"] = [None]
        
        
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credit_model")
        con = engine.connect()
        
        con.execute("delete from outlier_detection where cnpj='{}'".format(self.cnpj))
        df_metricas.to_sql('outlier_detection', schema='credit_model', con=con, if_exists='append', index=False)
        
        con.close()
        
        return
    
    def get_socios(self):
        schema = 'credito-digital' if self.produto != 'moip' else self.produto
        engine = mysql_engine(schema)
        query = "select cpf from tb_Socio where cnpj='{}'".format(self.cnpj)
        with CaptalysDBContext(engine) as db:
            res = db.session.execute(query).fetchall()

        lista_socios = [el[0] for el in res]
        self.lista_socios = lista_socios
        return lista_socios
    
    def calcula_socios(self):
        lista_socios = self.get_socios()
        self.fator_elegibilidade = 0.5
        resp = []
        for el in lista_socios:
            _df = self.gera_dados(el)
            if not _df.empty:
                resp.append(_df)
        if len(resp) == 0:
            return np.nan
        
        df = pd.concat(resp)
        df = self.atribui_segmento(df)
        dfp = self.calcula_probabilidade(df)
        dfc = self.calcula_composicao(df)
        dfcalc = dfp.merge(dfc, left_on="segmento", right_on="segmento", how='left')
        dfcalc['fat_medio'] = self.faturamento_medio
        dfcalc = self.calcula_pi(dfcalc)
        dfcalc = self.calcula_lambda(dfcalc)
        
        dfcalc = self.calcula_risco(dfcalc)
        dfcalc = self.calcula_dscore(dfcalc)
        self.get_metricas(dfcalc)
        dfcalc["dscore_final"] = dfcalc["dscore"]*dfcalc["composicao"]
        dscore = dfcalc["dscore_final"].sum()
#         dscore = dfcalc['dscore'].mean()
        
        lista_segmentos = dfcalc["segmento"].tolist()
        lista_dscore = dfcalc["dscore"].tolist()
        lista_dscore = [int(el) for el in lista_dscore]
        res = dict(zip(lista_segmentos, lista_dscore))
        res["lscore"] = int(self.lscore)
        res['dscore'] = int(dscore)
        res['score'] = int((self.lscore + dscore)/2)
        return res, dfcalc
    
            
    def calcula(self, update=True):
        self.score_mestre()
        doc = self.cnpj
        df = self.gera_dados(doc)
        if df.empty:
            return {}, None
        self.calcula_dispersao_divida()
        self.get_idade()
        df = self.atribui_segmento(df)
        dfp = self.calcula_probabilidade(df)
        dfc = self.calcula_composicao(df)
        dfcalc = dfp.merge(dfc, left_on="segmento", right_on="segmento", how='left')

        dfcalc['fat_medio'] = self.faturamento_medio
        dfcalc = self.calcula_pi(dfcalc)
        dfcalc = self.calcula_lambda(dfcalc)
        dfcalc = self.calcula_risco(dfcalc)
        dfcalc = self.calcula_dscore(dfcalc)
        self.get_metricas(dfcalc)
        if update:
            self.update_dataset()
        
#         dscore = dfcalc['dscore'].mean()
        dfcalc["dscore_final"] = dfcalc["dscore"]*dfcalc["composicao"]
        dscore = dfcalc["dscore_final"].sum()
        
        lista_segmentos = dfcalc["segmento"].tolist()
        lista_dscore = dfcalc["dscore"].tolist()
        lista_dscore = [int(el) for el in lista_dscore]
        res = dict(zip(lista_segmentos, lista_dscore))
        res["lscore"] = int(self.lscore)
        res['dscore'] = int(dscore)
        res['score'] = int((self.lscore + dscore)/2)
        
        dfcalc["baseline_type"] = self.baseline_type
        dfcalc["baseline"] = self.lscore if self.baseline_type == 'lscore' else 1000
        dfcalc["fator_elegibilidade"] = self.fator_elegibilidade
        dfcalc["cnpj"] = self.cnpj
        dfcalc["produto"] = self.produto
        dfcalc["data_ref"] = datetime.now().date()
        return res, dfcalc

if __name__ == '__main__':
    #thais scarlate
    ds = DScoring(cnpj='14534748000189', produto='tomatico')
    res, dfcalc = ds.calcula(update=False)

In [120]:
import warnings
warnings.filterwarnings('ignore')

In [122]:
res

{'credito': 657,
 'outros': 487,
 'processos': 656,
 'lscore': 658,
 'dscore': 498,
 'score': 578}

In [123]:
dfcalc

,segmento,ocorrencias,probabilidade,valor_divida,composicao,fat_medio,pi,lambda,risco,dscore,dscore_final,baseline_type,baseline,fator_elegibilidade,cnpj,produto,data_ref
0,credito,1,1,668.26,0.009443,47309.444167,0.007063,0.000067,0.000067,657.956118,6.212863,lscore,658,2,14534748000189,tomatico,2019-06-22
1,outros,183,1,65944.51,0.931811,47309.444167,0.696949,0.259770,0.259770,487.071403,453.858706,lscore,658,2,14534748000189,tomatico,2019-06-22
2,processos,2,1,4157.46,0.058746,47309.444167,0.043939,0.002065,0.002065,656.641237,38.574973,lscore,658,2,14534748000189,tomatico,2019-06-22

In [128]:
# dfpiores["cnpj"].unique().tolist()

In [141]:
fr = []
err = []
for el in dfpiores["cnpj"].unique().tolist():
    try:
        dt = dfpiores[dfpiores['cnpj']==el]
        produto = dt["produto"].iloc[0].lower()
        data = dt["dataCessao"].iloc[0]
        ds = DScoring(cnpj=el, produto=produto, data_cessao=data)
        res, dfcalc = ds.calcula()
#         dfcalc["dscore_total"] = res.get("dscore")
        fr.append(dfcalc)
    except:
        print(el)
        err.append(el)

09260699000101
26555778000150
25401132000156

In [143]:
dfscore = pd.concat(fr)

In [150]:
_df = dfscore.groupby("cnpj").sum().reset_index()[["cnpj", "dscore_final"]]

In [152]:
_df.columns

Index(['cnpj', 'dscore_final'], dtype='object')

In [153]:
_df.columns = ["cnpj", "dscore_total"]

In [155]:
_df.shape

(14, 2)

In [158]:
dfscore.shape

(21, 17)

In [162]:
dfscore = dfscore.merge(_df, left_on='cnpj', right_on='cnpj', how='left')

In [165]:
ret = dfscore[["cnpj", "baseline", "dscore_total"]].drop_duplicates()

In [171]:
dfpiores.merge(ret, left_on='cnpj', right_on='cnpj', how='left').to_excel("analise_final_piores_total.xlsx")

In [169]:
ds = DScoring(cnpj='14550173000198', produto='tomatico')
res, dfcalc = ds.calcula()

In [170]:
res

{'credito': 432, 'outros': 0, 'lscore': 433, 'dscore': 12, 'score': 222}