In [16]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [17]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select * from consultas_idwall_operacoes", con)
con.close()

In [18]:
df["mes_consulta"] = df.apply(lambda x : x["data_ref"].date(), axis=1)

In [19]:
df = df[df['mes_consulta']>=datetime(2019, 1,1).date()]

In [23]:
# consultados no semestre
df["numero_consulta"].unique().tolist().__len__()

5845

In [24]:
5845*15

87675

In [25]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dfp = pd.read_sql("select * from pre_analise", con)
con.close()

In [27]:
dfp["produto"].unique().tolist()

['wirecard', 'pagueveloz', 'justa', 'kred']

In [29]:
dt = dfp[dfp["produto"]!="kred"]

In [34]:
res = dt[dt["flag_faturamento"]==1]

In [33]:
2075*15

31125

In [38]:
res = res.groupby("produto").count().reset_index()[["produto", "cnpj"]]

In [40]:
res["custo"] = res["cnpj"]*15

In [41]:
res

      produto  cnpj  custo
0       justa   317   4755
1  pagueveloz   898  13470
2    wirecard   860  12900

186

In [13]:
(df["numero_consulta"].unique().tolist().__len__()*15)/6

14605.0

In [14]:
534*15

8010

In [15]:
# demanda de consulta por plataforma