In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
df = pd.read_sql("select * from acompanhamento", con)
con.close()

In [7]:
df = df[df['status']=='QUITADA']

In [12]:
js = eval(df["score_temporal"].iloc[0])

In [13]:
js

{'data': ['2018-10-01',
  '2018-11-01',
  '2018-12-01',
  '2019-01-01',
  '2019-02-01',
  '2019-03-01',
  '2019-04-01',
  '2019-05-01'],
 'score': [777, 738, 649, 701, 731, 751, 777, 637]}

In [14]:
from asset.acompanhamento.ativo.resumo_op import ResumoOperacao

In [15]:
lista_controle = df['controleParticipante'].unique().tolist()

In [17]:
lista_controle.__len__()

23

In [20]:
cont = 'b42e74b1-774a-449f-9b14-0b3f40f349a2'
ResumoOperacao().resumo_op(cont).get('data_quitacao_pgto')

[(datetime.date(2018, 10, 29),)]

'2018-12-05'

In [23]:
res = df[["controleParticipante", "score_temporal"]]

In [24]:
res["quitacao"] = res.apply(lambda x : ResumoOperacao().resumo_op(x["controleParticipante"]).get('data_quitacao_pgto'), axis=1)

[(datetime.date(2018, 10, 29),)]
[(datetime.date(2018, 11, 26),)]
[(datetime.date(2018, 9, 11),)]
[(datetime.date(2018, 11, 30),)]
[(datetime.date(2018, 12, 20),)]
[(datetime.date(2019, 1, 14),)]
[(datetime.date(2019, 2, 14),)]
[(datetime.date(2019, 1, 23),)]
[(datetime.date(2019, 2, 12),)]
[(datetime.date(2018, 11, 7),)]
[(datetime.date(2019, 1, 17),)]
[(datetime.date(2019, 2, 15),)]
[(datetime.date(2019, 1, 23),)]
[(datetime.date(2019, 1, 16),)]
[(datetime.date(2019, 2, 14),)]
[(datetime.date(2019, 2, 21),)]
[(datetime.date(2019, 4, 15),)]
[(datetime.date(2019, 6, 6),)]
[(datetime.date(2018, 12, 28),)]
[(datetime.date(2019, 2, 27),)]
[(datetime.date(2018, 10, 17),)]
[(datetime.date(2018, 10, 17),)]
[(datetime.date(2019, 3, 8),)]

In [50]:
res.head()

,controleParticipante,score_temporal,quitacao,dataq
0,b42e74b1-774a-449f-9b14-0b3f40f349a2,"{""data"": [""2018-10-01"", ""2018-11-01"", ""2018-12...",2018-12-05,2018-12-05
1,427d03eb-f447-4f15-b9fa-1a2c6267d4f7,"{""data"": [""2018-10-01"", ""2018-11-01"", ""2018-12...",2019-01-17,2019-01-17
3,0000000042,"{""data"": [""2018-08-01"", ""2018-09-01"", ""2018-10...",2019-02-13,2019-02-13
4,9addf7a8-28c5-41d1-b2e6-01339c0459a1,"{""data"": [""2018-11-01"", ""2018-12-01"", ""2019-01...",2019-02-25,2019-02-25
5,f32f10f1-ca01-4060-a615-cf5c9ffb5de4,"{""data"": [""2018-12-01"", ""2019-01-01"", ""2019-02...",2019-03-01,2019-03-01

In [26]:
res["dataq"] = res.apply(lambda x : datetime.strptime(x["quitacao"], "%Y-%m-%d").date(), axis=1)

In [53]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()

In [58]:
for cont in tqdm_notebook(res["controleParticipante"].unique().tolist()):
    dt = res[res['controleParticipante']==cont]
    js = dt['score_temporal'].iloc[0]
    js = eval(js)
    datas = js.get("data")
    datas = [datetime.strptime(el, "%Y-%m-%d").date() for el in datas]
    dataq = dt['dataq'].iloc[0]
    datas_bef = [el for el in datas if el<dataq.replace(day=1)]
    datas_bef = [str(el) for el in datas_bef]
    scores = js.get('score')
    scores_bef = scores[:len(datas_bef)]
    js_bef = {'data' : datas_bef, 'score' : scores_bef}
    js = json.dumps(js_bef)
    con.execute("update acompanhamento set score_temporal='{}' where controleParticipante='{}'".format(js, cont))

HBox(children=(IntProgress(value=0, max=23), HTML(value='')))

In [57]:
js

'{"datas": ["2019-02-01", "2019-03-01", "2019-04-01", "2019-05-01"], "score": [586, 729, 709, 586]}'

In [32]:
datas = js.get("data")

datas = [datetime.strptime(el, "%Y-%m-%d").date() for el in datas]

dataq = res['dataq'].iloc[0]

In [38]:
dataq

datetime.date(2018, 12, 5)

In [41]:
datas

[datetime.date(2018, 10, 1),
 datetime.date(2018, 11, 1),
 datetime.date(2018, 12, 1),
 datetime.date(2019, 1, 1),
 datetime.date(2019, 2, 1),
 datetime.date(2019, 3, 1),
 datetime.date(2019, 4, 1),
 datetime.date(2019, 5, 1)]

In [39]:
datas_bef = [el for el in datas if el<dataq.replace(day=1)]

datas_bef

datas_bef = [str(el) for el in datas_bef]

scores = js.get('score')

scores_bef = scores[:len(datas_bef)]

scores_bef

js_bef = {'datas' : datas_bef, 'score' : scores_bef}

In [49]:
js_bef

{'datas': ['2018-10-01', '2018-11-01'], 'score': [777, 738]}

In [54]:
import json
from tqdm import tqdm_notebook

In [52]:
json.dumps(js_bef)

'{"datas": ["2018-10-01", "2018-11-01"], "score": [777, 738]}'