In [21]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [22]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cnpj from fluxo_justa", con)
con.close()

In [23]:
df.head()

             cnpj
0  00121514000103
1  00147048000127
2  00147569000184
3  00150714000186
4  00160703000187

In [24]:
# df = df.iloc[1:, :]

In [25]:
df["cnpj"].iloc[0]

'00121514000103'

In [26]:
df.head()

             cnpj
0  00121514000103
1  00147048000127
2  00147569000184
3  00150714000186
4  00160703000187

In [27]:
df["flag_cnpj"] = df.apply(lambda x : int(len(x["cnpj"])==14), axis=1)

In [28]:
df.head()

             cnpj  flag_cnpj
0  00121514000103          1
1  00147048000127          1
2  00147569000184          1
3  00150714000186          1
4  00160703000187          1

In [29]:
df = df[df['flag_cnpj']==1]

In [30]:
df.head()

             cnpj  flag_cnpj
0  00121514000103          1
1  00147048000127          1
2  00147569000184          1
3  00150714000186          1
4  00160703000187          1

In [31]:
lista_cnpj = df["cnpj"].tolist()

In [32]:
lista_cnpj.__len__()

1838

In [1]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

class CriteriosElegibilidade(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.elegibilidade_dividas=1.5
        self.elegibilidade_transacoes = 12
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    
    def mensaliza(self, df):
        df.index = pd.to_datetime(df.data)
        if self.produto=='pagueveloz':
            df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        else:
            df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        if self.produto == 'pagueveloz':
            df = self.dados[["data", "valor", "valor_boleto"]]
        else:
            df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        if self.produto != 'tomatico':
            try:
                df = self.dados[["data", "numero_transacoes"]]
                df.index = pd.to_datetime(df.data)
                df.resample('MS').sum().reset_index()
                df = df.iloc[:12, :]
                media_transacoes = df["numero_transacoes"].mean()
                flag_transacoes = int(media_transacoes > self.elegibilidade_transacoes)
                self.flag_transacoes = flag_transacoes
            except:
                self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=self.elegibilidade_dividas)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [10]:
res[0]

             cnpj  cheques    dividas
0  21301964000140        0  186274.08

In [34]:
el = "03869173000139"

In [35]:
pa = CriteriosElegibilidade(cnpj=el, produto='justa')
pa.analisa()

In [36]:
pa.flag_cheques

1

In [38]:
resp = []
err = []
for el in lista_cnpj:
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='justa')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        print("erro")
        err.append(el)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:139: RuntimeWarning: divide by zero encountered in double_scalars

erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro
erro

In [39]:
err.__len__()

17

In [40]:
err2 = []
for el in err:
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='justa')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err2.append(el)

In [41]:
err2

[]

In [42]:
final = pd.concat(resp)

In [43]:
final.shape

(1838, 7)

In [44]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta
0,00121514000103,0,0,1,1,2,None
0,00147048000127,0,1,0,1,4,2019-05-21 16:38:50
0,00147569000184,0,0,1,1,2,None
0,00150714000186,1,1,1,1,8,2019-05-31 17:27:26
0,00160703000187,0,1,1,1,4,None

In [45]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [46]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [47]:
final[(final["flag_consulta"]==1)]["flag_faturamento"].unique().tolist()

[0]

In [29]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)].to_excel("atualizar_divida.xlsx")

In [48]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0]

In [49]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]["cnpj"].unique().tolist()

[]

In [50]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
0,00121514000103,0,0,1,1,2,None,1
0,00147048000127,0,1,0,1,4,2019-05-21,0
0,00147569000184,0,0,1,1,2,None,1
0,00150714000186,1,1,1,1,8,2019-05-31,0
0,00160703000187,0,1,1,1,4,None,1

In [51]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_transacoes"]*final["flag_cheques"]*final["flag_dividas"]

In [52]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
flag_aprovacao,,,,,,,,
0,1620,1620,1620,1620,1620,1620,153,1620
1,218,218,218,218,218,218,218,218

In [53]:
final.shape

(1838, 9)

In [54]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao
0,00121514000103,0,0,1,1,2,None,1,0
0,00147048000127,0,1,0,1,4,2019-05-21,0,0
0,00147569000184,0,0,1,1,2,None,1,0
0,00150714000186,1,1,1,1,8,2019-05-31,0,1
0,00160703000187,0,1,1,1,4,None,1,0

In [55]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_justa set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [56]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_justa set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [57]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"]

In [58]:
lista_pricing.__len__()

218

In [17]:
from tqdm import tqdm_notebook
import requests

In [19]:
lista_pricing = ["20737475000334","20737475000415", "20593518000274", "20593518000355", "20604000000370", "20604000000299"]

In [28]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "justa"}

fr = []
err = []
for el in tqdm_notebook(lista_pricing):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='justa')
        pa.get_dados()
        dff = pa.dados

        dff['adquirentes'] = "justa"
        fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
        dff.dropna(inplace=True)

        fluxos = dict()
        for adq in dff['adquirentes'].unique().tolist():
            dt = dff[dff['adquirentes']==adq]
            dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
            fluxos[adq] = dt[['data', 'valor']].to_dict("records")


        body = {
        "fluxos" : fluxos,
        "cnpj" : str(el),
        "cnae" : "4744-0",
        "volume_escolhido" : 0.5*fat_medio
        }

        req = requests.post(url, headers=header, json=body)

        js = req.json()
        if len(js) == 0:
            vol_max = 0
        else:
            vol_max = js.get("valor_maximo")
        fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))
    except:
        print("error")
        err.append(el)

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

In [40]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "justa"}

fr = []
# err = []
for el in tqdm_notebook(err):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='justa')
        pa.get_dados()
        dff = pa.dados

        dff['adquirentes'] = "justa"
        fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
        dff.dropna(inplace=True)

        fluxos = dict()
        for adq in dff['adquirentes'].unique().tolist():
            dt = dff[dff['adquirentes']==adq]
            dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
            fluxos[adq] = dt[['data', 'valor']].to_dict("records")


        body = {
        "fluxos" : fluxos,
        "cnpj" : str(el),
        "cnae" : "4744-0",
        "volume_escolhido" : dfvol[dfvol['cnpj']==el]["vol_max"].iloc[0]
        }

        req = requests.post(url, headers=header, json=body)

        js = req.json()
        if len(js) == 0:
            vol_max = 0
        else:
            js = js.get("propostas")[0]
            devido = js.get("devido")
            r = js.get("retencao")
        fr.append(pd.DataFrame({"cnpj" : [el], "devido" : [devido], "retencao" : [r]}))
    except:
        print("error")
        err.append(el)

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

In [39]:
df1 = pd.concat(fr)

In [41]:
df2 = pd.concat(fr)

In [42]:
df2

             cnpj    devido  retencao
0  20593518000355  268533.0  0.174548
0  20604000000370   78212.0  0.146422

In [45]:
res = pd.concat([df1, df2])

In [48]:
res.merge(dfvol, left_on='cnpj', right_on="cnpj", how='left').to_excel("analise_planeta_20190725.xlsx")

In [26]:
df1 = pd.concat(fr).dropna()

In [27]:
df1

             cnpj   vol_max
0  20737475000334  104500.0
0  20737475000415   98500.0
0  20593518000274  194000.0
0  20593518000355  234000.0
0  20604000000299  330000.0

In [30]:
df2 = pd.concat(fr)

In [31]:
dfvol = pd.concat([df1, df2])

In [32]:
dfvol

             cnpj   vol_max
0  20737475000334  104500.0
0  20737475000415   98500.0
0  20593518000274  194000.0
0  20593518000355  234000.0
0  20604000000299  330000.0
0  20604000000370   67500.0

In [35]:
js.get("propostas")[0]

{'devido': 19782.0,
 'retencao': 0.2,
 'id_proposta': 'eb696ad9-8cca-4751-a6ca-736e1a176406'}

In [61]:
err

[]

In [62]:
dfp = pd.concat(fr)

In [64]:
dfp.sort_values("vol_max")

              cnpj   vol_max
0   27057336000147       0.0
0   07513220000168       0.0
0   25086367000109       0.0
0   28003808000141       0.0
0   28789082000114       0.0
0   10671041000163       0.0
0   27074288000103       0.0
0   23030585000279       0.0
0   07633539000127       0.0
0   30948249000194       0.0
0   22926145000150       0.0
0   14427836000181       0.0
0   21828674000159       0.0
0   26278339000148       0.0
0   14760070000152       0.0
0   00874646000106       0.0
0   00874646000360       0.0
0   31962024000155       0.0
0   45028404000121       0.0
0   13349922000150       0.0
0   05766218000175    5500.0
0   07931239000124    5500.0
0   29755593000188    5500.0
0   07874345000113    5500.0
0   11340751000173    6000.0
0   24339290000160    6000.0
0   02595814000141    6000.0
0   29971311000180    6000.0
0   24216232000140    6500.0
0   24554146000147    6500.0
..             ...       ...
0   11020761000121   49500.0
0   17359266000128   51500.0
0   51524486000106   52000.0
0   13962219000113   58500.0
0   21232229000121   61000.0
0   11014236000101   65000.0
0   31526219000152   66500.0
0   20604000000370   67500.0
0   26389228000109   68500.0
0   21128497000106   69000.0
0   30039089000160   71500.0
0   28782540000193   74500.0
0   12158043000189   75500.0
0   31144973000128   80000.0
0   26203624000108   81000.0
0   17235967000155   90000.0
0   50201391000180   95000.0
0   20737475000415   98500.0
0   20737475000334  104500.0
0   04474793000131  106000.0
0   19802600000100  106500.0
0   04293170000162  130500.0
0   06322873000105  135000.0
0   32158295000115  176000.0
0   30720538000131  178000.0
0   20593518000274  194000.0
0   20593518000355  234000.0
0   08992524000118  239500.0
0   20604000000299  330000.0
0   24156992000109  416000.0

[218 rows x 2 columns]

In [98]:
dfp[dfp["vol_max"]>0].to_excel("trava.xlsx")

In [100]:
dfp.head()

             cnpj  vol_max
0  00150714000186   9000.0
0  00686810000143  24500.0
0  00874646000289   6000.0
0  00874646000360   6000.0
0  00874646000440   5500.0

In [133]:
dfp[dfp["cnpj"]=='20737475000415']

             cnpj  vol_max
0  20737475000415  98500.0

In [65]:
sem_proposta = dfp[dfp["vol_max"]==0]["cnpj"].tolist()

In [66]:
sem_proposta.__len__()

20

In [67]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_justa set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [68]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_justa set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [69]:
df_aprov = dfp[dfp["vol_max"]>0]

In [71]:
df_aprov.shape

(198, 2)

In [72]:
dfop = pd.read_excel("analise_justa_final.xlsx")

In [74]:
dfop.head()

,cnpj,score,proposta_max,vol_escolhido,valor_credito,tipo_proposta,tx_ret,devido,flag_trava,total_cheques,total_dividas,base
0,1246934000170,670,31500,18000,18540,min,0.160000,20328,1,0,0,Grupo complemento
1,1246934000170,670,31500,18000,18540,inter,0.124913,21023,1,0,0,Grupo complemento
2,1246934000170,670,31500,18000,18540,max,0.089827,21718,1,0,0,Grupo complemento
3,4643766000145,774,20500,15000,15450,min,0.160000,17182,1,0,0,Grupo complemento
4,4643766000145,774,20500,15000,15450,inter,0.136987,17545,1,0,0,Grupo complemento

In [75]:
dfop["cnpj"] = dfop["cnpj"].astype(str)

In [76]:
dfop["cnpj"] = dfop.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                          ("00" + x["cnpj"] if len(x['cnpj'])==12 else x["cnpj"]), axis=1)

In [77]:
lista_op = dfop["cnpj"].unique().tolist()

In [78]:
df_aprov.shape

(198, 2)

In [79]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(lista_op)]

In [80]:
df_aprov.head()

             cnpj  vol_max
0  00150714000186  10500.0
0  00686810000143  26000.0
0  00934773000145  44000.0
0  01242387000155  25000.0
0  01760044000182  28500.0

In [81]:
df_aprov.shape

(181, 2)

In [136]:
dftrava = pd.read_excel("consulta_trava_justa_20190612.xlsx")

In [138]:
dftrava["cnpj"].iloc[0]

150714000186

In [139]:
dftrava["cnpj"] = dftrava["cnpj"].astype(str)

In [144]:
dftrava[dftrava.index==84]["cnpj"].iloc[0]

'1242387000155'

In [145]:
dftrava["cnpj"] = dftrava.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                                ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [153]:
dftrava[dftrava["cnpj"]=='04943517000175']

               cnpj      bandeira trava dataConsulta
252  04943517000175          VISA     N   2019-06-12
253  04943517000175        MASTER     N   2019-06-12
254  04943517000175      BANESTES     N   2019-06-12
255  04943517000175    CREDSYSTEM     N   2019-06-12
256  04943517000175     VERDECARD     N   2019-06-12
257  04943517000175      SOROCRED     N   2019-06-12
258  04943517000175       SICREDI     N   2019-06-12
259  04943517000175         CREDZ     N   2019-06-12
260  04943517000175         CABAL     N   2019-06-12
261  04943517000175  BANRICOMPRAS     N   2019-06-12
262  04943517000175        BANESE     N   2019-06-12
263  04943517000175     HIPERCARD     N   2019-06-12
264  04943517000175           ELO     N   2019-06-12
265  04943517000175        DINERS     N   2019-06-12

In [150]:
fr = []
for el in dftrava["cnpj"].unique().tolist():
    dt = dftrava[dftrava['cnpj']==el]
    lista_trava = dt['trava'].tolist()
    flag_trava = 'S' if 'S' in lista_trava else 'N'
    fr.append(pd.DataFrame({'cnpj' : [el], 'flag_trava' : [flag_trava]}))

In [155]:
resp = pd.concat(fr)

In [158]:
df_aprov.shape

(160, 2)

In [162]:
ret = df_aprov.merge(resp, left_on='cnpj', right_on='cnpj', how='left')

In [164]:
ret[ret["cnpj"].isin(["30589990000106", "30589922000106", "30589922000147"])]

               cnpj  vol_max flag_trava
139  30589922000147  13000.0          N
140  30589990000106   6000.0          N

In [166]:
ret.to_excel("pre_analise_justa_201906.xlsx")

In [128]:
final["flag_pricing"] = final.apply(lambda x : 0 if x["cnpj"] in sem_proposta else 1, axis=1)

In [117]:
final[final["flag_pricing"]==0].head()

KeyError: 'flag_pricing'

In [96]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
flag_aprovacao,,,,,,,,
0,1620,1620,1620,1620,1620,1620,153,1620
1,218,218,218,218,218,218,218,218

In [104]:
final["flag_proposta"] = final.apply(lambda x : int(x["cnpj"] not in sem_proposta) if x["flag_aprovacao"]==1 else None, axis=1)

In [102]:
final.drop(columns=['flag_consulta'], axis=1, inplace=True)

In [106]:
final["produto"] = "justa"

In [108]:
final["data_atualizacao"] = datetime.now().date()

In [110]:
final["flag_aprovacao2"] = final.apply(lambda x : x["flag_aprovacao"] if x["flag_proposta"]==1 else 0, axis=1)

In [112]:
final.drop(columns=["historico", "flag_aprovacao"], axis=1, inplace=True)

In [113]:
final.rename(columns={"flag_aprovacao2" : "flag_aprovacao"}, inplace=True)

In [115]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,data_consulta,flag_proposta,produto,data_atualizacao,flag_aprovacao
0,00121514000103,0,0,1,1,None,NaN,justa,2019-07-04,0
0,00147048000127,0,1,0,1,2019-05-21,NaN,justa,2019-07-04,0
0,00147569000184,0,0,1,1,None,NaN,justa,2019-07-04,0
0,00150714000186,1,1,1,1,2019-05-31,1.0,justa,2019-07-04,1
0,00160703000187,0,1,1,1,None,NaN,justa,2019-07-04,0

In [116]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
final.to_sql("pre_analise", schema='varejo', con=con, if_exists='append', index=False)
con.close()

In [86]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='JUSTA' and status!='QUITADA'", con)
con.close()

In [87]:
df_aprov.shape

(181, 2)

In [88]:
dfacomp

             cnpj produto
0  20593518000355   JUSTA
1  20737475000334   JUSTA
2  20737475000415   JUSTA
3  20604000000299   JUSTA
4  20604000000370   JUSTA
5  20593518000274   JUSTA
6  24554146000147   JUSTA
7  26884792000106   JUSTA
8  05336959000116   JUSTA
9  04474793000131   JUSTA

In [89]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [90]:
df_aprov.shape

(179, 2)

In [92]:
df_aprov.head()

             cnpj  vol_max
0  00150714000186  10500.0
0  00686810000143  26000.0
0  00934773000145  44000.0
0  01242387000155  25000.0
0  01760044000182  28500.0

In [94]:
df_aprov.to_excel("pre_aprovados_justa_20190704.xlsx")

In [127]:
cnpj = "00150714000186"
produto = "justa"
def get_score(cnpj, produto):
    url = "https://api.pricing.captalys.io/models/scoring/{}/{}".format(cnpj, produto)
    req = requests.get(url)
    return req.json().get("score")

In [128]:
get_score(cnpj, produto)

686

In [130]:
df_aprov["score"] = df_aprov.apply(lambda x : get_score(x["cnpj"], "justa"), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [141]:
el = "00150714000186"
produto = "justa"
def get_fat_medio(cnpj, produto):
    ce = CriteriosElegibilidade(cnpj=cnpj, produto=produto)
    ce.get_dados()
    return np.around(ce.dados["valor"].mean(), 2)

In [142]:
df_aprov["fat_medio"] = df_aprov.apply(lambda x : get_fat_medio(x["cnpj"], "justa"), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [144]:
df_aprov["produto"] = "Justa"
df_aprov["modelo"] = "PricingPadrao"
df_aprov.rename(columns={'vol_max' : 'proposta_max'}, inplace=True)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/lidi/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [146]:
df_aprov["data_posicao"] = datetime.now().date()

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [148]:
df_aprov.shape

(179, 7)

In [150]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df_aprov.to_sql("propostas_mensais", schema="varejo", con=con, if_exists='append', index=False)

In [152]:
con.close()