In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cnpj from fluxo_wirecard", con)
con.close()

In [4]:
df["flag_cnpj"] = df.apply(lambda x : int(len(x["cnpj"])==14), axis=1)

In [7]:
df = df[df['flag_cnpj']==1]

In [11]:
df.head()

             cnpj  flag_cnpj
0  00018460000147          1
1  00021311000560          1
2  00099977000108          1
3  00195664000153          1
4  00240629000109          1

In [12]:
lista_cnpj = df["cnpj"].tolist()

In [2]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

class PreAnalysis(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor_liquido as valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    @staticmethod
    def mensaliza(df):
        df.index = pd.to_datetime(df.data)
        df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        return
    
    def check_transacoes(self):
        try:
            df = self.dados[["data", "numero_transacoes"]]
            df = self.mensaliza(df)
            df = df.iloc[:12, :]
            media_transacoes = df["numero_transacoes"].mean()
            flag_transacoes = int(media_transacoes > 12)
            self.flag_transacoes = flag_transacoes
        except:
            self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=1.5)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [11]:
pa = PreAnalysis("12148895000195", "wirecard")

In [12]:
pa.get_dados()

In [13]:
pa.dados

          data     valor  numero_transacoes
0   2017-06-01  34625.90               84.0
1   2017-07-01  30856.40               62.0
2   2017-08-01  21594.90               40.0
3   2017-09-01  18358.30               22.0
4   2017-10-01   4877.96               17.0
5   2017-11-01  18407.70               37.0
6   2017-12-01  11319.60               21.0
7   2018-01-01  10749.70               29.0
8   2018-02-01  13268.00               30.0
9   2018-03-01   9906.95               20.0
10  2018-04-01  12688.40               29.0
11  2018-05-01  31739.30               71.0
12  2018-06-01  38691.50               84.0
13  2018-07-01  22159.60               45.0
14  2018-08-01  21766.20               47.0
15  2018-09-01  16884.30               35.0
16  2018-10-01  13022.10               29.0
17  2018-11-01  20182.50               48.0
18  2018-12-01  10873.10               26.0
19  2019-01-01  13815.90               33.0
20  2019-02-01  25167.10               55.0
21  2019-03-01  15690.10               33.0
22  2019-04-01  29627.20               59.0
23  2019-05-01  42294.40               87.0

In [37]:
resp = []
err = []
for el in lista_cnpj:
    try:
        pa = PreAnalysis(cnpj=el, produto='wirecard')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err.append(el)

In [38]:
err.__len__()

155

In [39]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select * from fluxo_wirecard where cnpj in {}".format(tuple(err)), con)
con.close()

In [40]:
df["valor"].sum()

0

In [42]:
final = pd.concat(resp)

In [44]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [46]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [49]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0, 1]

In [51]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
0,12709169000102,1,1,1,1,24,None,1

In [52]:
el = "12709169000102"
pa = PreAnalysis(cnpj=el, produto='wirecard')
pa.analisa()
_df = pd.DataFrame()
_df["cnpj"] = [el]
_df["flag_faturamento"] = [pa.flag_faturamento]
_df["flag_transacoes"] = [pa.flag_transacoes]
_df["flag_cheques"] = [pa.flag_cheques]
_df["flag_dividas"] = [pa.flag_dividas]
_df["historico"] = [len(pa.dados)]
_df["data_consulta"] = [pa.data_consulta]

In [54]:
_df["data_consulta"] = _df.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [56]:
_df["flag_consulta"] = 0

In [58]:
final = final[final["cnpj"]!='12709169000102']

In [60]:
final = pd.concat([final, _df])

In [62]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_transacoes"]*final["flag_cheques"]*final["flag_dividas"]

In [64]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
flag_aprovacao,,,,,,,,
0,344,344,344,344,344,344,217,344
1,708,708,708,708,708,708,708,708

In [66]:
final.shape

(1052, 9)

In [67]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao
0,00018460000147,1,1,1,1,24,2019-01-04,0,1
0,00021311000560,1,1,1,0,14,2019-06-11,0,0
0,00099977000108,0,1,1,1,10,None,1,0
0,00195664000153,1,1,1,1,15,2019-01-07,0,1
0,00240629000109,1,1,1,1,24,2019-06-10,0,1

In [68]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_wirecard set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [69]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_wirecard set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [78]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"]

In [79]:
lista_pricing.__len__()

708

In [1]:
from tqdm import tqdm_notebook
import requests

In [26]:
_df = pd.read_excel("pre_analise_wirecard_201906.xlsx")

In [27]:
_df["cnpj"] = _df["cnpj"].astype(str)

In [28]:
_df["cnpj"] = _df.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                        ("0" + x["cnpj"] if len(x["cnpj"])==13 else "000" + x["cnpj"] if len(x["cnpj"])==11 else x["cnpj"]), axis=1)

In [30]:
_df.head()

             cnpj  vol_max
0  00018460000147     8000
0  00195664000153     7500
0  00240629000109     8000
0  00272073000302   152500
0  00467109000133     6500

In [31]:
lista_pricing = _df["cnpj"].tolist()

In [7]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "wirecard"}

fr = []
for el in ['21126119000185']:
    print(el)
    pa = PreAnalysis(cnpj=el, produto='wirecard')
    pa.get_dados()
    dff = pa.dados

    dff['adquirentes'] = "moip"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : str(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

21126119000185

In [8]:
fr[0]

             cnpj   vol_max
0  21126119000185  161500.0

In [6]:
import requests

In [34]:
dfp = pd.concat(fr)

In [36]:
dfp.shape

(652, 2)

In [45]:
dfp.to_excel("propostas_wirecard_volume_liquido.xlsx")

In [46]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
db = pd.read_sql("select distinct cnpj, tipo_base from fluxo_wirecard", con)
con.close()

In [40]:
db.shape

(1219, 2)

In [41]:
dfp.shape

(652, 2)

In [44]:
dfp = dfp.merge(db, left_on='cnpj', right_on='cnpj', how='left')

In [49]:
dfp[dfp["cnpj"]=='04167283000383']

              cnpj  vol_max      tipo_base
36  04167283000383      NaN  customer_care

In [75]:
el = '16613061000164'
pa = PreAnalysis(cnpj=el, produto='wirecard')
pa.get_dados()
dff = pa.dados

dff['adquirentes'] = "moip"
fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
dff.dropna(inplace=True)

fluxos = dict()
for adq in dff['adquirentes'].unique().tolist():
    dt = dff[dff['adquirentes']==adq]
    dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
    fluxos[adq] = dt[['data', 'valor']].to_dict("records")


body = {
"fluxos" : fluxos,
"cnpj" : str(el),
"cnae" : "4744-0",
"volume_escolhido" : 0.5*fat_medio
}

req = requests.post(url, headers=header, json=body)

js = req.json()

In [76]:
js

[]

In [86]:
sem_proposta = dfp[dfp["vol_max"]==0]["cnpj"].tolist()

In [87]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_wirecard set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [88]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_wirecard set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [91]:
df_aprov = dfp[dfp["vol_max"]>0]

In [100]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='WIRECARD' and status!='QUITADA'", con)
con.close()

In [103]:
df_aprov.shape

(664, 2)

In [111]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [113]:
df_aprov.shape

(652, 2)

In [114]:
df_aprov.to_excel("pre_analise_wirecard_201906.xlsx")

In [115]:
df_aprov

              cnpj    vol_max
0   00018460000147     8000.0
0   00195664000153     7500.0
0   00240629000109     8000.0
0   00272073000302   152500.0
0   00467109000133     6500.0
0   00548620000160    34500.0
0   00566262000118    21000.0
0   00570256000134   217000.0
0   00626948000157    32000.0
0   00986814000147     7500.0
0   01056417000139    19000.0
0   01184310000176     5500.0
0   01337552000152    27000.0
0   01344128000135    20500.0
0   01564112000138    10500.0
0   01799108000159    28500.0
0   01863881000137    15500.0
0   01879689000139    11000.0
0   01937526000165    45500.0
0   02092758000122     6000.0
0   02319380000408     8000.0
0   02392887000136    19500.0
0   02800667000102     9000.0
0   02801076000141     5500.0
0   03070616000127     5500.0
0   03241334000145    67000.0
0   03241608000104     9500.0
0   03252315000114    29000.0
0   03347828000109    14000.0
0   03378624000135   121500.0
..             ...        ...
0   58028838000173    76500.0
0   59708412000638    15500.0
0   60877859000105    26500.0
0   61328811000100    10500.0
0   61904306000167    27500.0
0   61933404000122    21500.0
0   65868747000101    23000.0
0   66019266000194     7500.0
0   70176664000191    11000.0
0   71673990000177  2500000.0
0   71728778000160    44500.0
0   71834089000130    75000.0
0   72178353000197    14000.0
0   72559297000130    20000.0
0   74645169000135    37000.0
0   75064261000174    68000.0
0   78997095000157    18000.0
0   80189772000152    57500.0
0   81043085000197     8000.0
0   90005307000178   272000.0
0   90146747000145    15500.0
0   90406117000162    26500.0
0   90432717000103    72000.0
0   90539453000183    28500.0
0   92666056000106    18000.0
0   92785047000126    22000.0
0   93886505000186    42500.0
0   96364815000129    14000.0
0   97117477000193     7500.0
0   97548453000199    12500.0

[652 rows x 2 columns]