In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cpf_cnpj as cnpj from fluxo_pv", con)
con.close()

In [3]:
df.head()

                 cnpj
0  00.000.000/0001-91
1  00.020.674/0001-58
2  00.066.987/0001-47
3  00.092.324/0001-05
4  00.107.079/0001-54

In [4]:
df = df.iloc[1:, :]

In [5]:
df["cnpj"].iloc[0]

'00.020.674/0001-58'

In [6]:
df.head()

                 cnpj
1  00.020.674/0001-58
2  00.066.987/0001-47
3  00.092.324/0001-05
4  00.107.079/0001-54
5  00.133.584/0001-73

In [7]:
df["flag_cnpj"] = df.apply(lambda x : int(len(x["cnpj"])==18), axis=1)

In [8]:
df.head()

                 cnpj  flag_cnpj
1  00.020.674/0001-58          1
2  00.066.987/0001-47          1
3  00.092.324/0001-05          1
4  00.107.079/0001-54          1
5  00.133.584/0001-73          1

In [9]:
lista_cpf = df[df['flag_cnpj']==0]["cnpj"].unique().tolist()

In [10]:
lista_cpf.__len__()

1877

In [11]:
df.shape

(4337, 2)

In [12]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in lista_cpf:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(el))
con.close()

In [13]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in lista_cpf:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(el))
con.close()

In [9]:
df = df[df['flag_cnpj']==1]

In [10]:
df.head()

                 cnpj  flag_cnpj
1  00.020.674/0001-58          1
2  00.066.987/0001-47          1
3  00.092.324/0001-05          1
4  00.107.079/0001-54          1
5  00.133.584/0001-73          1

In [11]:
df.shape

(2460, 2)

In [12]:
lista_cnpj = df["cnpj"].tolist()

In [13]:
lista_cnpj.__len__()

2460

In [14]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

class PreAnalysis(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    @staticmethod
    def mensaliza(df):
        df.index = pd.to_datetime(df.data)
        df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        return df
    
    def check_faturamento(self):
        df = self.dados[["data", "valor", "valor_boleto"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        try:
            df = self.dados[["data", "numero_transacoes"]]
            df = self.mensaliza(df)
            df = df.iloc[:12, :]
            media_transacoes = df["numero_transacoes"].mean()
            flag_transacoes = int(media_transacoes > 12)
            self.flag_transacoes = flag_transacoes
        except:
            self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=1.5)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [15]:
lista_cnpj = [el.replace(".", "").replace("-", "").replace("/", "") for el in lista_cnpj]

In [16]:
from tqdm import tqdm_notebook

In [18]:
el = lista_cnpj[0]

In [19]:
el

'00020674000158'

In [21]:
pa = PreAnalysis(cnpj=el, produto='pagueveloz')
pa.analisa()
_df = pd.DataFrame()
_df["cnpj"] = [el]
_df["flag_faturamento"] = [pa.flag_faturamento]
_df["flag_transacoes"] = [pa.flag_transacoes]
_df["flag_cheques"] = [pa.flag_cheques]
_df["flag_dividas"] = [pa.flag_dividas]
_df["historico"] = [len(pa.dados)]
_df["prop_boleto"] = [pa.prop_boleto]
_df["data_consulta"] = [pa.data_consulta]

In [22]:
_df

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta
0,00020674000158,0,1,1,1,22,0.0,2019-01-17 13:38:43

In [23]:
lista_cnpj.__len__()

2460

In [24]:
resp = []
err = []
for el in tqdm_notebook(lista_cnpj):
    try:
        pa = PreAnalysis(cnpj=el, produto='pagueveloz')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["prop_boleto"] = [pa.prop_boleto]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        print('ERROR')
        err.append(el)

HBox(children=(IntProgress(value=0, max=2460), HTML(value='')))

ERROR
ERROR
ERROR
ERROR
ERROR

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:71: RuntimeWarning: invalid value encountered in double_scalars

ERROR
ERROR
ERROR
ERROR

In [25]:
err.__len__()

9

In [69]:
formata_cnpj('06057209000178')

'06.057.209/0001-78'

In [27]:
err = [el.replace(',', '').replace('\\', '') for el in err]

In [26]:
err

['03,321089000186',
 '06057209000178',
 '07,873869000190',
 '09,261663000134',
 '10245492000139',
 '26,702316000119',
 '50096460000133',
 '61353025\\000163',
 '78275211000124']

In [28]:
err2 = []
for el in err:
    try:
        pa = PreAnalysis(cnpj=el, produto='pagueveloz')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el.replace('.', '').replace('-', '').replace('/', '')]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df['prop_boleto'] = [pa.prop_boleto]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err2.append(el)

In [29]:
err2

['06057209000178', '10245492000139', '78275211000124']

In [86]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in err2:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(el))
con.close()

In [88]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in err2:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(el))
con.close()

In [30]:
final = pd.concat(resp)

In [31]:
final.shape

(2457, 8)

In [32]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta
0,00020674000158,0,1,1,1,22,0.0,2019-01-17 13:38:43
0,00066987000147,1,1,1,1,21,0.0,2019-04-04 00:57:37
0,00092324000105,0,1,1,1,4,0.0,None
0,00107079000154,0,1,1,1,1,1.0,None
0,00133584000173,0,1,1,1,1,0.0,None

In [33]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [34]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [35]:
final[(final["flag_consulta"]==1)]["flag_faturamento"].unique().tolist()

[0]

In [96]:
final[(final['flag_consulta']==1) & (final["flag_faturamento"]==1)].to_excel('atualizar_divida_pv.xlsx')

In [81]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0]

In [36]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]["cnpj"].unique().tolist()

[]

In [37]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta
0,00020674000158,0,1,1,1,22,0.0,2019-01-17,0
0,00066987000147,1,1,1,1,21,0.0,2019-04-04,0
0,00092324000105,0,1,1,1,4,0.0,None,1
0,00107079000154,0,1,1,1,1,1.0,None,1
0,00133584000173,0,1,1,1,1,0.0,None,1

In [38]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_transacoes"]*final["flag_cheques"]*final["flag_dividas"]

In [39]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta
flag_aprovacao,,,,,,,,,
0,1690,1690,1690,1690,1690,1690,1688,508,1690
1,767,767,767,767,767,767,767,767,767

In [40]:
final.shape

(2457, 10)

In [41]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta,flag_aprovacao
0,00020674000158,0,1,1,1,22,0.0,2019-01-17,0,0
0,00066987000147,1,1,1,1,21,0.0,2019-04-04,0,1
0,00092324000105,0,1,1,1,4,0.0,None,1,0
0,00107079000154,0,1,1,1,1,1.0,None,1,0
0,00133584000173,0,1,1,1,1,0.0,None,1,0

In [42]:
lista = ["18213473000132", "26221576000172", "22801397000153"]

In [59]:
final[final["cnpj"].isin(lista)]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta,flag_aprovacao
0,18213473000132,1,1,0,1,37,0.000000,2019-04-03,0,0
0,22801397000153,1,1,1,1,20,0.004351,2019-04-04,0,1
0,26221576000172,0,1,1,1,1,0.000000,None,1,0

In [60]:
final["doc"] = final.apply(lambda x : formata_cnpj(x["cnpj"]), axis=1)

In [62]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,prop_boleto,data_consulta,flag_consulta,flag_aprovacao,doc
0,00020674000158,0,1,1,1,22,0.0,2019-01-17,0,0,00.020.674/0001-58
0,00066987000147,1,1,1,1,21,0.0,2019-04-04,0,1,00.066.987/0001-47
0,00092324000105,0,1,1,1,4,0.0,None,1,0,00.092.324/0001-05
0,00107079000154,0,1,1,1,1,1.0,None,1,0,00.107.079/0001-54
0,00133584000173,0,1,1,1,1,0.0,None,1,0,00.133.584/0001-73

In [64]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["doc"].unique().tolist():
    dt = final[final["doc"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_pv set flag_aprovacao={} where cpf_cnpj='{}'".format(flag, el))
con.close()

In [65]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["doc"].unique().tolist():
    dt = final[final["doc"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_pv set flag_aprovacao={} where cpf_cnpj='{}'".format(flag, el))
con.close()

In [71]:
final.fillna({'prop_boleto' : 0}, inplace=True)

In [72]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in final['doc'].unique().tolist():
    prop = final[final['doc']==el]['prop_boleto'].iloc[0]
    con.execute("update fluxo_pv set prop_boleto={} where cpf_cnpj='{}'".format(prop, el))
con.close()

In [73]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in final['doc'].unique().tolist():
    prop = final[final['doc']==el]['prop_boleto'].iloc[0]
    con.execute("update fluxo_pv set prop_boleto={} where cpf_cnpj='{}'".format(prop, el))
con.close()

In [74]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"]

In [75]:
lista_pricing.__len__()

767

In [76]:
from tqdm import tqdm_notebook
import requests

In [80]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "pague-veloz"}

fr = []
for el in tqdm_notebook(lista_pricing):
    print(el)
    pa = PreAnalysis(cnpj=el, produto='pagueveloz')
    pa.get_dados()
    dff = pa.dados

    dff['adquirentes'] = "pagueveloz"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : formata_cnpj(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=767), HTML(value='')))

00066987000147
00225356000123
00354700000184
00549449000103
00560279000168
00575851000162
00580311000177
00661205000118
00852832000136
00996254000101
01024429000181
01120265000196
01269830000181
01290290000118
01344355000160
01493450000126
01509450000177
01537034000182
01591832000192
01616681000180
01634565000193
01647671000101
01684239000190
01783665000181
01807002000150
01828181000101
01835431000130
01910509000134
02044999000104
02057880000168
02093831000180
02099195000102
02149619000198
02180051000178
02180051000330
02219631000121
02234090000100
02271571000196
02291039000130
02311053000159
02331820000191
02356781000187
02361751000169
02365669000102
02407907000103
02459813000170
02515556000146
02536487000157
02555562000127
02619488000165
02690699000194
02706480000136
02717802000142
02758117000164
02775132000110
02806124000194
02847264000100
02853999000147
02862111000132
02901762000194
02907315000142
02929277000129
02959636000190
02968119000188
03029625000174
03048703000188
03111629000105
03212895000116
03334511000138
03445621000177
03520272000100
03524866000190
03583976000122
03622270000122
03629768000117
03769226000140
03797507000106
03858821000151
03864752000199
03878115000171
03878115000252
03878115000333
03878115000414
04003056000150
04185899000115
04203825000164
04223676000103
04242635000156
04304063000192
04344583000129
04345514000130
04351894000115
04371602000106
04382105000103
04382105000537
04385523000154
04413889000190
04502557000181
04509695000192
04634050000181
04653971000191
04672893000172
04788889000174
04800446000151
04826584000100
04836095000139
04856469000188
04887488000171
04920048000179
04925299000146
05011415000184
05069882000165
05121187000103
05242059000100
05285011000189
05294532000100
05308965000160
05337303000118
05346557000100
05405385000190
05448338000124
05458709000159
05467070000178
05480267000147
05484901000110
05511410000110
05546488000170
05670741000101
05698827000134
05702753000162
05735828000101
05772780000101
05788027000104
05791147000160
05848412000108
05863143000140
06044725000168
06072332000168
06099299000160
06102005000101
06115517000102
06130071000195
06133056000109
06147576000162
06168064000182
06249832000122
06302334000104
06888623000129
06894439000191
06947174000142
06962826000118
07025740000121
07032282000158
07166824000185
07173574000100
07180710000190
07188843000102
07230959000162
07255126000156
07256194000130
07263836000128
07274536000144
07289629000142
07289823000128
07291589000173
07295481000159
07303729000186
07310111000143
07311296000100
07318897000145
07320665000121
07351670000100
07351876000121
07361426000110
07373703000104
07376813000120
07377320000104
07400623000109
07403987000134
07408298000112
07436882000181
07439030000148
07443564000148
07444457000134
07445978000106
07446217000179
07449319000148
07467704000118
07469625000146
07469817000152
07486544000154
07521295000190
07540836000128
07573134000140
07585962000107
07598278000151
07614160000170
07619058000167
07625891000110
07636338000183
07658320000182
07677806000168
07683117000166
07743546000181
07817149000107
07859138000190
07890391000106
08015312000180
08073263000132
08084027000111
08156240000191
08218362000165
08233974000127
08307938000160
08310428000142
08312694000104
08354536000117
08469067000181
08533461000131
08580176000171
08627493000104
08628706000104
08722896000124
08729861000117
08745480000121
08756051000150
08820111000156
08834664000168
08861200000140
08887253000130
08890156000105
08900364000130
08907940000170
08917146000108
08950900000101
08958003000144
08959472000188
08965960000106
08976005000166
09018919000187
09081841000145
09089601000197
09114355000186
09125814000127
09127618000191
09130013000150
09141123000117
09153351000107
09255797000142
09261663000134
09290133000114
09396386000177
09396386000258
09414811000103
09458889000120
09460294000109
09469548000150
09509699000194
09515678000181
09567988000140
09600924000101
09604888000146
09623101000193
10013862000102
10144124000102
10176364000180
10190517000144
10306164000103
10321356000180
10394263000186
10397688000149
10399669000151
10420684000134
10426676000103
10479652000104
10500475000109
10573767000163
10582356000134
10616580000108
10632331000106
10658234000184
10673519000194
10676838000153
10698191000160
10713769000100
10731631000134
10797732000108
10799181000111
10843764000100
10887439000131
10939654000139
10971156000173
10988295000100
11007805000183
11009888000140
11091767000190
11117460000110
11176465000114
11210526000112
11266581000124
11274114000146
11302012000197
11403499000102
11408144000106
11419373000118
11495073000118
11519514000174
11582055000173
11583254000104
11610479000102
11663862000110
11775338000131
11806430000111
11823821000144
11828393000142
12015399000163
12298912000170
12340256000127
12378153000156
12506463000109
12509537000160
12509652000135
12608653000137
12611040000159
12731909000107
12785311000192
12805683000133
12811194000194
12846205000171
12940726000193
12947989000124
12955882000128
13000568000154
13093473000122
13096124000164
13102466000140
13226442000283
13231036000128
13248952000170
13397023000123
13580955000107
13592757000163
13637885000186
13780172000177
13919916000191
14087798000165
14101624000100
14137919000136
14170579000145
14181889000165
14281765000151
14307764000139
14372162000165
14372258000123
14372359000102
14372562000170
14372649000148
14373103000101
14373283000121
14447242000302
14516550000172
14544703000195
14584898000105
14680777000159
14714601000170
14727921000165
14746726000182
14759012000109
14813697000124
14823640000106
14826455000175
14826511000171
14842180000163
14920634000177
14980357000198
15123715000109
15124219000170
15124600000139
15124630000145
15127441000126
15206414000149
15277038000183
15346291000141
15355211000114
15523647000175
15536502000109
15576591000117
15631691000107
15684485000157
15711925000118
15840885000104
16483140000106
16566910000176
16626484000119
16743037000140
16898962000140
16927221000140
16996436000112
17035453000156
17044726000129
17095617000130
17245245000181
17302519000127
17313295000159
17359266000128
17392643000120
17453326000177
17456726000136
17517521000113
17523729000145
17555254000179
17637022000160
17651859000163
17726110000138
17811608000107
17830079000180
18330432000126
18352842000178
18562982000170
18580360000175
18613114000172
18641576000101
18642908000164
18663514000192
18779685000181
18783353000170
18836786000147
18874077000156
18917920000134
19230191000106
19289844000122
19383275000180
19428740000151
19439974000102
19444372000135
19790945000182
19886537000129
19900864000198
19917456000149
19924310000120
19939653000169
19955230000132
20001525000159
20017598000139
20114908000133
20167317000124
20167826000157
20214933000199
20354887000123
20383676000119
20459310000186
20461317000132
20543802000155
20672012000170
20688143000145
20693824000100
20694842000106
20757542000110
20969610000105
21020634000186
21048937000107
21075837000170
21133042000170
21140542000130
21144450000128
21262793000197
21295614000118
21406071000169
21434042000100
21446591000103
21565358000131
21685068000121
21686580000192
21747326000157
21934193000128
22011287000198
22072809000161
22096609000149
22163072000192
22206045000150
22245974000178
22248860000181
22278578000147
22517594000145
22546056000189
22568391000188
22692153000180
22697828000183
22801397000153
22889177000123
22908954000130
22940527000139
22957838000100
22968600000180
22996925000177
23095757000101
23140084000164
23217244000126
23301509000170
23389850000129
23427843000174
23525563000107
23826103000100
23864988000132
23866038000147
23993602000192
24139456000103
24187337000118
24188497000181
24208286000163
24247971000107
24261015000171
24304812000199
24482979000140
24502202000108
24547876000110
24625979000151
24695524000102
24726347000184
24735910000180
24781406000117
24815349000140
24936037000194
24954564000121
25004421000111
25006074000166
25118355000100
25138664000142
25198959000104
25214500000157
25248376000140
25311847000118
25358802000107
25402862000171
25402862000252
25402862000333
26020992000102
26055369000195
26117758000106
26196219000100
26203364000162
26226459000100
26232310000125
26236169000139
26278224000153
26314983000124
26375321000164

26393187000124
26542333000136
26574421000110
26602550000174
26644632000181
26666333000148
26786720000118
26789018000108
26833772000106
26846725000199
26888493000131
27068951000159
27090358000109
27115602000140
27189308000183
27206222000111
27206279000110
27242352000100
27272520000100
27312774000104
27337588000120
27345675000129
27390223000169
27391245000143
27414984000103
27415795000155
27421286000135
27425340000110
27428415000117
27473920000183
27491271000143
27514258000162
27514928000140
27524117000120
27540714000149
27553326000100
27566350000176
27629582000126
27691954000144
27749607000125
27749645000188
27749718000131
27749793000100
27749861000123
27802434000161
27821940000106
27851501000138
27870733000133
27976573000101
28024336000103
28162480000106
28211284000184
28251480000182
28281792000139
28326531000198
28330968000103
28348136000106
28358481000120
28377392000121
28396262000136
28419715000100
28501709000190
28527617000189
28557520000119
28705516000150
28706136000130
28716773000198
28728145000122
28858795000192
28859530000109
28998182000150
29000091000147
29014978000194
29038664000121
29061727000160
29063428000165
29067944000168
29110805000170
29119330000344
29255245000141
29261180000147
29323608000139
29368356000164
29385482000127
29485129000119
29558097000134
29574583000146
29638259000144
29791055000149
29831037000143
29912391000100
29960189000146
30024168000106
30056945000196
30103301000101
30192966000139
30193075000105
30210460000105
30245207000197
30271206000117
30423486000131
30424437000113
30446052000157
30537164000113
30659402000163
30721558000127
30750669000161
30791367000131
30815523000157
30898048000120
30913849000117
30940697000141
30968166000167
30981695000109
31088411000104
31160683000178
31258465000170
31403299000159
31427601000109
31497011000152
31671574000115
31956991000104
31986228000126
32026733000191
32107235000173
32121906000150
37322146000163
38893160000180
43079292000102
44846210000170
45246766000199
45949138000170
46179305000103
46956850000169
47257605000126
47263413000122
47952825000170
49773054000189
49775349000194
49912181000111
50960541000130
51282341000138
51302982000107
51689578000138
51905206000100
52842093000103
53244075000184
53368478000135
54352166000104
54637558000101
54676341000100
55057392000117
55482210000155
55751945000137
55806046000194
55816953000114
55901110000116
56228505000162
56685456000197
57273526000162
57295297000187
57784415000110
58921719000145
59015339000104
59027276000106
59583781000137
59649392000167
61727053000101
62623848000124
62730700000199
62760343000101
63321772000145
65698722000107
65727497000190
66556317000117
66894544000152
67235838000135
68022730000127
68178235000101
69095586000111
69245405000277
71860498000100
72442098000148
72929581000151
73204695000105
73233850000103
73243461000169
74426602000141
76327030000179
76373141000111
78255882000123
78497146000181
78653763000129
78976842000170
79254603000170
79401410000102
79498523000160
79829438000137
79852117000153
79927778000109
79946646000116
80163868000141
81011991000100
81033045000164
81291965000182
81328080000100
81336398000133
81345613000162
81576472000199
81780819000110
81793069000111
82716077000127
83181354000107
83482489000102
83535385000119
83715763000146
85193449000176
85385425000119
95087979000193
09261663000134

In [84]:
el = '79829438000137'
pa = PreAnalysis(cnpj=el, produto='pagueveloz')
pa.get_dados()
dff = pa.dados

dff['adquirentes'] = "pagueveloz"
fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
dff.dropna(inplace=True)

fluxos = dict()
for adq in dff['adquirentes'].unique().tolist():
    dt = dff[dff['adquirentes']==adq]
    dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
    fluxos[adq] = dt[['data', 'valor']].to_dict("records")


body = {
"fluxos" : fluxos,
"cnpj" : formata_cnpj(el),
"cnae" : "4744-0",
"volume_escolhido" : 0.5*fat_medio
}

req = requests.post(url, headers=header, json=body)

In [86]:
req.json()

{'valor_minimo': 5000,
 'valor_maximo': 9000.0,
 'propostas': [{'devido': 3995.0,
   'retencao': 0.13999062943311055,
   'id_proposta': 'bf380953-13e9-410e-a5b7-358d0196613e'},
  {'devido': 4216.0,
   'retencao': 0.09965905841840975,
   'id_proposta': '91a710a7-9284-4f05-a49b-976bf8a2f576'},
  {'devido': 4436.0,
   'retencao': 0.05932748740370895,
   'id_proposta': '942b88fb-68b5-420f-8a9e-dc67b93875bc'}]}

In [82]:
dfp = pd.concat(fr)

In [88]:
dt = dfp[dfp['cnpj']=='79829438000137']

In [89]:
dfp = dfp[dfp['cnpj']!='79829438000137']

In [90]:
dt["vol_max"] = 9000

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [92]:
df_pricing = pd.concat([dfp, dt])

In [93]:
df_pricing.shape

(767, 2)

In [94]:
df_pricing.dropna().shape

(760, 2)

In [98]:
df_pricing.fillna(-1, inplace=True)

In [100]:
lista_err = df_pricing[df_pricing["vol_max"]==-1]["cnpj"].tolist()

In [101]:
lista_err

['04382105000537',
 '04925299000146',
 '07263836000128',
 '10616580000108',
 '14759012000109',
 '14842180000163',
 '29485129000119']

In [102]:
df_pricing = df_pricing[df_pricing['vol_max']!=-1]

In [106]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "pague-veloz"}

fr = []
for el in tqdm_notebook(lista_err):
    print(el)
    pa = PreAnalysis(cnpj=el, produto='pagueveloz')
    pa.get_dados()
    dff = pa.dados

    dff['adquirentes'] = "pagueveloz"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : formata_cnpj(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

04382105000537
04925299000146
07263836000128
10616580000108
14759012000109
14842180000163
29485129000119

In [107]:
dt = pd.concat(fr)

In [108]:
dt

             cnpj  vol_max
0  04382105000537   6500.0
0  04925299000146  16000.0
0  07263836000128   6500.0
0  10616580000108  47500.0
0  14759012000109  44000.0
0  14842180000163  21500.0
0  29485129000119  12000.0

In [110]:
df_pricing = pd.concat([df_pricing, dt])

In [111]:
df_pricing.shape

(767, 2)

In [115]:
reprovados_pricing = df_pricing[df_pricing["vol_max"] ==0]

In [117]:
reprovados_pricing.head()

             cnpj  vol_max
0  00066987000147      0.0
0  01290290000118      0.0
0  01493450000126      0.0
0  01684239000190      0.0
0  02219631000121      0.0

In [118]:
sem_proposta = df_pricing[df_pricing["vol_max"]==0]["cnpj"].tolist()

In [123]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(formata_cnpj(el)))
con.close()

In [124]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_pv set flag_aprovacao=0 where cpf_cnpj='{}'".format(formata_cnpj(el)))
con.close()

In [126]:
df_aprov = df_pricing[df_pricing["vol_max"]>0]

In [127]:
df_aprov.shape

(640, 2)

In [128]:
df_aprov

              cnpj   vol_max
0   00225356000123    7500.0
0   00354700000184   62000.0
0   00549449000103   13000.0
0   00560279000168   24500.0
0   00575851000162   60500.0
0   00580311000177   31500.0
0   00661205000118   30000.0
0   00852832000136   14500.0
0   00996254000101   14000.0
0   01024429000181   84000.0
0   01120265000196   43500.0
0   01269830000181   34500.0
0   01344355000160   19500.0
0   01509450000177   38000.0
0   01537034000182    8500.0
0   01591832000192   16000.0
0   01616681000180   10000.0
0   01634565000193   41500.0
0   01647671000101    8000.0
0   01783665000181   15000.0
0   01807002000150    9000.0
0   01828181000101    8500.0
0   01835431000130   21500.0
0   01910509000134   72500.0
0   02044999000104    8000.0
0   02057880000168   29000.0
0   02093831000180   27000.0
0   02099195000102    7500.0
0   02149619000198   11500.0
0   02180051000178   47000.0
..             ...       ...
0   79254603000170    8000.0
0   79401410000102   16500.0
0   79498523000160   21500.0
0   79852117000153   12500.0
0   79927778000109   31500.0
0   79946646000116   12000.0
0   80163868000141  136000.0
0   81011991000100    6500.0
0   81033045000164   22500.0
0   81291965000182   20000.0
0   81328080000100  108000.0
0   81336398000133  189500.0
0   81345613000162   42000.0
0   81576472000199   33000.0
0   81793069000111   15500.0
0   82716077000127   41000.0
0   83181354000107   15000.0
0   83482489000102   36500.0
0   83535385000119   32500.0
0   83715763000146   22000.0
0   85193449000176   40500.0
0   09261663000134    8500.0
0   79829438000137    9000.0
0   04382105000537    6500.0
0   04925299000146   16000.0
0   07263836000128    6500.0
0   10616580000108   47500.0
0   14759012000109   44000.0
0   14842180000163   21500.0
0   29485129000119   12000.0

[640 rows x 2 columns]

In [107]:
dfop = pd.read_excel("analise_justa_final.xlsx")

In [111]:
dfop["cnpj"] = dfop["cnpj"].astype(str)

In [113]:
dfop["cnpj"] = dfop.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                          ("00" + x["cnpj"] if len(x['cnpj'])==12 else x["cnpj"]), axis=1)

In [115]:
lista_op = dfop["cnpj"].unique().tolist()

In [116]:
df_aprov.shape

(178, 2)

In [122]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(lista_op)]

In [126]:
df_aprov.head()

             cnpj  vol_max
0  00150714000186   9000.0
0  00686810000143  24500.0
0  00874646000289   6000.0
0  00874646000360   6000.0
0  00874646000440   5500.0

In [135]:
df_aprov.shape

(160, 2)

In [136]:
dftrava = pd.read_excel("consulta_trava_justa_20190612.xlsx")

In [138]:
dftrava["cnpj"].iloc[0]

150714000186

In [139]:
dftrava["cnpj"] = dftrava["cnpj"].astype(str)

In [144]:
dftrava[dftrava.index==84]["cnpj"].iloc[0]

'1242387000155'

In [145]:
dftrava["cnpj"] = dftrava.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                                ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [153]:
dftrava[dftrava["cnpj"]=='04943517000175']

               cnpj      bandeira trava dataConsulta
252  04943517000175          VISA     N   2019-06-12
253  04943517000175        MASTER     N   2019-06-12
254  04943517000175      BANESTES     N   2019-06-12
255  04943517000175    CREDSYSTEM     N   2019-06-12
256  04943517000175     VERDECARD     N   2019-06-12
257  04943517000175      SOROCRED     N   2019-06-12
258  04943517000175       SICREDI     N   2019-06-12
259  04943517000175         CREDZ     N   2019-06-12
260  04943517000175         CABAL     N   2019-06-12
261  04943517000175  BANRICOMPRAS     N   2019-06-12
262  04943517000175        BANESE     N   2019-06-12
263  04943517000175     HIPERCARD     N   2019-06-12
264  04943517000175           ELO     N   2019-06-12
265  04943517000175        DINERS     N   2019-06-12

In [150]:
fr = []
for el in dftrava["cnpj"].unique().tolist():
    dt = dftrava[dftrava['cnpj']==el]
    lista_trava = dt['trava'].tolist()
    flag_trava = 'S' if 'S' in lista_trava else 'N'
    fr.append(pd.DataFrame({'cnpj' : [el], 'flag_trava' : [flag_trava]}))

In [155]:
resp = pd.concat(fr)

In [158]:
df_aprov.shape

(160, 2)

In [162]:
ret = df_aprov.merge(resp, left_on='cnpj', right_on='cnpj', how='left')

In [164]:
ret[ret["cnpj"].isin(["30589990000106", "30589922000106", "30589922000147"])]

               cnpj  vol_max flag_trava
139  30589922000147  13000.0          N
140  30589990000106   6000.0          N

In [166]:
ret.to_excel("pre_analise_justa_201906.xlsx")

In [128]:
final["flag_pricing"] = final.apply(lambda x : 0 if x["cnpj"] in sem_proposta else 1, axis=1)

In [130]:
final[final["flag_pricing"]==0]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,07633539000127,1,1,1,1,7,2019-06-11,0,1,0
0,07931239000124,1,1,1,1,7,2019-06-11,0,1,0
0,10671041000163,1,1,1,1,7,2019-06-11,0,1,0
0,11020761000202,1,1,1,1,7,2019-06-11,0,1,0
0,11260310000242,1,1,1,1,6,2019-06-11,0,1,0
0,11260310000676,1,1,1,1,7,2019-05-31,0,1,0
0,12996635000170,1,1,1,1,6,2019-06-11,0,1,0
0,13349922000150,1,1,1,1,7,2019-06-11,0,1,0
0,14427836000181,1,1,1,1,6,2019-06-11,0,1,0
0,20868409000131,1,1,1,1,7,2019-06-11,0,1,0
0,23030585000279,1,1,1,1,6,2019-06-11,0,1,0
0,26868707000108,1,1,1,1,7,2019-05-31,0,1,0
0,27074288000103,1,1,1,1,7,2019-05-31,0,1,0
0,28003808000141,1,1,1,1,7,2019-06-11,0,1,0
0,28666174000107,1,1,1,1,7,2019-06-11,0,1,0
0,28789082000114,1,1,1,1,7,2019-06-11,0,1,0
0,29988990000108,1,1,1,1,7,2019-05-31,0,1,0

In [131]:
final

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,00121514000103,0,0,1,1,1,None,1,0,1
0,00147048000127,0,1,0,1,3,2019-05-21,0,0,1
0,00147569000184,0,0,1,1,1,None,1,0,1
0,00150714000186,1,1,1,1,7,2019-05-31,0,1,1
0,00160703000187,0,1,1,1,3,None,1,0,1
0,00327378000102,0,1,1,1,3,None,1,0,1
0,00431292000117,0,0,1,1,1,None,1,0,1
0,00440094000110,0,0,1,1,1,None,1,0,1
0,00451803000162,0,0,1,1,1,None,1,0,1
0,00451803000324,0,0,1,1,1,None,1,0,1
0,00489194000130,0,0,1,1,7,None,1,0,1
0,00686810000143,1,1,1,1,7,2019-05-31,0,1,1
0,00704375000132,0,0,1,1,4,None,1,0,1
0,00729716000124,0,0,1,1,6,None,1,0,1
0,00753909000110,0,0,1,1,1,None,1,0,1
0,00842847000113,1,1,1,0,7,2019-05-31,0,0,1
0,00844335000196,0,0,1,1,4,None,1,0,1
0,00844335000609,0,0,1,1,7,None,1,0,1
0,00874646000106,1,0,1,1,7,2019-06-11,0,0,1
0,00874646000289,1,1,1,1,7,2019-05-27,0,1,1
0,00874646000360,1,1,1,1,7,2019-06-11,0,1,1
0,00874646000440,1,1,1,1,7,2019-06-11,0,1,1
0,00905636000182,0,0,1,1,1,None,1,0,1
0,00910459000122,0,0,1,1,1,None,1,0,1
0,00934773000145,1,1,1,1,7,2019-05-30,0,1,1
0,00941051000118,0,0,1,1,1,None,1,0,1
0,01046339000191,1,0,1,1,7,2019-06-11,0,0,1
0,01080801000177,0,0,1,1,1,None,1,0,1
0,01098518000172,0,0,1,1,1,None,1,0,1
0,01113005000193,0,0,1,1,1,None,1,0,1
...,...,...,...,...,...,...,...,...,...,...
0,83325498000190,0,0,1,1,1,None,1,0,1
0,86505419000110,0,0,1,1,1,None,1,0,1
0,87188546000100,0,0,1,1,1,None,1,0,1
0,87188546000104,0,0,1,1,7,None,1,0,1
0,87189106000163,0,0,1,1,7,None,1,0,1
0,87247102000194,0,0,1,1,1,None,1,0,1
0,90147216000177,0,0,1,1,7,None,1,0,1
0,90917261000163,0,0,1,1,1,None,1,0,1
0,91157743000125,0,0,1,1,1,None,1,0,1
0,91320028000161,0,0,1,1,7,None,1,0,1
0,92195528000181,0,0,1,1,7,None,1,0,1
0,93354744000195,0,0,1,1,1,None,1,0,1
0,93379337000132,1,1,1,0,7,2019-06-11,0,0,1
0,93886505000186,0,0,1,0,1,2019-03-07,0,0,1
0,94029584000171,0,0,1,1,1,None,1,0,1
0,94044468000121,0,0,1,1,1,None,1,0,1
0,94240314000105,0,0,1,1,1,None,1,0,1
0,94261385000194,0,0,1,1,1,None,1,0,1
0,94528890000152,0,0,1,1,1,None,1,0,1
0,94580412000191,0,0,1,1,6,None,1,0,1
0,95159166000161,0,0,1,1,1,None,1,0,1
0,96435722000148,0,0,1,1,1,None,1,0,1
0,97307102000196,0,0,1,1,1,None,1,0,1
0,97542416000173,1,1,1,1,7,2019-05-30,0,1,1
0,05582611000109,0,0,1,1,1,None,1,0,1
0,31144973000128,1,1,1,1,7,2019-05-30,0,1,1
0,31145142000170,0,0,1,1,1,None,1,0,1
0,31174944000109,0,1,1,1,1,None,1,0,1
0,31175234000101,0,0,1,1,1,None,1,0,1
0,31211109000100,0,0,1,1,1,None,1,0,1

In [100]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='WIRECARD' and status!='QUITADA'", con)
con.close()

In [103]:
df_aprov.shape

(664, 2)

In [111]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [113]:
df_aprov.shape

(652, 2)

In [114]:
df_aprov.to_excel("pre_analise_wirecard_201906.xlsx")

In [115]:
df_aprov

              cnpj    vol_max
0   00018460000147     8000.0
0   00195664000153     7500.0
0   00240629000109     8000.0
0   00272073000302   152500.0
0   00467109000133     6500.0
0   00548620000160    34500.0
0   00566262000118    21000.0
0   00570256000134   217000.0
0   00626948000157    32000.0
0   00986814000147     7500.0
0   01056417000139    19000.0
0   01184310000176     5500.0
0   01337552000152    27000.0
0   01344128000135    20500.0
0   01564112000138    10500.0
0   01799108000159    28500.0
0   01863881000137    15500.0
0   01879689000139    11000.0
0   01937526000165    45500.0
0   02092758000122     6000.0
0   02319380000408     8000.0
0   02392887000136    19500.0
0   02800667000102     9000.0
0   02801076000141     5500.0
0   03070616000127     5500.0
0   03241334000145    67000.0
0   03241608000104     9500.0
0   03252315000114    29000.0
0   03347828000109    14000.0
0   03378624000135   121500.0
..             ...        ...
0   58028838000173    76500.0
0   59708412000638    15500.0
0   60877859000105    26500.0
0   61328811000100    10500.0
0   61904306000167    27500.0
0   61933404000122    21500.0
0   65868747000101    23000.0
0   66019266000194     7500.0
0   70176664000191    11000.0
0   71673990000177  2500000.0
0   71728778000160    44500.0
0   71834089000130    75000.0
0   72178353000197    14000.0
0   72559297000130    20000.0
0   74645169000135    37000.0
0   75064261000174    68000.0
0   78997095000157    18000.0
0   80189772000152    57500.0
0   81043085000197     8000.0
0   90005307000178   272000.0
0   90146747000145    15500.0
0   90406117000162    26500.0
0   90432717000103    72000.0
0   90539453000183    28500.0
0   92666056000106    18000.0
0   92785047000126    22000.0
0   93886505000186    42500.0
0   96364815000129    14000.0
0   97117477000193     7500.0
0   97548453000199    12500.0

[652 rows x 2 columns]