In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cnpj from fluxo_justa", con)
con.close()

In [5]:
df = df.iloc[1:, :]

In [7]:
df["cnpj"].iloc[0]

'00121514000103'

In [8]:
df.head()

             cnpj
1  00121514000103
2  00147048000127
3  00147569000184
4  00150714000186
5  00160703000187

In [9]:
df["flag_cnpj"] = df.apply(lambda x : int(len(x["cnpj"])==14), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df.head()

             cnpj  flag_cnpj
1  00121514000103          1
2  00147048000127          1
3  00147569000184          1
4  00150714000186          1
5  00160703000187          1

In [12]:
df = df[df['flag_cnpj']==1]

In [13]:
df.head()

             cnpj  flag_cnpj
1  00121514000103          1
2  00147048000127          1
3  00147569000184          1
4  00150714000186          1
5  00160703000187          1

In [14]:
lista_cnpj = df["cnpj"].tolist()

In [15]:
lista_cnpj.__len__()

1570

In [70]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta

class PreAnalysis(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa
                }
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    @staticmethod
    def mensaliza(df):
        df.index = pd.to_datetime(df.data)
        df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        return
    
    def check_transacoes(self):
        df = self.dados[["data", "numero_transacoes"]]
        df = df[df['data']==datetime(2019, 5, 1).date()]
    
        self.flag_transacoes = int(df["numero_transacoes"].iloc[0]>12)
#         try:
#             df = self.dados[["data", "numero_transacoes"]]
#             df = self.mensaliza(df)
#             df = df.iloc[:12, :]
#             media_transacoes = df["numero_transacoes"].mean()
#             flag_transacoes = int(media_transacoes > 12)
#             self.flag_transacoes = flag_transacoes
#         except:
#             self.flag_transacoes = 1
#         return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=1.5)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
        self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [57]:
el = "03869173000139"

In [58]:
pa = PreAnalysis(cnpj=el, produto='justa')
pa.analisa()

KeyError: "['numero_transacoes'] not in index"

In [52]:
pa.flag_cheques

1

In [71]:
resp = []
err = []
for el in lista_cnpj:
    try:
        pa = PreAnalysis(cnpj=el, produto='justa')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err.append(el)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:125: RuntimeWarning: divide by zero encountered in double_scalars

In [72]:
err.__len__()

8

In [73]:
err2 = []
for el in err:
    try:
        pa = PreAnalysis(cnpj=el, produto='justa')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_transacoes"] = [pa.flag_transacoes]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["historico"] = [len(pa.dados)]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        err2.append(el)

In [74]:
err2

['03869173000139', '08793847000182']

In [75]:
final = pd.concat(resp)

In [76]:
final.shape

(1568, 7)

In [77]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta
0,00121514000103,0,0,1,1,1,None
0,00147048000127,0,1,0,1,3,2019-05-21 16:38:50
0,00147569000184,0,0,1,1,1,None
0,00150714000186,1,1,1,1,7,2019-05-31 17:27:26
0,00160703000187,0,1,1,1,3,None

In [78]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [79]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [80]:
final[(final["flag_consulta"]==1)]["flag_faturamento"].unique().tolist()

[0]

In [81]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0]

In [82]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]["cnpj"].unique().tolist()

[]

In [84]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
0,00121514000103,0,0,1,1,1,None,1
0,00147048000127,0,1,0,1,3,2019-05-21,0
0,00147569000184,0,0,1,1,1,None,1
0,00150714000186,1,1,1,1,7,2019-05-31,0
0,00160703000187,0,1,1,1,3,None,1

In [85]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_transacoes"]*final["flag_cheques"]*final["flag_dividas"]

In [86]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta
flag_aprovacao,,,,,,,,
0,1370,1370,1370,1370,1370,1370,125,1370
1,198,198,198,198,198,198,198,198

In [87]:
final.shape

(1568, 9)

In [88]:
final.head()

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao
0,00121514000103,0,0,1,1,1,None,1,0
0,00147048000127,0,1,0,1,3,2019-05-21,0,0
0,00147569000184,0,0,1,1,1,None,1,0
0,00150714000186,1,1,1,1,7,2019-05-31,0,1
0,00160703000187,0,1,1,1,3,None,1,0

In [89]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_justa set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [90]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_justa set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [91]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"]

In [92]:
lista_pricing.__len__()

198

In [93]:
from tqdm import tqdm_notebook
import requests

In [94]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "justa"}

fr = []
for el in tqdm_notebook(lista_pricing):
    print(el)
    pa = PreAnalysis(cnpj=el, produto='justa')
    pa.get_dados()
    dff = pa.dados

    dff['adquirentes'] = "justa"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : str(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=198), HTML(value='')))

00150714000186
00686810000143
00874646000289
00874646000360
00874646000440
00934773000145
01242387000155
01246934000170
02125400000159
02407917000130
02595814000141
02802892000170
03300735000129
03457730000104
04120660000167
04293170000162
04474793000131
04643766000145
04943517000175
05074012000184
05093466000100
05336959000116
05634767000358
05696475000188
05766218000175
06096281000104
06213352000101
06273795000198
07323509000114
07406557000176
07420323000183
07449710000142
07513220000168
07633539000127
07859568000101
07874345000113
07931239000124
07942208000179
08656814000190
08744783000120
08792506000192
08982475000213
08992524000118
09165878000151
09214739000170
09247771000152
09434547000170
09943889000115
10258160000199
10380621000100
10671041000163
10714656000120
10715982000151
10819214000148
10833423000146
10946187000174
11014236000101
11018748001533
11020761000121
11020761000202
11186774000175
11186774000256
11226953000270
11240411000170
11260310000242
11260310000676
11340751000173
11485379000193
11903993000128
11978779000130
12158043000189
12401497000139
12436421000149
12996635000170
13005501000102
13274682000172
13349922000150
13703589000136
13962219000113
14135722000168
14136967000100
14219934000123
14427836000181
14549293000175
14760070000152
15521792000117
16590208000148
16972970000199
17322294000170
17359266000128
17521459000133
17815262000107
17981111000129
18074788000146
18440088000128
18658454000110
18728179000163
19529133000188
19574940000112
19802600000100
19901846000120
20496386000181
20593518000274
20593518000355
20604000000299
20604000000370
20737475000334
20737475000415
20792928000163
20868409000131
20972015000129
21128497000106
21165527000146
21232229000121
21969975000100
22837646000160
22930864000145
23030585000279
23048800000188
23210204000152
23375019000118
23731361000103
24020751000138
24216232000140
24339290000160
24554146000147
24689959000144
24694207000171
24796335000126
25132480000175
25255687000137
25362878000106
25424244000122
26108672000109
26148415000109
26203624000108
26262638000194
26262638000275
26278339000148
26389228000109
26868707000108
26884792000106
26889468000172
27049818000155
27072462000170
27074288000103
27173744000164
27234997000109
27377722000116
27421286000135
27532710000119
27710283000111
28003808000141
28516328000184
28666174000107
28782540000193
28789082000114
28987165000118
29055148000105
29107874000124
29283973000167
29378458000160
29592349000141
29755593000188
29822763000108
29849013000111
29854525000176
29895389000162
29971311000180
29988990000108
30039089000160
30141207000147
30262648000105
30360106000167
30420875000103
30589922000147
30589990000106
30720421000158
30720538000131
30948249000194
31099002000103
31497379000110
31512268000136
31526219000152
31703330000177
31944992000139
32096734000102
32158295000115
45028404000393
47641451000171
50201391000180
51524486000106
64605611000146
71102289000106
71499453000152
80694730000179
97542416000173
31144973000128

In [95]:
dfp = pd.concat(fr)

In [98]:
dfp[dfp["vol_max"]>0].to_excel("trava.xlsx")

In [100]:
dfp.head()

             cnpj  vol_max
0  00150714000186   9000.0
0  00686810000143  24500.0
0  00874646000289   6000.0
0  00874646000360   6000.0
0  00874646000440   5500.0

In [133]:
dfp[dfp["cnpj"]=='20737475000415']

             cnpj  vol_max
0  20737475000415  98500.0

In [101]:
sem_proposta = dfp[dfp["vol_max"]==0]["cnpj"].tolist()

In [102]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_justa set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [103]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_justa set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [104]:
df_aprov = dfp[dfp["vol_max"]>0]

In [106]:
df_aprov.shape

(178, 2)

In [107]:
dfop = pd.read_excel("analise_justa_final.xlsx")

In [111]:
dfop["cnpj"] = dfop["cnpj"].astype(str)

In [113]:
dfop["cnpj"] = dfop.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                          ("00" + x["cnpj"] if len(x['cnpj'])==12 else x["cnpj"]), axis=1)

In [115]:
lista_op = dfop["cnpj"].unique().tolist()

In [116]:
df_aprov.shape

(178, 2)

In [122]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(lista_op)]

In [126]:
df_aprov.head()

             cnpj  vol_max
0  00150714000186   9000.0
0  00686810000143  24500.0
0  00874646000289   6000.0
0  00874646000360   6000.0
0  00874646000440   5500.0

In [135]:
df_aprov.shape

(160, 2)

In [136]:
dftrava = pd.read_excel("consulta_trava_justa_20190612.xlsx")

In [138]:
dftrava["cnpj"].iloc[0]

150714000186

In [139]:
dftrava["cnpj"] = dftrava["cnpj"].astype(str)

In [144]:
dftrava[dftrava.index==84]["cnpj"].iloc[0]

'1242387000155'

In [145]:
dftrava["cnpj"] = dftrava.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                                ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [153]:
dftrava[dftrava["cnpj"]=='04943517000175']

               cnpj      bandeira trava dataConsulta
252  04943517000175          VISA     N   2019-06-12
253  04943517000175        MASTER     N   2019-06-12
254  04943517000175      BANESTES     N   2019-06-12
255  04943517000175    CREDSYSTEM     N   2019-06-12
256  04943517000175     VERDECARD     N   2019-06-12
257  04943517000175      SOROCRED     N   2019-06-12
258  04943517000175       SICREDI     N   2019-06-12
259  04943517000175         CREDZ     N   2019-06-12
260  04943517000175         CABAL     N   2019-06-12
261  04943517000175  BANRICOMPRAS     N   2019-06-12
262  04943517000175        BANESE     N   2019-06-12
263  04943517000175     HIPERCARD     N   2019-06-12
264  04943517000175           ELO     N   2019-06-12
265  04943517000175        DINERS     N   2019-06-12

In [150]:
fr = []
for el in dftrava["cnpj"].unique().tolist():
    dt = dftrava[dftrava['cnpj']==el]
    lista_trava = dt['trava'].tolist()
    flag_trava = 'S' if 'S' in lista_trava else 'N'
    fr.append(pd.DataFrame({'cnpj' : [el], 'flag_trava' : [flag_trava]}))

In [155]:
resp = pd.concat(fr)

In [158]:
df_aprov.shape

(160, 2)

In [162]:
ret = df_aprov.merge(resp, left_on='cnpj', right_on='cnpj', how='left')

In [164]:
ret[ret["cnpj"].isin(["30589990000106", "30589922000106", "30589922000147"])]

               cnpj  vol_max flag_trava
139  30589922000147  13000.0          N
140  30589990000106   6000.0          N

In [166]:
ret.to_excel("pre_analise_justa_201906.xlsx")

In [128]:
final["flag_pricing"] = final.apply(lambda x : 0 if x["cnpj"] in sem_proposta else 1, axis=1)

In [130]:
final[final["flag_pricing"]==0]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,07633539000127,1,1,1,1,7,2019-06-11,0,1,0
0,07931239000124,1,1,1,1,7,2019-06-11,0,1,0
0,10671041000163,1,1,1,1,7,2019-06-11,0,1,0
0,11020761000202,1,1,1,1,7,2019-06-11,0,1,0
0,11260310000242,1,1,1,1,6,2019-06-11,0,1,0
0,11260310000676,1,1,1,1,7,2019-05-31,0,1,0
0,12996635000170,1,1,1,1,6,2019-06-11,0,1,0
0,13349922000150,1,1,1,1,7,2019-06-11,0,1,0
0,14427836000181,1,1,1,1,6,2019-06-11,0,1,0
0,20868409000131,1,1,1,1,7,2019-06-11,0,1,0
0,23030585000279,1,1,1,1,6,2019-06-11,0,1,0
0,26868707000108,1,1,1,1,7,2019-05-31,0,1,0
0,27074288000103,1,1,1,1,7,2019-05-31,0,1,0
0,28003808000141,1,1,1,1,7,2019-06-11,0,1,0
0,28666174000107,1,1,1,1,7,2019-06-11,0,1,0
0,28789082000114,1,1,1,1,7,2019-06-11,0,1,0
0,29988990000108,1,1,1,1,7,2019-05-31,0,1,0

In [131]:
final

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,00121514000103,0,0,1,1,1,None,1,0,1
0,00147048000127,0,1,0,1,3,2019-05-21,0,0,1
0,00147569000184,0,0,1,1,1,None,1,0,1
0,00150714000186,1,1,1,1,7,2019-05-31,0,1,1
0,00160703000187,0,1,1,1,3,None,1,0,1
0,00327378000102,0,1,1,1,3,None,1,0,1
0,00431292000117,0,0,1,1,1,None,1,0,1
0,00440094000110,0,0,1,1,1,None,1,0,1
0,00451803000162,0,0,1,1,1,None,1,0,1
0,00451803000324,0,0,1,1,1,None,1,0,1
0,00489194000130,0,0,1,1,7,None,1,0,1
0,00686810000143,1,1,1,1,7,2019-05-31,0,1,1
0,00704375000132,0,0,1,1,4,None,1,0,1
0,00729716000124,0,0,1,1,6,None,1,0,1
0,00753909000110,0,0,1,1,1,None,1,0,1
0,00842847000113,1,1,1,0,7,2019-05-31,0,0,1
0,00844335000196,0,0,1,1,4,None,1,0,1
0,00844335000609,0,0,1,1,7,None,1,0,1
0,00874646000106,1,0,1,1,7,2019-06-11,0,0,1
0,00874646000289,1,1,1,1,7,2019-05-27,0,1,1
0,00874646000360,1,1,1,1,7,2019-06-11,0,1,1
0,00874646000440,1,1,1,1,7,2019-06-11,0,1,1
0,00905636000182,0,0,1,1,1,None,1,0,1
0,00910459000122,0,0,1,1,1,None,1,0,1
0,00934773000145,1,1,1,1,7,2019-05-30,0,1,1
0,00941051000118,0,0,1,1,1,None,1,0,1
0,01046339000191,1,0,1,1,7,2019-06-11,0,0,1
0,01080801000177,0,0,1,1,1,None,1,0,1
0,01098518000172,0,0,1,1,1,None,1,0,1
0,01113005000193,0,0,1,1,1,None,1,0,1
...,...,...,...,...,...,...,...,...,...,...
0,83325498000190,0,0,1,1,1,None,1,0,1
0,86505419000110,0,0,1,1,1,None,1,0,1
0,87188546000100,0,0,1,1,1,None,1,0,1
0,87188546000104,0,0,1,1,7,None,1,0,1
0,87189106000163,0,0,1,1,7,None,1,0,1
0,87247102000194,0,0,1,1,1,None,1,0,1
0,90147216000177,0,0,1,1,7,None,1,0,1
0,90917261000163,0,0,1,1,1,None,1,0,1
0,91157743000125,0,0,1,1,1,None,1,0,1
0,91320028000161,0,0,1,1,7,None,1,0,1
0,92195528000181,0,0,1,1,7,None,1,0,1
0,93354744000195,0,0,1,1,1,None,1,0,1
0,93379337000132,1,1,1,0,7,2019-06-11,0,0,1
0,93886505000186,0,0,1,0,1,2019-03-07,0,0,1
0,94029584000171,0,0,1,1,1,None,1,0,1
0,94044468000121,0,0,1,1,1,None,1,0,1
0,94240314000105,0,0,1,1,1,None,1,0,1
0,94261385000194,0,0,1,1,1,None,1,0,1
0,94528890000152,0,0,1,1,1,None,1,0,1
0,94580412000191,0,0,1,1,6,None,1,0,1
0,95159166000161,0,0,1,1,1,None,1,0,1
0,96435722000148,0,0,1,1,1,None,1,0,1
0,97307102000196,0,0,1,1,1,None,1,0,1
0,97542416000173,1,1,1,1,7,2019-05-30,0,1,1
0,05582611000109,0,0,1,1,1,None,1,0,1
0,31144973000128,1,1,1,1,7,2019-05-30,0,1,1
0,31145142000170,0,0,1,1,1,None,1,0,1
0,31174944000109,0,1,1,1,1,None,1,0,1
0,31175234000101,0,0,1,1,1,None,1,0,1
0,31211109000100,0,0,1,1,1,None,1,0,1

In [100]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='WIRECARD' and status!='QUITADA'", con)
con.close()

In [103]:
df_aprov.shape

(664, 2)

In [111]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [113]:
df_aprov.shape

(652, 2)

In [114]:
df_aprov.to_excel("pre_analise_wirecard_201906.xlsx")

In [115]:
df_aprov

              cnpj    vol_max
0   00018460000147     8000.0
0   00195664000153     7500.0
0   00240629000109     8000.0
0   00272073000302   152500.0
0   00467109000133     6500.0
0   00548620000160    34500.0
0   00566262000118    21000.0
0   00570256000134   217000.0
0   00626948000157    32000.0
0   00986814000147     7500.0
0   01056417000139    19000.0
0   01184310000176     5500.0
0   01337552000152    27000.0
0   01344128000135    20500.0
0   01564112000138    10500.0
0   01799108000159    28500.0
0   01863881000137    15500.0
0   01879689000139    11000.0
0   01937526000165    45500.0
0   02092758000122     6000.0
0   02319380000408     8000.0
0   02392887000136    19500.0
0   02800667000102     9000.0
0   02801076000141     5500.0
0   03070616000127     5500.0
0   03241334000145    67000.0
0   03241608000104     9500.0
0   03252315000114    29000.0
0   03347828000109    14000.0
0   03378624000135   121500.0
..             ...        ...
0   58028838000173    76500.0
0   59708412000638    15500.0
0   60877859000105    26500.0
0   61328811000100    10500.0
0   61904306000167    27500.0
0   61933404000122    21500.0
0   65868747000101    23000.0
0   66019266000194     7500.0
0   70176664000191    11000.0
0   71673990000177  2500000.0
0   71728778000160    44500.0
0   71834089000130    75000.0
0   72178353000197    14000.0
0   72559297000130    20000.0
0   74645169000135    37000.0
0   75064261000174    68000.0
0   78997095000157    18000.0
0   80189772000152    57500.0
0   81043085000197     8000.0
0   90005307000178   272000.0
0   90146747000145    15500.0
0   90406117000162    26500.0
0   90432717000103    72000.0
0   90539453000183    28500.0
0   92666056000106    18000.0
0   92785047000126    22000.0
0   93886505000186    42500.0
0   96364815000129    14000.0
0   97117477000193     7500.0
0   97548453000199    12500.0

[652 rows x 2 columns]