In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select distinct cnpj from fluxo_kred", con)
con.close()

In [3]:
df.head()

             cnpj
0  00155245000198
1  00335814000187
2  00400332000163
3  00426978000110
4  00464938000162

In [4]:
df["cnpj"].iloc[0]

'00155245000198'

In [5]:
df.shape

(1309, 1)

In [6]:
lista_cnpj = df["cnpj"].tolist()

In [7]:
lista_cnpj.__len__()

1309

In [9]:
from pricing.service.scoring.lscore import LScoring
from pricing.utils import formata_cnpj
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
from sqlalchemy import create_engine

class CriteriosElegibilidade(object):
    def __init__(self, cnpj, produto):
        self.cnpj = cnpj
        self.produto = produto
        self.elegibilidade_dividas=1.5
        self.elegibilidade_transacoes = 12
        self.dados = None
        self.flag_faturamento = None
        self.fat_medio = None
        self.flag_transacoes = None
        self.flag_cheques = None
        self.flag_dividas = None
        self.data_consulta = None
        self.scoring = None
        self.prop_boleto = None
        
    def get_dados(self):
        if self.produto in ["tomatico", "padrao"]:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
            con = engine.connect()
        else:
            engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
            con = engine.connect()
        
        query_wirecard = "select cnpj, data, valor, numero_transacoes from fluxo_wirecard where cnpj='{}'".format(self.cnpj)
        query_pv = "select cpf_cnpj as cnpj, data, valor, valor_boleto, numero_transacoes from fluxo_pv where cpf_cnpj='{}'".format(formata_cnpj(self.cnpj))
        query_tomatico = "select cnpj, dataFluxo as data, valorFluxo as valor from tb_Fluxo where cnpj='{}'".format(self.cnpj)
        query_justa = "select cnpj, data, valor, numero_transacoes from fluxo_justa where cnpj='{}'".format(self.cnpj)
        query_au5 = "select cnpj, data, valor, numero_transacoes from fluxo_au5 where cnpj='{}'".format(self.cnpj)
        query_kred = "select cnpj, data, valor from fluxo_kred where cnpj='{}'".format(self.cnpj)
        dict_query = {"tomatico" : query_tomatico,
                    "padrao" : query_tomatico,
                    "wirecard" : query_wirecard,
                    "moip" : query_wirecard,
                    "pagueveloz" : query_pv,
                    "justa" : query_justa,
                    "au5" : query_au5,
                    "kred" : query_kred
                }
        
        query = dict_query.get(self.produto)
        df = pd.read_sql(query, con)
        con.close()
        df = df.groupby("data").sum().reset_index()
        try:
            df["data"] = df.apply(lambda x : x["data"].date(), axis=1)
        except:
            pass
        self.dados = df
        
        return
    
    
    def mensaliza(self, df):
        df.index = pd.to_datetime(df.data)
        if self.produto=='pagueveloz':
            df = df.resample('MS').sum()[["valor", "valor_boleto"]].reset_index()
        else:
            df = df.resample('MS').sum().reset_index()
        return df
    
    def check_faturamento(self):
        if self.produto == 'pagueveloz':
            df = self.dados[["data", "valor", "valor_boleto"]]
        else:
            df = self.dados[["data", "valor"]]
        df = self.mensaliza(df)
        df6 = df.sort_values("data", ascending=False).iloc[:6, :]
        df6["data"] = df6.apply(lambda x : x["data"].date(), axis=1)
        flag_faturamento = int((len(df6)==6) and (0 not in df6["valor"].tolist()) and (df6["data"].max()==datetime.now().date().replace(day=1) - relativedelta(months=1)))
        self.flag_faturamento = flag_faturamento
        self.fat_medio = df.sort_values("data", ascending=False).iloc[:12, :]["valor"].mean()
        if self.produto == 'pagueveloz':
            db = df.sort_values("data", ascending=False).iloc[:12, :]
            
            
            db["prop"] = db["valor_boleto"].sum()/db["valor"].sum()
            self.prop_boleto = db["prop"].iloc[0]
        return
    
    def check_transacoes(self):
        if self.produto != 'tomatico':
            try:
                df = self.dados[["data", "numero_transacoes"]]
                df.index = pd.to_datetime(df.data)
                df.resample('MS').sum().reset_index()
                df = df.iloc[:12, :]
                media_transacoes = df["numero_transacoes"].mean()
                flag_transacoes = int(media_transacoes > self.elegibilidade_transacoes)
                self.flag_transacoes = flag_transacoes
            except:
                self.flag_transacoes = 1
        return
    
    
    def get_dividas(self):
        engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
        con = engine.connect()
        query = "select * from consultas_idwall_operacoes where cnpj_cpf='{}'".format(self.cnpj)
        df = pd.read_sql(query, con)
        con.close()
        if df.empty:
            return df
        df = df[df['data_ref']==df['data_ref'].max()]
        lista_consultas = df['numero_consulta'].unique().tolist()
        
        df = df[(df['data_ref']==df['data_ref'].max()) & (df['numero_consulta']==lista_consultas[0])]
        return df
    
    def check_cheques(self):
        dfdiv = self.get_dividas()
        
        if dfdiv.empty:
            flag_cheques = 1
            data_consulta = None
        else:
            flag_cheques = int('cheques' not in dfdiv["tipo"].tolist())
            data_consulta = dfdiv["data_ref"].max()
        self.flag_cheques = flag_cheques
        self.data_consulta = data_consulta
        return 
    
    def check_dividas(self):
        dfdiv = self.get_dividas()
        if dfdiv.empty:
            self.flag_dividas = 1
            self.data_consulta = None
        else:
            df = dfdiv[dfdiv['tipo']!="cheques"]
            if df.empty:
                self.flag_dividas = 1
                self.data_consulta = dfdiv["data_ref"].iloc[0]
            else:
                total_dividas = df["valor"].sum()
                fat_medio = self.fat_medio
                prop = total_dividas/fat_medio
                flag_dividas = int(prop <=self.elegibilidade_dividas)
                self.flag_dividas = flag_dividas
                self.data_consulta = df["data_ref"].iloc[0]
        return
    
    def analisa(self):
        self.get_dados()
        self.check_faturamento()
#         self.check_transacoes()
        self.check_cheques()
        self.check_dividas()
        return

In [10]:
el = lista_cnpj[0]
ce = CriteriosElegibilidade(cnpj=el, produto='kred')

In [11]:
ce.analisa()

In [12]:
ce.flag_faturamento

1

In [13]:
ce.dados

         data    valor
0  2018-09-01  1923.93
1  2018-11-01  5171.26
2  2018-12-01  9351.94
3  2019-01-01  3776.20
4  2019-02-01  9814.73
5  2019-03-01  6194.85
6  2019-04-01  2560.30
7  2019-05-01  5222.71
8  2019-06-01  1568.80

In [14]:
ce.flag_cheques

0

In [15]:
ce.flag_dividas

0

In [16]:
el

'00155245000198'

In [17]:
from tqdm import tqdm_notebook

In [18]:
el = lista_cnpj[0]

In [19]:
el

'00155245000198'

In [20]:
pa = CriteriosElegibilidade(cnpj=el, produto='kred')
pa.analisa()
_df = pd.DataFrame()
_df["cnpj"] = [el]
_df["flag_faturamento"] = [pa.flag_faturamento]

In [21]:
_df

             cnpj  flag_faturamento
0  00155245000198                 1

In [23]:
lista_cnpj.__len__()

1309

In [24]:
ce.flag_dividas

0

In [32]:
ce.data_consulta

Timestamp('2019-07-04 16:14:08')

In [33]:
resp = []
err = []
for el in tqdm_notebook(lista_cnpj):
    try:
        pa = CriteriosElegibilidade(cnpj=el, produto='kred')
        pa.analisa()
        _df = pd.DataFrame()
        _df["cnpj"] = [el]
        _df["flag_faturamento"] = [pa.flag_faturamento]
        _df["flag_cheques"] = [pa.flag_cheques]
        _df["flag_dividas"] = [pa.flag_dividas]
        _df["data_consulta"] = [pa.data_consulta]
        resp.append(_df)
    except:
        print('ERROR')
        err.append(el)

HBox(children=(IntProgress(value=0, max=1309), HTML(value='')))

In [34]:
err.__len__()

0

In [35]:
final = pd.concat(resp)

In [36]:
final.shape

(1309, 5)

In [37]:
final.head()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta
0,00155245000198,1,0,0,2019-07-04 16:14:08
0,00335814000187,1,1,1,2019-07-04 16:17:51
0,00400332000163,1,1,1,2019-07-04 16:19:52
0,00426978000110,0,1,1,None
0,00464938000162,0,1,1,None

In [38]:
final.groupby('flag_faturamento').count()

                  cnpj  flag_cheques  flag_dividas  data_consulta
flag_faturamento
0                 1092          1092          1092              0
1                  217           217           217            217

In [38]:
final[final["flag_faturamento"]==1].to_excel("consultar_divida_kred.xlsx")

In [39]:
final["data_consulta"] = final.apply(lambda x : x["data_consulta"].date() if not x["data_consulta"] is None else x["data_consulta"], axis=1)

In [40]:
final["flag_consulta"] = final.apply(lambda x : int(x["data_consulta"] is None), axis=1)

In [41]:
final[(final["flag_consulta"]==1)]["flag_faturamento"].unique().tolist()

[0]

In [42]:
# final[(final['flag_consulta']==1) & (final["flag_faturamento"]==1)].to_excel('atualizar_divida_pv.xlsx')

In [43]:
final[final["flag_consulta"]==1]["flag_faturamento"].unique().tolist()

[0]

In [44]:
final[(final["flag_consulta"]==1) & (final["flag_faturamento"]==1)]["cnpj"].unique().tolist()

[]

In [45]:
final.head()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_consulta
0,00155245000198,1,0,0,2019-07-04,0
0,00335814000187,1,1,1,2019-07-04,0
0,00400332000163,1,1,1,2019-07-04,0
0,00426978000110,0,1,1,None,1
0,00464938000162,0,1,1,None,1

In [46]:
final["flag_aprovacao"] = final["flag_faturamento"]*final["flag_cheques"]*final["flag_dividas"]

In [47]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_consulta
flag_aprovacao,,,,,,
0,1137,1137,1137,1137,45,1137
1,172,172,172,172,172,172

In [48]:
final.shape

(1309, 7)

In [49]:
final.head()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_consulta,flag_aprovacao
0,00155245000198,1,0,0,2019-07-04,0,0
0,00335814000187,1,1,1,2019-07-04,0,1
0,00400332000163,1,1,1,2019-07-04,0,1
0,00426978000110,0,1,1,None,1,0
0,00464938000162,0,1,1,None,1,0

In [50]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_kred set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [51]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()

for el in final["cnpj"].unique().tolist():
    dt = final[final["cnpj"]==el]
    flag = dt["flag_aprovacao"].iloc[0]
    con.execute("update fluxo_kred set flag_aprovacao={} where cnpj='{}'".format(flag, el))
con.close()

In [58]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_consulta
flag_aprovacao,,,,,,
0,1137,1137,1137,1137,45,1137
1,172,172,172,172,172,172

In [60]:
final[final["flag_aprovacao"]==1].shape

(172, 7)

In [65]:
lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"].tolist()

In [66]:
# lista_pricing = final[final["flag_aprovacao"]==1]["cnpj"]

In [67]:
# lista_pricing = df['cnpj'].unique().tolist()

In [68]:
lista_pricing.__len__()

172

In [69]:
from tqdm import tqdm_notebook
import requests

In [70]:
el = lista_pricing[0]

In [74]:
pa = CriteriosElegibilidade(cnpj=el, produto='kred')
pa.get_dados()
dff = pa.dados

In [75]:
dff

         data    valor
0  2018-09-01   5000.0
1  2018-11-01   4420.0
2  2018-12-01  10800.0
3  2019-01-01  17350.0
4  2019-02-01  14550.0
5  2019-03-01  14450.0
6  2019-04-01  16555.1
7  2019-05-01  10830.0
8  2019-06-01   8639.0

In [76]:
dff["data"] = dff.apply(lambda x : x["data"] - relativedelta(months=1), axis=1)

In [77]:
dff

         data    valor
0  2018-08-01   5000.0
1  2018-10-01   4420.0
2  2018-11-01  10800.0
3  2018-12-01  17350.0
4  2019-01-01  14550.0
5  2019-02-01  14450.0
6  2019-03-01  16555.1
7  2019-04-01  10830.0
8  2019-05-01   8639.0

In [94]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "padrao"}

fr = []
for el in tqdm_notebook(lista_pricing):
    pa = CriteriosElegibilidade(cnpj=el, produto='kred')
    pa.get_dados()
    dff = pa.dados
    
    dff['adquirentes'] = "bin"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : formata_cnpj(el),
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=172), HTML(value='')))

In [97]:
dfp = pd.concat(fr)

In [98]:
dfp.shape

(172, 2)

In [99]:
dfp.dropna().shape

(172, 2)

In [100]:
dfp.head()

             cnpj  vol_max
0  00335814000187  13500.0
0  00400332000163      0.0
0  00620348000181  14500.0
0  00869671000193  28500.0
0  00921545000130  61000.0

In [40]:
dfp.fillna(-1, inplace=True)

In [44]:
err2 = dfp[dfp['vol_max']==-1]["cnpj"].tolist()

In [71]:
lista_extra = ['07173574000100', '09396386000258', '11663862000110']

In [45]:
url = "https://api.pricing.captalys.io/models/PricingPadrao"
header = {"X-Consumer-Custom-Id": "padrao"}

fr2 = []
for el in tqdm_notebook(err2):
    pa = CriteriosElegibilidade(cnpj=el, produto='au5')
    pa.get_dados()
    dff = pa.dados
    dff["data"] = dff.apply(lambda x : x["data"] - relativedelta(months=1), axis=1)
    dff['adquirentes'] = "bin"
    fat_medio = dff.groupby(["data"]).sum()["valor"].mean()
    dff.dropna(inplace=True)

    fluxos = dict()
    for adq in dff['adquirentes'].unique().tolist():
        dt = dff[dff['adquirentes']==adq]
        dt['data'] = dt.apply(lambda x : str(x['data'].day) + "-" +str(x['data'].month)+"-" + str(x['data'].year), axis=1)
        fluxos[adq] = dt[['data', 'valor']].to_dict("records")


    body = {
    "fluxos" : fluxos,
    "cnpj" : el,
    "cnae" : "4744-0",
    "volume_escolhido" : 0.5*fat_medio
    }

    req = requests.post(url, headers=header, json=body)

    js = req.json()
    if len(js) == 0:
        vol_max = 0
    else:
        vol_max = js.get("valor_maximo")
    fr2.append(pd.DataFrame({"cnpj" : [el], "vol_max" : [vol_max]}))

HBox(children=(IntProgress(value=0, max=43), HTML(value='')))

In [47]:
dfp2 = pd.concat(fr2)

In [49]:
dfp2.head()

             cnpj  vol_max
0  00554520000146  12500.0
0  01391543000140  19500.0
0  01760235000144   7500.0
0  07114517000150  44000.0
0  07763462000100   9500.0

In [51]:
dfp = dfp[dfp['vol_max']!=-1]

In [79]:
dfp = dfp.dropna()

In [103]:
dfp.sort_values("vol_max").head()

             cnpj  vol_max
0  82686445000131      0.0
0  08902949000199      0.0
0  08933408000128      0.0
0  30393295000174      0.0
0  09516909000171      0.0

In [104]:
df_pricing = dfp.copy()

In [52]:
df_pricing = pd.concat([dfp, dfp2])

In [105]:
df_pricing.shape

(172, 2)

In [106]:
df_pricing.head()

             cnpj  vol_max
0  00335814000187  13500.0
0  00400332000163      0.0
0  00620348000181  14500.0
0  00869671000193  28500.0
0  00921545000130  61000.0

In [107]:
reprovados_pricing = df_pricing[df_pricing["vol_max"] ==0]

In [108]:
reprovados_pricing.head()

             cnpj  vol_max
0  00400332000163      0.0
0  01467038000131      0.0
0  01717819000137      0.0
0  02149418000352      0.0
0  03314225000100      0.0

In [109]:
sem_proposta = df_pricing[df_pricing["vol_max"]==0]["cnpj"].tolist()

In [110]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_kred set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [111]:
engine = create_engine("mysql+pymysql://capmaster:#jackpot123#@captalysdev.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
for el in sem_proposta:
    con.execute("update fluxo_kred set flag_aprovacao=0 where cnpj='{}'".format(el))
con.close()

In [112]:
df_aprov = df_pricing[df_pricing["vol_max"]>0]

In [113]:
df_aprov.shape

(125, 2)

In [114]:
df_aprov.shape

(125, 2)

In [117]:
final["flag_proposta"] = final.apply(lambda x : int(x["cnpj"] not in sem_proposta) if x["flag_aprovacao"]==1 else None, axis=1)

In [119]:
final["flag_aprovacao2"] = final["flag_aprovacao"]*final["flag_proposta"]

In [121]:
final.fillna({"flag_aprovacao2" : 0}, inplace=True)

In [123]:
final.groupby("flag_aprovacao2").count()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_consulta,flag_aprovacao,flag_proposta
flag_aprovacao2,,,,,,,,
0.0,1184,1184,1184,1184,92,1184,1184,47
1.0,125,125,125,125,125,125,125,125

In [125]:
final.groupby("flag_aprovacao").count()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_consulta,flag_proposta,flag_aprovacao2
flag_aprovacao,,,,,,,,
0,1137,1137,1137,1137,45,1137,0,1137
1,172,172,172,172,172,172,172,172

In [127]:
final.drop(columns=["flag_aprovacao"], axis=1, inplace=True)

In [129]:
final.rename(columns={"flag_aprovacao2" : "flag_aprovacao"}, inplace=True)

In [132]:
final.drop(columns=["flag_consulta"], axis=1, inplace=True)

In [135]:
final["data_atualizacao"] = datetime.now().date()

In [138]:
final["produto"] = "kred"

In [139]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
final.to_sql("pre_analise", schema='varejo', con=con, if_exists='append', index=False)
con.close()

In [141]:
final.head()

,cnpj,flag_faturamento,flag_cheques,flag_dividas,data_consulta,flag_proposta,flag_aprovacao,data_atualizacao,produto
0,00155245000198,1,0,0,2019-07-04,NaN,0.0,2019-07-05,kred
0,00335814000187,1,1,1,2019-07-04,1.0,1.0,2019-07-05,kred
0,00400332000163,1,1,1,2019-07-04,0.0,0.0,2019-07-05,kred
0,00426978000110,0,1,1,None,NaN,0.0,2019-07-05,kred
0,00464938000162,0,1,1,None,NaN,0.0,2019-07-05,kred

In [142]:
df_aprov["vol_max"].sum()

6538000.0

In [143]:
df_aprov["vol_max"].mean()

52304.0

In [144]:
df_aprov.to_excel("pre_analise_kred_20190705.xlsx")

In [147]:
df_aprov.head()

             cnpj  vol_max
0  00335814000187  13500.0
0  00620348000181  14500.0
0  00869671000193  28500.0
0  00921545000130  61000.0
0  01138579000116  15500.0

In [149]:
final.shape

(1309, 9)

In [150]:
df_aprov.shape

(125, 2)

In [151]:
125/1309

0.09549274255156608

In [69]:
df_aprov.head()

             cnpj  vol_max
0  00108285000189  38500.0
0  00124654000127   9000.0
0  00227969000108   6500.0
0  00228124000129  23000.0
0  00246419000128  14000.0

In [152]:
def get_score(cnpj, produto):
    url = "https://api.pricing.captalys.io/models/scoring/{}/{}".format(cnpj, produto)
    req = requests.get(url)
    return req.json().get("score")

In [154]:
df_aprov["score"] = df_aprov.apply(lambda x : get_score(x["cnpj"], "kred"), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
def get_fat_medio(cnpj, produto):
    ce = CriteriosElegibilidade(cnpj=cnpj, produto=produto)
    ce.get_dados()
    return np.around(ce.dados["valor"].mean(), 2)

In [158]:
df_aprov["fat_medio"] = df_aprov.apply(lambda x : get_fat_medio(x["cnpj"], "kred"), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [161]:
df_aprov["modelo"] = "PricingPadrao"
df_aprov["produto"] = "Kred"
df_aprov["data_posicao"] = datetime.now().date()
df_aprov.rename(columns={"vol_max" : "proposta_max"}, inplace=True)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/lidi/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [163]:
df_aprov.head()

,cnpj,proposta_max,score,fat_medio,modelo,produto,data_posicao
0,00335814000187,13500.0,569.0,11399.34,PricingPadrao,Kred,2019-07-05
0,00620348000181,14500.0,632.0,11673.57,PricingPadrao,Kred,2019-07-05
0,00869671000193,28500.0,631.0,22679.09,PricingPadrao,Kred,2019-07-05
0,00921545000130,61000.0,613.0,48871.33,PricingPadrao,Kred,2019-07-05
0,01138579000116,15500.0,685.0,12104.48,PricingPadrao,Kred,2019-07-05

In [164]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df_aprov.to_sql("propostas_mensais", schema="varejo", con=con, if_exists="append", index=False)
con.close()

In [165]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dfprop = pd.read_sql("select * from propostas_mensais", con)
con.close()

In [167]:
dfprop = dfprop[dfprop["cnpj"]!='00.000.000/0001-91']

In [169]:
dfprop["cnpj"] = dfprop.apply(lambda x : x["cnpj"].replace(".", "").replace("-", "").replace("/", ""), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [171]:
dfprop["fat_medio"] = dfprop.apply(lambda x : np.around(x["fat_medio"], 2), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [173]:
dfprop["produto"] = dfprop.apply(lambda x : x["produto"].lower(), axis=1)

/home/lidi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [175]:
dfprop.head()

,cnpj,fat_medio,score,proposta_max,modelo,produto,data_posicao
1,00225356000123,11395.63,405.0,7500.0,PricingPadrao,pv,2019-06-30
2,00354700000184,45067.16,769.0,62000.0,PricingPadrao,pv,2019-06-30
3,00549449000103,10765.14,615.0,13000.0,PricingPadrao,pv,2019-06-30
4,00560279000168,19008.98,731.0,24500.0,PricingPadrao,pv,2019-06-30
5,00575851000162,47723.56,715.0,60000.0,PricingPadrao,pv,2019-06-30

In [176]:
dfprop["produto"].unique().tolist()

['pv', 'moip', 'justa', 'pv_boleto', 'kred']

In [ ]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
dfprop.to_sql("propostas_mensais", schema="varejo")

In [117]:
df_aprov.shape

(640, 2)

In [71]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj from acompanhamento", con)
con.close()

In [73]:
dfacomp.shape

(181, 1)

In [75]:
df[df['cnpj'].isin(dfacomp["cnpj"].tolist())]

Empty DataFrame
Columns: [cnpj]
Index: []

In [76]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/credito-digital")
con = engine.connect()
dff = pd.read_sql("select distinct cnpj from tb_Fluxo", con)
con.close()

In [78]:
df[df['cnpj'].isin(dff['cnpj'].tolist())]

Empty DataFrame
Columns: [cnpj]
Index: []

In [128]:
_rep = df_aprov[df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]["cnpj"].tolist()

In [137]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [140]:
df_aprov.shape

(590, 2)

In [142]:
df_aprov.head()

             cnpj  vol_max
0  00225356000123   7500.0
0  00354700000184  62000.0
0  00549449000103  13000.0
0  00560279000168  24500.0
0  00575851000162  60500.0

In [139]:
df_aprov.to_excel("pre_analise_aprovados_pv_201906.xlsx")

In [130]:
df_reprov = pd.DataFrame()
df_reprov["cnpj"] = rep_total + _rep

In [131]:
df_reprov.to_excel("pre_analise_reprovados_pv_201906.xlsx")

In [132]:
df_reprov

                cnpj
0     00020674000158
1     00092324000105
2     00107079000154
3     00133584000173
4     00178663000109
5     00178663000281
6     00212847000130
7     00226038000187
8     00231852000190
9     00246733000100
10    00251615000190
11    00252521000217
12    00262508000168
13    00265954000126
14    00265954000207
15    00298284000144
16    00325231000175
17    00331353000174
18    00378552000138
19    00388775000186
20    00397592000127
21    00437101000124
22    00442658000153
23    00506770000100
24    00539633000172
25    00765225000139
26    00824725000102
27    00875470000107
28    00916008000100
29    00983934000190
...              ...
1964  19790945000182
1965  19955230000132
1966  20001525000159
1967  20459310000186
1968  20672012000170
1969  20694842000106
1970  21446591000103
1971  22697828000183
1972  22968600000180
1973  24247971000107
1974  24936037000194
1975  25358802000107
1976  26196219000100
1977  26232310000125
1978  26278224000153
1979  26314983000124
1980  26786720000118
1981  26789018000108
1982  27090358000109
1983  27390223000169
1984  27391245000143
1985  28211284000184
1986  29038664000121
1987  30193075000105
1988  30815523000157
1989  30898048000120
1990  30913849000117
1991  55057392000117
1992  61727053000101
1993  71860498000100

[1994 rows x 1 columns]

In [107]:
dfop = pd.read_excel("analise_justa_final.xlsx")

In [111]:
dfop["cnpj"] = dfop["cnpj"].astype(str)

In [113]:
dfop["cnpj"] = dfop.apply(lambda x : "0" + x["cnpj"] if len(x["cnpj"])==13 else
                          ("00" + x["cnpj"] if len(x['cnpj'])==12 else x["cnpj"]), axis=1)

In [115]:
lista_op = dfop["cnpj"].unique().tolist()

In [116]:
df_aprov.shape

(178, 2)

In [122]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(lista_op)]

In [126]:
df_aprov.head()

             cnpj  vol_max
0  00150714000186   9000.0
0  00686810000143  24500.0
0  00874646000289   6000.0
0  00874646000360   6000.0
0  00874646000440   5500.0

In [135]:
df_aprov.shape

(160, 2)

In [136]:
dftrava = pd.read_excel("consulta_trava_justa_20190612.xlsx")

In [138]:
dftrava["cnpj"].iloc[0]

150714000186

In [139]:
dftrava["cnpj"] = dftrava["cnpj"].astype(str)

In [144]:
dftrava[dftrava.index==84]["cnpj"].iloc[0]

'1242387000155'

In [145]:
dftrava["cnpj"] = dftrava.apply(lambda x : "00" + x["cnpj"] if len(x["cnpj"])==12 else
                                ("0" + x["cnpj"] if len(x["cnpj"])==13 else x["cnpj"]), axis=1)

In [153]:
dftrava[dftrava["cnpj"]=='04943517000175']

               cnpj      bandeira trava dataConsulta
252  04943517000175          VISA     N   2019-06-12
253  04943517000175        MASTER     N   2019-06-12
254  04943517000175      BANESTES     N   2019-06-12
255  04943517000175    CREDSYSTEM     N   2019-06-12
256  04943517000175     VERDECARD     N   2019-06-12
257  04943517000175      SOROCRED     N   2019-06-12
258  04943517000175       SICREDI     N   2019-06-12
259  04943517000175         CREDZ     N   2019-06-12
260  04943517000175         CABAL     N   2019-06-12
261  04943517000175  BANRICOMPRAS     N   2019-06-12
262  04943517000175        BANESE     N   2019-06-12
263  04943517000175     HIPERCARD     N   2019-06-12
264  04943517000175           ELO     N   2019-06-12
265  04943517000175        DINERS     N   2019-06-12

In [150]:
fr = []
for el in dftrava["cnpj"].unique().tolist():
    dt = dftrava[dftrava['cnpj']==el]
    lista_trava = dt['trava'].tolist()
    flag_trava = 'S' if 'S' in lista_trava else 'N'
    fr.append(pd.DataFrame({'cnpj' : [el], 'flag_trava' : [flag_trava]}))

In [155]:
resp = pd.concat(fr)

In [158]:
df_aprov.shape

(160, 2)

In [162]:
ret = df_aprov.merge(resp, left_on='cnpj', right_on='cnpj', how='left')

In [164]:
ret[ret["cnpj"].isin(["30589990000106", "30589922000106", "30589922000147"])]

               cnpj  vol_max flag_trava
139  30589922000147  13000.0          N
140  30589990000106   6000.0          N

In [166]:
ret.to_excel("pre_analise_justa_201906.xlsx")

In [128]:
final["flag_pricing"] = final.apply(lambda x : 0 if x["cnpj"] in sem_proposta else 1, axis=1)

In [130]:
final[final["flag_pricing"]==0]

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,07633539000127,1,1,1,1,7,2019-06-11,0,1,0
0,07931239000124,1,1,1,1,7,2019-06-11,0,1,0
0,10671041000163,1,1,1,1,7,2019-06-11,0,1,0
0,11020761000202,1,1,1,1,7,2019-06-11,0,1,0
0,11260310000242,1,1,1,1,6,2019-06-11,0,1,0
0,11260310000676,1,1,1,1,7,2019-05-31,0,1,0
0,12996635000170,1,1,1,1,6,2019-06-11,0,1,0
0,13349922000150,1,1,1,1,7,2019-06-11,0,1,0
0,14427836000181,1,1,1,1,6,2019-06-11,0,1,0
0,20868409000131,1,1,1,1,7,2019-06-11,0,1,0
0,23030585000279,1,1,1,1,6,2019-06-11,0,1,0
0,26868707000108,1,1,1,1,7,2019-05-31,0,1,0
0,27074288000103,1,1,1,1,7,2019-05-31,0,1,0
0,28003808000141,1,1,1,1,7,2019-06-11,0,1,0
0,28666174000107,1,1,1,1,7,2019-06-11,0,1,0
0,28789082000114,1,1,1,1,7,2019-06-11,0,1,0
0,29988990000108,1,1,1,1,7,2019-05-31,0,1,0

In [131]:
final

,cnpj,flag_faturamento,flag_transacoes,flag_cheques,flag_dividas,historico,data_consulta,flag_consulta,flag_aprovacao,flag_pricing
0,00121514000103,0,0,1,1,1,None,1,0,1
0,00147048000127,0,1,0,1,3,2019-05-21,0,0,1
0,00147569000184,0,0,1,1,1,None,1,0,1
0,00150714000186,1,1,1,1,7,2019-05-31,0,1,1
0,00160703000187,0,1,1,1,3,None,1,0,1
0,00327378000102,0,1,1,1,3,None,1,0,1
0,00431292000117,0,0,1,1,1,None,1,0,1
0,00440094000110,0,0,1,1,1,None,1,0,1
0,00451803000162,0,0,1,1,1,None,1,0,1
0,00451803000324,0,0,1,1,1,None,1,0,1
0,00489194000130,0,0,1,1,7,None,1,0,1
0,00686810000143,1,1,1,1,7,2019-05-31,0,1,1
0,00704375000132,0,0,1,1,4,None,1,0,1
0,00729716000124,0,0,1,1,6,None,1,0,1
0,00753909000110,0,0,1,1,1,None,1,0,1
0,00842847000113,1,1,1,0,7,2019-05-31,0,0,1
0,00844335000196,0,0,1,1,4,None,1,0,1
0,00844335000609,0,0,1,1,7,None,1,0,1
0,00874646000106,1,0,1,1,7,2019-06-11,0,0,1
0,00874646000289,1,1,1,1,7,2019-05-27,0,1,1
0,00874646000360,1,1,1,1,7,2019-06-11,0,1,1
0,00874646000440,1,1,1,1,7,2019-06-11,0,1,1
0,00905636000182,0,0,1,1,1,None,1,0,1
0,00910459000122,0,0,1,1,1,None,1,0,1
0,00934773000145,1,1,1,1,7,2019-05-30,0,1,1
0,00941051000118,0,0,1,1,1,None,1,0,1
0,01046339000191,1,0,1,1,7,2019-06-11,0,0,1
0,01080801000177,0,0,1,1,1,None,1,0,1
0,01098518000172,0,0,1,1,1,None,1,0,1
0,01113005000193,0,0,1,1,1,None,1,0,1
...,...,...,...,...,...,...,...,...,...,...
0,83325498000190,0,0,1,1,1,None,1,0,1
0,86505419000110,0,0,1,1,1,None,1,0,1
0,87188546000100,0,0,1,1,1,None,1,0,1
0,87188546000104,0,0,1,1,7,None,1,0,1
0,87189106000163,0,0,1,1,7,None,1,0,1
0,87247102000194,0,0,1,1,1,None,1,0,1
0,90147216000177,0,0,1,1,7,None,1,0,1
0,90917261000163,0,0,1,1,1,None,1,0,1
0,91157743000125,0,0,1,1,1,None,1,0,1
0,91320028000161,0,0,1,1,7,None,1,0,1
0,92195528000181,0,0,1,1,7,None,1,0,1
0,93354744000195,0,0,1,1,1,None,1,0,1
0,93379337000132,1,1,1,0,7,2019-06-11,0,0,1
0,93886505000186,0,0,1,0,1,2019-03-07,0,0,1
0,94029584000171,0,0,1,1,1,None,1,0,1
0,94044468000121,0,0,1,1,1,None,1,0,1
0,94240314000105,0,0,1,1,1,None,1,0,1
0,94261385000194,0,0,1,1,1,None,1,0,1
0,94528890000152,0,0,1,1,1,None,1,0,1
0,94580412000191,0,0,1,1,6,None,1,0,1
0,95159166000161,0,0,1,1,1,None,1,0,1
0,96435722000148,0,0,1,1,1,None,1,0,1
0,97307102000196,0,0,1,1,1,None,1,0,1
0,97542416000173,1,1,1,1,7,2019-05-30,0,1,1
0,05582611000109,0,0,1,1,1,None,1,0,1
0,31144973000128,1,1,1,1,7,2019-05-30,0,1,1
0,31145142000170,0,0,1,1,1,None,1,0,1
0,31174944000109,0,1,1,1,1,None,1,0,1
0,31175234000101,0,0,1,1,1,None,1,0,1
0,31211109000100,0,0,1,1,1,None,1,0,1

In [100]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/apiPricing")
con = engine.connect()
dfacomp = pd.read_sql("select cnpj, produto from acompanhamento where produto='WIRECARD' and status!='QUITADA'", con)
con.close()

In [103]:
df_aprov.shape

(664, 2)

In [111]:
df_aprov = df_aprov[~df_aprov["cnpj"].isin(dfacomp["cnpj"].tolist())]

In [113]:
df_aprov.shape

(652, 2)

In [114]:
df_aprov.to_excel("pre_analise_wirecard_201906.xlsx")

In [115]:
df_aprov

              cnpj    vol_max
0   00018460000147     8000.0
0   00195664000153     7500.0
0   00240629000109     8000.0
0   00272073000302   152500.0
0   00467109000133     6500.0
0   00548620000160    34500.0
0   00566262000118    21000.0
0   00570256000134   217000.0
0   00626948000157    32000.0
0   00986814000147     7500.0
0   01056417000139    19000.0
0   01184310000176     5500.0
0   01337552000152    27000.0
0   01344128000135    20500.0
0   01564112000138    10500.0
0   01799108000159    28500.0
0   01863881000137    15500.0
0   01879689000139    11000.0
0   01937526000165    45500.0
0   02092758000122     6000.0
0   02319380000408     8000.0
0   02392887000136    19500.0
0   02800667000102     9000.0
0   02801076000141     5500.0
0   03070616000127     5500.0
0   03241334000145    67000.0
0   03241608000104     9500.0
0   03252315000114    29000.0
0   03347828000109    14000.0
0   03378624000135   121500.0
..             ...        ...
0   58028838000173    76500.0
0   59708412000638    15500.0
0   60877859000105    26500.0
0   61328811000100    10500.0
0   61904306000167    27500.0
0   61933404000122    21500.0
0   65868747000101    23000.0
0   66019266000194     7500.0
0   70176664000191    11000.0
0   71673990000177  2500000.0
0   71728778000160    44500.0
0   71834089000130    75000.0
0   72178353000197    14000.0
0   72559297000130    20000.0
0   74645169000135    37000.0
0   75064261000174    68000.0
0   78997095000157    18000.0
0   80189772000152    57500.0
0   81043085000197     8000.0
0   90005307000178   272000.0
0   90146747000145    15500.0
0   90406117000162    26500.0
0   90432717000103    72000.0
0   90539453000183    28500.0
0   92666056000106    18000.0
0   92785047000126    22000.0
0   93886505000186    42500.0
0   96364815000129    14000.0
0   97117477000193     7500.0
0   97548453000199    12500.0

[652 rows x 2 columns]

In [1]:
from watchdog.rotinas import analise_pendencias